[2022-05-16 03:18] u-Sir opened #592 "Chinese characters to Pinyin (supports polyphonic characters)"
**Is your feature request related to a problem? Please describe.**
[Chinese characters to Pinyin (supports polyphonic characters)](https://www.programmersought.net/article/325476686.html)

**Describe the solution you'd like**
Now,pinyin search not work perfect with polyphonic characters, e.g
`乐` :
    in `音乐` is `yue`,
    in `娱乐` is `le`.

now, QQ音乐 wil trigger by `qqyl`(wrong) not `qqyy`(right).

[2022-05-16 16:46] H5820121 commented on #589
Yes.

[2022-05-17 14:02] mragtronx8 opened #593 "File Dialog Change Folder"
File Dialog Change Folder
#BUG

windows 10 21h2 - fs 0.9.91.70/71
https://drive.google.com/file/d/1YUtaQnCEwcSf7POHdgsZFHkcdQ_SbR8b/view?usp=sharing

it is not switching correctly to the target location/path

note: **it is heading to the previous location, where the file/s were saved [BUG]**

[2022-05-21 09:10] qstdnx opened #594 "Suspend in certain software"
**Is your feature request related to a problem? Please describe.**
There are a lot of shortcut key settings in fluentsearch, which will inevitably conflict with some software or game shortcut keys, so I can only turn off fluentsearch to avoid conflicts.

**Describe the solution you'd like**
1.Simple: provide a shortcut key to temporarily turn off / reopen all shortcut keys
2.Advanced: FC provides

[2022-05-21 09:34] adirh3 commented on #594
@qstdnx thanks for the feedback, I understand you want to completely disable the hotkey and not just make Fluent Search ignore it?
The issue with temporarily unregistering a hotkey is that when you register it again it may not be available.

Currently there are three ways to ignore hotkeys -
1. `Enable Gaming mode` in the system tray menu which ignores all hotkeys and disables background processin

[2022-05-21 13:43] qstdnx commented on #594
@adirh3 I'm sorry. I think **ignore hotkey on foreground processes** is what I want. I ignored it when I set up FS and wasted your time here. Even if there are software registrate shortcuts that conflict with FS, most of those software and FS shortcuts can be modified, so that's enough to use now.

[2022-05-21 13:46] #594 closed

[2022-05-21 16:03] adirh3 commented on #590
@mragtronx8 does it happen when using the FS file indexer? or only Everything?

[2022-05-21 16:14] mragtronx8 commented on #590
both fs & everything indexer

[2022-05-21 16:23] mragtronx8 commented on #590
it is sometimes happening "not always", 50/50
with both fs + everything indexers

[2022-05-21 16:24] adirh3 commented on #590
Can you please disable Screen search app in settings and see if it's related

[2022-05-21 16:28] adirh3 commented on #591
@mragtronx8 only on these file managers? On explorer it works 100% of the time?

[2022-05-21 16:52] mragtronx8 commented on #591
happening in all

[2022-05-21 17:27] qstdnx commented on #594
@adirh3 A weird bug, I set the shortcut key for **In-app search** to  **Alt+q**, **Search hotkey** to **ctrl+q**. I have no problem using **ctrl+q** when playing games that I have ignored, but it doesn't trigger properly when I use **Alt+q**. This is also happened  in **gaming mode **.
The game I played is **Age of Empires III Definitive Edition**, which is a RTS game that needs a lot of shortcut

[2022-05-21 17:42] adirh3 commented on #594
Interesting, I checked using AutoHotkey and seems like all key events are present when using Alt+Q on my machine. What happens is probably when pressing Alt+Q another key is being pressed alongside it, which cause it to not trigger the game.
If you can send me your settings files in Discord PM I can check what's causing it. The settings are in `%appdata%\Blast\Settings`

[2022-05-21 19:28] adirh3 commented on #593
This issue has been potentially fixed in version 0.9.91.72                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-21 19:42] #593 closed

[2022-05-21 19:43] #590 closed

[2022-05-21 20:57] H5820121 opened #595 "Document preview does not work well"
Document preview does not work well, a screenshot is attached here.
Win 10 PRO 21H2 Language Hebrew
FS 0.9.91.71
Thanks!
– By the way, where has the Hebrew translation gone? It was a good translation.
![BUG](https://user-images.githubusercontent.com/105562828/169668643-adfc672e-47e8-4726-933b-8761287c7847.png)

[2022-05-22 06:47] qstdnx commented on #594
@adirh3 I just tried again, and it couldn't be triggered.
Open FS
![1](https://user-images.githubusercontent.com/20844622/169682483-cf78f16b-d815-4274-96e8-e0db310d406d.gif)
Close FS
![3](https://user-images.githubusercontent.com/20844622/169682564-71c01939-dff1-4c2b-aac6-d8a1def44006.gif)
setting
[Settings.zip](https://github.com/adirh3/Fluent-Search/files/8748936/Settings.zip)

[2022-05-22 06:56] adirh3 commented on #595
Hey, docx files are not supported yet by the preview.
Hebrew translation was a machine translation, I will add it back once it's fully translated.
If youd like to help with the translations, please join the Discord server - https://discord.gg/W2EuWvD6GD

[2022-05-22 06:59] adirh3 commented on #594
Thanks @qstdnx will check it, I deleted your comment because the Settings files may contain personal information.
Next time please send me it in Discord/mail.

[2022-05-22 07:06] qstdnx commented on #594
Thanks.(͡° ͜ʖ ͡°)

[2022-05-22 16:20] adirh3 commented on #594
@qstdnx I can't seem to repro this, when pressing Alt+Q I see all keys behind pressed in AutoHotkey -
![image](https://user-images.githubusercontent.com/27368554/169705303-efa03ae0-ec63-4991-988b-d1c9ad8ce0ad.png)
It probably means that this games tries to hook the hotkey of Alt+Q, can you do a test - unregister Alt+Q in FS, then start the game press Alt+Q, and then try to register Alt+Q again in

[2022-05-22 17:20] H5820121 commented on #595
Thanks for the response!
I'm waiting for the FS preview for DOCX files, for now I'm using the 'QuickLook' preview, but I prefer the FS preview because it displays larger PDFs faster than the 'QuickLook'.
And again thanks for your very useful software!

[2022-05-23 03:25] qstdnx commented on #594
@adirh3 removing the hotkey Alt+q, Alt+q can be used normally in the game, and re-register Alt+q in the running state of the game, It can't be used properly in the game.

[2022-05-24 16:14] adirh3 commented on #589
@H5820121 this is possible through Tasks, currently I don't plan to add this as a dedicated feature inside FS.
To use Tasks, open the Tasks window using the system tray menu, then -
1. Create new Task project
2. Right click the canvas, Trigger -> Result selector
3. In result type set it to `File`, and save
4. Right click again, Search -> Custom operation, then name it `Open file in X`
5. Finally,

[2022-05-24 16:16] adirh3 commented on #584
Sorry for late reply, if the app is minimized to system there is no way to bring it up in 100% of the cases.
Opening the `App` result should bring it app in most cases, depends on the app implementation.

[2022-05-24 17:53] adirh3 commented on #323
@ttxhxz updating that the interface is almost fully translated to Chinese in 0.9.91.x nightly version.
If you can please check it out and let me know if you have any feedback.

[2022-05-24 17:54] adirh3 commented on #110
@u-Sir does it happen on latest nightly?

[2022-05-24 19:34] adirh3 commented on #544
This issue has been potentially fixed in version 0.9.91.74                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-24 22:28] cannibalox opened #596 "[FR] markdown preview/render using the FS previewer"
**Is your feature request related to a problem? Please describe.**

I really like to use FS to glimpse and quick-edit my markdown notes (stored in logseq / obsidian), I would love to have a render/preview of markdown files using the FS previewer in the fluent pane.(maybe wysiwig editing inside the code editor even ?)

**Describe the solution you'd like**

- the current FS works nicely to edit md f

[2022-05-25 00:27] u-Sir commented on #110
If using `tab` to switch tag, the position still shows over the tag.
![screenshots](https://user-images.githubusercontent.com/93647031/170153158-da04e68b-3bd4-4b6e-8259-5f54b1559ddc.gif)

[2022-05-25 16:50] H5820121 commented on #589
Thanks, it works well!
And thank you for the large investment for the benefit of the public, which is evident in every detail, and it is just a pity that there is no FS preview for the very useful DOCX files as well.

[2022-05-25 16:53] adirh3 commented on #589
Glad it helped, closing this :)
Preview for docx might be added after I finish 0.9.91.x.

[2022-05-25 16:53] #589 closed

[2022-05-26 19:14] adirh3 commented on #354
@MakeshVineeth can you still repro this? I can't on latest nightly version

[2022-05-26 19:21] adirh3 commented on #151
Hey @KibSquib48, this feature is available in the nightly version (> 0.9.91.x).
You can try it by updating to the nightly version through Settings -> System -> Release feed -> Nightly, or downloading the nightly version separately, links here - https://github.com/adirh3/Fluent-Search/

[2022-05-26 19:22] adirh3 commented on #168
@cannibalox this should be available on latest nightly, please check and let me know if it works for you

[2022-05-26 19:23] #390 closed

[2022-05-26 19:23] adirh3 commented on #15
The plugins auto updates now, forgot to update here

[2022-05-26 19:23] #15 closed

[2022-05-26 19:25] adirh3 commented on #29
@Metroid-Prime FS saves now all sizes, but position will not be saved after restart.
I don't think keeping position is expected behavior (also it's problematic technically).
So I am closing it, feel free to reopen if you disagree.

[2022-05-26 19:25] #29 closed

[2022-05-26 19:33] #63 closed

[2022-05-26 19:34] #69 closed

[2022-05-26 19:35] adirh3 commented on #75
Fixed on latest stable, feel free to reopen if it's still not working for you

[2022-05-26 19:35] #75 closed

[2022-05-26 19:37] adirh3 commented on #94
Should be fixed on latest stable version

[2022-05-26 19:37] #94 closed

[2022-05-26 19:46] adirh3 commented on #127
Should be fixed on latest stable/nightly, closing. Feel free to reopen if it's not fixed on your side

[2022-05-26 19:46] #127 closed

[2022-05-27 04:32] Metroid-Prime commented on #15
yay, thank you Adir! Long been coming

[2022-05-27 04:32] Metroid-Prime commented on #29
Both are ideal, but size is much important than position IMO.

Thank you for implementing this and I agree with closure.

[2022-05-27 16:31] #141 closed

[2022-05-27 16:33] adirh3 commented on #149
Due to system tray being limited (can't have tooltips, icon looks weird depending on screen DPI), I have built it into the search bar.
When Fluent Search is indexing, it will show a progress ring in the search bar with indication of which drives/paths it's currently indexing.
Closing, thanks :)

[2022-05-27 16:33] #149 closed

[2022-05-27 16:45] adirh3 commented on #155
@rsmyst thanks for the feedback, this has been added a while ago, forgot to update here.
Closing, thanks!

[2022-05-27 16:45] #155 closed

[2022-05-27 16:46] #163 closed

[2022-05-27 16:56] #167 closed

[2022-05-27 17:02] adirh3 commented on #177
You can now change icon size (resolution) in Settings -> Search -> Icon resolution.
Setting it to `Low` will achieve same result as other launchers (Wox, Listary, etc.), which is 64x64 resolution

[2022-05-27 17:02] #177 closed

[2022-05-27 17:21] Basic6969 opened #597 "Idk a black square border is there"
**Describe the bug**
A black square border is there screenshot attached

**To Reproduce**
Steps to reproduce the behavior:
Nothing when opened it shows that

**Expected behavior**
![image](https://user-images.githubusercontent.com/98833613/170758829-0d75491b-e79b-4d67-8b44-a02c9321643b.png)

**Screenshots**
![image](https://user-images.githubusercontent.com/98833613/170758663-7d9ff62b-b8ea-4e72-94

[2022-05-27 17:45] adirh3 commented on #191
Thanks for the feedback, I think that having a different setting for max search results based on search will only confuse users.
Closing

[2022-05-27 17:45] #191 closed

[2022-05-27 17:50] #597 closed

[2022-05-27 19:13] adirh3 commented on #197
@hpr1999, sorry for the delay, since there are tons of features users may want, I developed the `Tasks` features which lets you expand Fluent Search functionality.
One of its options is to run PowerShell code, which can let you do exactly what you need.

I created a basic Task project that lets you move processes to the current VD, here it is -https://1drv.ms/u/s!AqOQDvYFLMuago1UpA39ilxsCSETgQ?e=c

[2022-05-27 19:24] adirh3 commented on #198
The issue when Fluent Search restarted itself many times is fixed.
Added documentations both in GitHub and website that only Windows 10 and 11 are supported.

Closing, thanks!

[2022-05-27 19:24] #198 closed

[2022-05-27 20:34] adirh3 commented on #215
Added support for correctly parsing Steam link files in the Start menu folder, as discussed previously @Skyyblaze confirmed it's working.
Closing issue, thanks!

[2022-05-27 20:34] #215 closed

[2022-05-27 20:55] adirh3 commented on #223
Running Fluent Search as administrator is not recommended, since anything that FS opens will run as admin as well.
Fluent Search is used to open apps, files, scripts, etc, I'd like to avoid encouraging users opening various apps and files with admin privileges.
If someone needs to run FS as admin and they know what they're doing, they can do as suggested above.

Closing, thanks!

[2022-05-27 20:55] #223 closed

[2022-05-27 21:27] adirh3 commented on #243
This is due to Quick Look not being top most window. It might be possible to change in their settings.
You can also disable `Show at top most` in Fluent Search settings.

[2022-05-27 21:27] #243 closed

[2022-05-27 21:31] adirh3 commented on #267
@minawaheed9697 this should be fixed on latest nightly, I can't repro this.
Feel free to reopen if you're still experiencing the issue.

[2022-05-27 21:31] #267 closed

[2022-05-27 21:35] adirh3 commented on #244
The preview toggle key has been changed to `Alt`, which should solve the issue you're describing.
Having custom shortcut support for this may conflict with user's search hotkey, and I think may be a bit confusing.
Closing this, feel free to reopen if you think `Alt` is not sufficient.
Thanks!

[2022-05-27 21:35] #244 closed

[2022-05-27 23:07] adirh3 commented on #123
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #139
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #147
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #154
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #133
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #83
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #119
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #176
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #200
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #213
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #225
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #164
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:07] adirh3 commented on #47
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-27 23:22] hpr1999 commented on #197
Hey @adirh3, long time no see. No worries at all! I'm aware you're not exactly a 100-man-team. Quite honestly, I'm amazed you even took the time to build the task yourself! Could've also expected a "if you can do it by powershell, build it as a task" 😂

I'll try to give it a spin to see if it works.

**One question**: Will that work in PS-Core?

[2022-05-27 23:26] hpr1999 commented on #197
I might've spoken to soon:
![image](https://user-images.githubusercontent.com/26067274/170799804-3ae7ca3a-c711-4122-83c8-d9f08084101b.png)

Do you reckon this might be a problem on my end or some permission-shenanigans?
(Also somewhat unrelated, but if it's yaml files anyway, wouldn't it be potentially easier to have them in source control? ;) )

[2022-05-27 23:29] hpr1999 commented on #197
I can confirm the problem was on my end! Weirdly, the link worked in Edge, but not my main browser.

[2022-05-27 23:55] hpr1999 commented on #197
**Update**: I couldn't quite diagnose why, but for me, the operation correctly shows up but instead of moving the window, it'll just switch to the desktop as if I just hit Enter normally.

[2022-05-28 05:21] MakeshVineeth commented on #354
Still facing the issue in the latest version.

FS Version: 0.9.91.76

[2022-05-28 06:18] MakeshVineeth commented on #225
Confirmed to be working. Closing, Thanks :)

[2022-05-28 06:18] #225 closed

[2022-05-28 09:44] adirh3 commented on #354
Still showing the wrong preview? Or you mean it shows in delay?

[2022-05-28 10:04] MakeshVineeth commented on #354
Yeah it shows in delay and in the meantime, if we change to a different result, the old result will be shown on that.

[2022-05-28 10:15] adirh3 commented on #354
Ok finally got to repro that, will fix it.
In general I think it's better to return the control immediately and load data from wiki in background, it will translate to better experience for the user

[2022-05-28 10:28] MakeshVineeth commented on #354
Yeah that would be nice, if there are some search results that have delayed previews, FS can return any generic result and update it when the preview is ready.

[2022-05-28 10:35] adirh3 commented on #354
That would be a bit akward IMO, I meant that you can build the WIKI preview without the description (title, buttons) and in the description write `Loading..`, return that control, and then in the background load the info from Wikipedia and update it.

[2022-05-28 13:22] hpr1999 commented on #213
Hm if I'm reading the changelog correctly, the difference is that the login to Microsoft is now unified?
It changes this ticket, but still has some of the same (**minor**) problems:
- I don't exactly have an overview which permissions FS has (in fact I missed this when logging in and was quiet surprised I gave the ToDo permissions without realising)
- I can't separately grant the permissions anymo

[2022-05-28 13:24] hpr1999 commented on #164
Tested: Seems to work on my machine in the nightly 0.9.91.76. ✅

[2022-05-28 13:25] adirh3 commented on #213
Yes, it's unified, all permissions are manageable per App in your Microsoft account, I don't think FS should manage it as well.
Also, before granting permissions it will tell you exactly which permissions FS requires (in the MS login window)

[2022-05-28 13:25] #164 closed

[2022-05-28 13:39] adirh3 commented on #528
@mragtronx8 does it still happen? If so can you write here text for example

[2022-05-28 13:46] mragtronx8 commented on #528
![image](https://user-images.githubusercontent.com/62798102/170828156-2d3a1b8e-118d-4f21-93fa-7e9e57518b38.png)

to reproduce, just select a text with mouse, and copy it

[2022-05-28 13:48] adirh3 commented on #528
I can't repro that, are you copying empty lines?
![image](https://user-images.githubusercontent.com/27368554/170828267-fb2082f3-7aff-461a-ad9d-f433374a6b15.png)

[2022-05-28 14:01] #528 closed

[2022-05-28 21:10] adirh3 commented on #531
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-28 21:10] adirh3 commented on #591
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-28 21:11] adirh3 commented on #354
This issue has been potentially fixed in version 0.9.91.76                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-28 21:35] adirh3 commented on #531
This issue has been potentially fixed in version 0.9.91.77                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-28 21:35] adirh3 commented on #354
This issue has been potentially fixed in version 0.9.91.77                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-28 21:35] adirh3 commented on #591
This issue has been potentially fixed in version 0.9.91.77                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-28 21:39] #591 closed

[2022-05-29 01:20] #531 closed

[2022-05-29 01:32] 745245208 commented on #544
I update the Fluent Search to 0.9.91.77，but still find some file can not be search：
![image](https://user-images.githubusercontent.com/16131756/170848312-1683c177-c363-423b-b982-92353121ec82.png)
![image](https://user-images.githubusercontent.com/16131756/170848315-fb15d33f-8487-4590-9a5c-cd5cdb8c2bca.png)

[2022-05-29 06:00] Rhizob commented on #509
I'm still experiencing this issue. On my PC, what seems to trigger it is exiting full screen on FF from my secondary monitor (dual screen setup).

A huge thanks to everyone involved with the project.

[2022-05-29 07:13] adirh3 commented on #544
Did you enable support for Chinese search in Settings -> Search?
After you do make sure to rebuild index in Settings -> Files

[2022-05-29 07:15] adirh3 commented on #509
Hey, do you have FF in the ignored processes list? In Settings -> Processes

[2022-05-29 11:30] 745245208 commented on #544
It's OK after I enable Chinese support and rebuild index.

[2022-05-29 11:30] #544 closed

[2022-05-29 14:42] MakeshVineeth commented on #354
Will make

Yeah, will bring in some changes in Wiki plugin to improve the loading experience. And in the latest version, delayed previews on wrong results has been fixed, thank you for fixing and closing this issue :)

[2022-05-29 14:42] #354 closed

[2022-05-29 22:49] Rhizob commented on #509
Hey Adir,

Yes I have it ignored. It actually just happened again but this time I was in full screen (and not attempting to exit full screen) on the secondary monitor. It hasn't happened while doing the same on the primary screen.
Currently on the latest nightly build of Fluent/Windows Insider Preview 22621.1 (ni_release).

[2022-05-30 01:28] fanhwid opened #598 "In chinese setting, system command don't work"
Setting the language to Chinese, the "shutdown" command can't show normal.
![image](https://user-images.githubusercontent.com/72638192/170900852-535397f2-6e4f-4072-a5e8-5e292308b5c1.png)
then I use chinese "关机“, It seems normal, but when I press Enter, it didn't work.
![image](https://user-images.githubusercontent.com/72638192/170901241-b25700a1-51a7-46b2-98a4-2e0019ceafa7.png)

Setting the langua

[2022-05-30 02:07] u-Sir commented on #598
我这边正常，同win11。你的图二默认选中了锁屏
![图片](https://user-images.githubusercontent.com/93647031/170904330-d9655c91-6224-4316-b8ca-cfc68139a649.png)

[2022-05-30 04:12] Rhizob opened #599 "'Preview Provider' as standalone app"
**Additional context**
Make Fluent File Preview available in file explorer (apologies if this is already a function):
I currently use QuickLook in explorer but when using Fluent, I much prefer the native/default Fluent Search Preview provider. Is there any way to make Fluent Preview available for use as standalone provider in explorer?

(currently on latest nightly build)

Thanks!

[2022-05-30 06:13] fanhwid commented on #598
锁屏也是没办法锁屏的。
不好意思，我是win10，前面写错了

[2022-05-30 10:08] adirh3 commented on #599
Thanks for the feedback.
So, to see that I understand - is the request to make the Fluent Search preview module trigger-able from explorer, just like Quick Look?
Or specifically make it a seperate app for previewing files from explorer?

[2022-05-30 21:35] adirh3 commented on #598
This issue has been potentially fixed in version 0.9.91.79                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-05-31 03:56] Rhizob commented on #599
Sure thing! Thanks for creating the app - been using it daily for a couple of months and am loving it.
I'm leaning towards the 1st option, since I use the Fluent app at startup. Having a toggle in the 'preview' section of options would be really helpful. That way you can turn it on/off as you please.
One major thing missing (IMO) from QL preview app is not being able to navigate from file to file

[2022-05-31 06:42] fanhwid opened #600 "When download file, FS don't integrate with dialog box well"
Bug discription:
step 1:
Download a file using chrome, the dialog box appears like below.
![image](https://user-images.githubusercontent.com/72638192/171107361-78c2876a-4db9-4428-bfb6-5fedfb5d732f.png)
step 2:
Use FS to open the folder that i want to download into. In the picture the folder is "test folder"
![image](https://user-images.githubusercontent.com/72638192/171108015-f1af9051-6c7e-4186-b3

[2022-05-31 13:11] fanhwid opened #601 "In-app search don't clear the search tags"
FS setting, turn on "Always clear search tags" function.
![image](https://user-images.githubusercontent.com/72638192/171179552-aa946aa2-97c8-4bcd-8656-7dc4eac8b122.png)
![image](https://user-images.githubusercontent.com/72638192/171179632-46c0d70e-796a-4932-a010-782c781cbac8.png)

Bug discription:
step 1: use FS to search files like this, using the tag "file":
![image](https://user-images.githubus

[2022-05-31 18:53] mragtronx8 opened #602 "Lock Search Bar from being resized "Feature""
Feature
add a **lock** feature to disable _search bar only / full window_ from being **resized**
it happens with me daily, that i mistakenly resize the size

[2022-05-31 19:15] #602 closed

[2022-05-31 19:57] adirh3 commented on #599
Thanks, sounds good to me, I will consider it for the next major version - 0.9.92.0.

[2022-05-31 21:11] adirh3 commented on #601
This issue has been potentially fixed in version 0.9.91.80                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-01 02:01] fanhwid commented on #600
Yes, I'm on Windows 10

[2022-06-01 15:49] fanhwid commented on #600
@adirh3 I used a windows 11 computer, the problem still exist. If you need any log to debug, please tell me.

[2022-06-02 00:49] Rhizob commented on #599
Awesome! Thanks man.

[2022-06-02 01:47] fanhwid commented on #600
I opened Paint, and save the pic to "test folder",
![image](https://user-images.githubusercontent.com/72638192/171529029-90a89b0d-18cc-49ae-8618-7067b9a2dcb8.png)
Use "file-save as" to save it to "test folder"
![image](https://user-images.githubusercontent.com/72638192/171529328-2ef4794f-9c45-4437-8720-3d1f819a9877.png)
Use FS to search and select the folder and press Enter:
![image](https://user-

[2022-06-02 03:01] 745245208 opened #603 "Hotkey not work in multi screen"
**Describe the bug**
if enable "ignore hot key on full screen processes" and use multi screen,  hot key "ctrl+alt" not work

**To Reproduce**
Steps to reproduce the behavior:
1. enable "ignore hot key on full screen processes"
2. open mstsc to connect remote desktop and fullscreen to screen2
3. click task bar on screen1
4. click "ctrl+alt" ,not work

**Expected behavior**
ctrl+alt can open fluents

[2022-06-03 20:13] #374 closed

[2022-06-03 20:14] #147 closed

[2022-06-03 20:15] #123 closed

[2022-06-03 20:15] #139 closed

[2022-06-03 20:16] #154 closed

[2022-06-03 20:16] #133 closed

[2022-06-03 20:16] #119 closed

[2022-06-03 20:16] #83 closed

[2022-06-03 20:17] #213 closed

[2022-06-03 20:17] #47 closed

[2022-06-03 20:21] adirh3 commented on #144
@MakeshVineeth can you review it and see if anything is missing from the original request?
About the hints/recommendations, if you can open a new issue for it with more info it would be great.
Thanks!

[2022-06-03 22:19] adirh3 commented on #66
This issue has been potentially fixed in version 0.9.91.82                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-03 22:19] adirh3 commented on #499
This issue has been potentially fixed in version 0.9.91.82                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-04 04:29] Metroid-Prime commented on #83
Thx Adir!

[2022-06-04 07:10] MakeshVineeth commented on #144
Closing this issue, as most of the suggestions were added in the latest FS Versions. Will open a separate issue for hints on Home Screen. Thanks for this great feature @adirh3 :)

[2022-06-04 07:10] #144 closed

[2022-06-04 15:57] adirh3 commented on #452
@erohtar this should've been fixed long ago, forgot to mention here (also rechecked now).
Closing, feel free to reopen if it's still not working for you.

[2022-06-04 15:57] #452 closed

[2022-06-04 16:35] adirh3 commented on #600
@fanhwid do you have `Open folders in existing Explorer window` enabled?

[2022-06-04 20:55] adirh3 commented on #600
This issue has been potentially fixed in version 0.9.91.83                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-04 20:55] adirh3 commented on #603
This issue has been potentially fixed in version 0.9.91.83                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-05 02:41] fanhwid commented on #600
@adirh3 When using notepad, "save as" function work well, I could use FS to search the folder that i want to save to.
But,
1. when using chrome to download files, It still didn't work.
2. when using Paint to save file, It still didn't work.

![image](https://user-images.githubusercontent.com/72638192/172032650-d6088647-98ee-4978-9da7-ae4eeebc085b.png)

![image](https://user-images.githubuserconten

[2022-06-05 03:07] fanhwid opened #604 "The FS UI become very wide, looks wired."
in the recent version, the FS UI looks wired, the search box was so wide, and don't coordinate with the system
![image](https://user-images.githubusercontent.com/72638192/172033212-ccd715db-760d-4e3a-9ab7-21766d6092c2.png)

Version：0.9.91.83

[2022-06-05 20:38] adirh3 commented on #604
@fanhwid click on `Reset all window sizes to default` in Settings -> Appearance, and let me know if it happens again

[2022-06-05 21:22] adirh3 commented on #600
This issue has been potentially fixed in version 0.9.91.84                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-06 01:28] fanhwid commented on #604
It worked，Thanks

[2022-06-06 13:12] #604 closed

[2022-06-06 13:12] #601 closed

[2022-06-06 13:13] #600 closed

[2022-06-06 13:14] #598 closed

[2022-06-07 13:18] silver886 commented on #546
Is there change log or release note that publishes to a fixed location?
Some where like beta version has (https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/portable).
I then can update the script in scoop.

BTW, when updating Fluent Search, could we just replace the exe and preserve all folders inside Blast?
Would you recommend to only preserve specif

[2022-06-07 17:39] silver886 commented on #546
That's even great!
Sparkle's appcast.xml does help the implementation of auto update a lot.

So, it's like if I'm using Fluent Search a while, all of the preference matters are in the Blast folder.
If there are new features, they will also be in this folder like Tasks, and its folder, added in 0.9.90.0 (or 0.9.90.9999?).
Is my understanding correct?

[2022-06-09 16:26] mragtronx8 opened #605 "PARENT FOLDER [3rd Party File Managers]"
**PARENT FOLDER [3rd Party File Managers] #BUG**

when am using Ctrl+2 with windows explorer,  it is working right.
but with xyplorer / xplorer2 it is not working as it should [it is jumping right into the folder, and not to the PARENT]

and if xyplorer/xplorer2 is open, ctrl+2 is not working. file manager must be closed / not in focus, for fs "ctrl+2" to open directory "wrong path and not parent,

[2022-06-11 10:33] onlytanmoy opened #606 "Fluent Search getting auto killed"
Hiya, first things first, this is a fantastic app, so thank you for that, however I am not able to use it as it is getting auto killed, will appreciate your help to resolve it.

**To Reproduce**
Steps to reproduce the behavior:
I have Fluent Search installed from MS Store, it is set to start at start-up of my laptop, minimized to system tray
After some running of the laptop, when I hit the hotkey

[2022-06-12 02:43] #603 closed

[2022-06-12 02:47] Jesspu opened #607 "Distribution through chocolatey"
**Is your feature request related to a problem? Please describe.**
Currently Fluent Search is only distributed through a direct download, meaning making sure you are the latest version requires manually checking if there is a new version available.

**Describe the solution you'd like**
Distribute Fluent Search through the chocolatey package system.

**Describe alternatives you've considered**
Coul

[2022-06-13 05:57] ttxhxz commented on #323
Wow, I just saw this news today, very excited, I have re-downloaded the beta version of the software, the stable version I downloaded before almost missed this news. I'll try it out today, and if you have any questions, I'll give you feedback~

[2022-06-14 07:06] ttxhxz opened #608 "Chinese version search file does not display"
**Describe the bug**
Chinese version search file does not display

**To Reproduce**
Steps to reproduce the behavior:
1. outgoing software
2. Enter 2022-06.md
3. The result does not show the file

**Expected behavior**
When I search for "2022-06.md", the corresponding file should appear, but I don't see the corresponding result here

**Screenshots**
![image](https://user-images.githubusercontent.co

[2022-06-14 07:08] ttxhxz commented on #608
![image](https://user-images.githubusercontent.com/24288387/173515129-0889612f-da1b-4f6d-b629-053a9ef4603f.png)

Whether I add this path or not, the corresponding file is not displayed
D:\火柴日报\

[2022-06-14 08:25] adirh3 commented on #608
@ttxhxz did you rebuild after adding D?
Is your D drive NTFS? You can check it by right clicking on it and then properties.

Does the 2022-05 file show in Fluent Search?

[2022-06-14 17:09] adirh3 commented on #606
@onlytanmoy can you please try looking for crash errors -

1. Open Run
2. Type `eventvwr` and run it
3. In the left panel go to Windows Logs -> Application
4. Right click Application -> Filter Current Log -> Check Error and press OK
5. Look for Fluent Search errors, the source should be FluentSearch.exe or .NET

Let me know if you find anything, if not it means that app exited normally.

[2022-06-14 19:19] onlytanmoy commented on #606
Thanks for the detailed steps, very helpful to someone like me using Windows Event viewer for the first time.

I found two Errors at 09/06 with below details:-

1st one Source: Application Error
Faulting application name: fluentsearch.exe, version: 0.9.90.9999, time stamp: 0x61735063
Faulting module name: coreclr.dll, version: 6.0.21.52210, time stamp: 0x61734c6b
Exception code: 0xc0000005
Fault o

[2022-06-14 19:27] adirh3 commented on #606
@onlytanmoy when you open Fluent Search after it crashes, does it open normally? It crashes only in the background?

Would you mind trying to install Fluent Search using the EXE installer?
There were few Microsoft Store users that experienced something similar and it was solved for them when installing through the EXE installer. You can find it here - https://www.fluentsearch.net/

[2022-06-14 19:54] adirh3 commented on #606
Sounds good, keep me updated.
Forgot to mention, when your graphic's driver will update/restart Fluent Search may crash, writing here in case you restart it daily (someone else did).

[2022-06-14 20:42] adirh3 commented on #605
This issue has been potentially fixed in version 0.9.91.88                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-14 23:13] nutnutwin opened #609 "Ctrl Trigger On Screen Search?"
**Describe the bug**
I recently updated from
0.9.91.64
to 0.9.91.87
anf found this bug

**To Reproduce**
Steps to reproduce the behavior:
- Bring Up the search window
- Press Ctrl

｢Search using Screen｣ is OFF
and ｢Search in-app using Screen hotkey｣ is set to ｢None｣

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If you need I can post a scre

[2022-06-15 03:30] ttxhxz commented on #608
![image](https://user-images.githubusercontent.com/24288387/173730590-2a18bd67-a0a3-482f-813d-6e855d95edcf.png)
yes it is NTFS
The D drive is added by default and cannot be deleted. At the same time, I have rebuilt the index many times, and nothing has changed.
This disk is a local disk, not a remote disk

[2022-06-15 06:21] onlytanmoy commented on #606
Morning mate, I have started getting a pop-up of UAC for FluentSearch saying do you want to allow this app to make changes to your device? when I boot my windows, and then I need to hit Yes to continue, how do I disable this pop-up window? I don't want to set my UAC to Never Notify, just whitelist FluentSearch alone.

[2022-06-15 08:03] adirh3 commented on #609
@nutnutwin this is due to new feature called Keyboard navigation in Settings -> System.
It let's you navigate Fluent Search windows using screen search

[2022-06-15 08:04] adirh3 commented on #608
When disabling Enable Chinese support in Settings -> Search, does it find the file?

[2022-06-15 08:07] adirh3 commented on #606
Hey, do you have 2 versions of Fluent Search installed? It shouldn't notify you as long as the indexer is installed and set to run automatically.
To check if it's installed -
1. Open Run and type Services.msc
2.  Search for FluentSearch.FileIndexer
3. Right click it properties
4. Change startup to automatic

[2022-06-15 17:21] #605 closed

[2022-06-15 19:10] onlytanmoy commented on #606
Apologies for the delayed response, I was at work.
As I said before I have uninstalled the MS Store version and installed the appx package now, when I type in Windows search, it just shows Fluent Search beta, so I believe I just have one version installed.
Below is what it shows me, think I need to click Start and that should do?
![image](https://user-images.githubusercontent.com/48493659/17390585

[2022-06-15 19:14] adirh3 commented on #606
I think the Microsoft Store did not fully uninstall the indexer service (it's not behaving well with services), lets try to reinstall the service -
In Fluent Search, open Settings -> Files -> File indexer -> Press "Uninstall Service", wait for it to finish then press "Install service".

[2022-06-15 19:23] onlytanmoy commented on #606
Thanks for the guidance mate, I did that, status says running in services.msc, must be all good when I reboot my laptop next :)

[2022-06-16 05:39] ttxhxz commented on #608
![image](https://user-images.githubusercontent.com/24288387/173999120-ea9808a6-f981-4804-9898-dcf374200a76.png)
@adirh3
Yes, English is also not valid

[2022-06-16 05:40] ttxhxz commented on #608
I have rebuilt the index after switching to English

[2022-06-16 16:49] adirh3 commented on #608
@ttxhxz I meant this setting -
![image](https://user-images.githubusercontent.com/27368554/174124201-1a98f49d-67c8-4d90-89c0-cb44a45b1979.png)
Do you have it enabled?

[2022-06-17 01:38] ttxhxz commented on #608
![image](https://user-images.githubusercontent.com/24288387/174204962-8d4d8a06-2386-4d40-a007-338c0f207d8c.png)
No, I have turned it off after switching back to English, and re-indexed it again, the result is the same, but I still can't find the corresponding file

[2022-06-17 09:30] sandeepb1 opened #610 "Add an option to remove Fluent Search arrow logo from the search box"
Love the app but I'm trying to find something that look as close to Mac's Spotlight as possible. Is it possible to add an option in the Appearance section of the settings to hide the arrow logo from the search bar?

[2022-06-17 10:05] sandeepb1 commented on #610
Ahh my bad, thanks for the info on the custom search icon. - I'll go ahead and close this.

[2022-06-17 10:05] #610 closed

[2022-06-17 22:31] nutnutwin commented on #609
@adirh3
Hi, thank you for your answer.

[2022-06-17 22:31] #609 closed

[2022-06-20 02:55] ttxhxz commented on #608
Because it is a company computer, it is not convenient to use Discord to contact you.
After I reset all the settings of the software, the corresponding directory files can be searched normally.
I'm sure I'm not ignoring the files in that folder, and I've also found that most of the D drive files are not searchable. I feel that it is a bug that occurs when the indexer is added and deleted multiple

[2022-06-20 03:03] ttxhxz commented on #608
I reset the software and can't find the file again, it's too hard

[2022-06-20 03:16] ttxhxz commented on #608
Now the software can't find the file after restoring the default settings.

[2022-06-20 06:07] H5820121 opened #611 "PDF thumbnail previews"
After I uninstalled 'Adobe Acrobat Pro DC (32-bit)'  and installed 'Adobe Acrobat Pro DC (**64-bit**)', FS do not show the PDF thumbnail previews, but the 'Flow Launcher' shows it well, so I think it's a bug of FS.
Thanks!
![image](https://user-images.githubusercontent.com/105562828/174535506-b2d05fe2-fc52-46d1-a261-d8ec176cd2f3.png)
![image](https://user-images.githubusercontent.com/105562828/174

[2022-06-20 16:50] mragtronx8 opened #612 "in-app search "interact with result on focus" #Bug"
in-app search "interact with result on focus" #BUG
 Windows 10 21H2

**video link:-**
http://discordapp.com/channels/740636963396124714/740636963836788818/987419808129765417

unable to change the folder when using arrow keys.
Fs is faster than user selection "unable to select target folder"

[2022-06-20 20:04] adirh3 commented on #459
Sorry for missing this.
This change was made based on other requests, the images do stretch, but the preview window size will change depending on the preview shown.

[2022-06-20 20:16] adirh3 commented on #449
@erohtar thanks for the detailed request, and sorry for not replying for a while, I have been trying to focus on basics for the last few months.
We have talked about this in depth in Discord, but writing it here for the sake of sharing with everyone.

After looking for a while I decided to go with PS since it's most commonly used scripting language in Windows.
The current situation with Tasks, it

[2022-06-20 20:22] adirh3 commented on #176
@cannibalox can you please have a look at the open preview issues? this and #200
Audio preview will be improved as your suggestions in Discord soon as well

[2022-06-20 21:20] adirh3 commented on #608
@ttxhxz can you please send me your settings folder as a zip file via mail or Discord when the issue occurs?
The settings are in `%appdata%\Blast\Settings`, they may contain personal data, so I suggest not sending them here.

Mail - support@fluentsearch.net
Discord - https://discord.gg/W2EuWvD6GD (contact me via private message)

[2022-06-20 21:23] adirh3 commented on #611
@H5820121 thanks for reporting this.
Was the issue persistent after a computer restart?
Flow Launcher might've been keeping the thumbnails in memory after reinstalling the PDF reader.

[2022-06-20 21:34] adirh3 commented on #484
This issue has been potentially fixed in version 0.9.91.94                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-20 21:34] adirh3 commented on #612
This issue has been potentially fixed in version 0.9.91.94                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-21 05:55] H5820121 commented on #611
Yes, but now I checked and I see you're right the problem is also in Windows Explorer.
Can you help with that?
This happened after installation 'Adobe Acrobat Pro DC v2022.001.20142 x64'
thanks!

[2022-06-21 10:34] adirh3 commented on #608
@ttxhxz thanks.
Can you try changing the setting `Max files to process` to `0` in Settings -> Files, and let me know if it finds the file?

[2022-06-21 12:58] erohtar commented on #454
No this hasn't happened again for me

[2022-06-21 12:58] #454 closed

[2022-06-21 13:01] erohtar commented on #484
Yes, that bit is finally working as expected, thank you

[2022-06-21 13:01] #484 closed

[2022-06-21 22:22] cannibalox commented on #176
@adirh3 sry for the late reply: yes the image preview can now auto switch to the selected image from the file list (both with QuickLook and Fluent as preview providers).

there is a small qol issue : . with quicklook as the preview provider, the preview window doesn't persist its location :
* if I move the preview window, it will keep its location when switching from images to images as long as th

[2022-06-21 22:22] #176 closed

[2022-06-21 22:40] cannibalox commented on #200
* it's mostly working, but not consistently : the quicklook preview auto-closes with esc or ctrl+alt but it sometimes doesn't auto-close, I can't consistently repro why... I just browse the file list with the quicklook preview, then close FS (tries both with `esc` and `ctrl alt` and sometimes the preview window will remain opened once the FS window is closed (Preview>Interactions>Keep Open is `OFF

[2022-06-22 02:05] ttxhxz commented on #608
Oh! He succeeded! ! ! ! ! ! ! ! Excited! ! !

[2022-06-22 02:08] ttxhxz commented on #608
It turns out that he is in the advanced settings. I can only find it by searching the settings. Why not set the number of index files to be unlimited by default?

[2022-06-22 02:41] fanhwid opened #614 "The latest version， some apps can't be found some apps"
Version：0.9.91.94
In the latest version, some apps can not be found.
example: allegro
![image](https://user-images.githubusercontent.com/72638192/174931806-d2030518-fb89-43e5-ae47-60788a802e4b.png)
![image](https://user-images.githubusercontent.com/72638192/174931763-f1262367-9cc6-4580-9753-0cd3f36b5a4f.png)
example:
![image](https://user-images.githubusercontent.com/72638192/174931930-0680076c-7f

[2022-06-22 07:37] adirh3 commented on #614
@fanhwid do you have any custom app locations?
Can you let me know what's the path of the lnk file for these apps? You can check in the start menu

[2022-06-22 07:41] adirh3 commented on #608
Thanks for the update, glad we figured it out :)
It used to be not ON by default since file search used to be slower, but that's not the case anymore, so I will change it.

[2022-06-22 19:59] adirh3 commented on #200
Thanks for the detailed feedback!

Currently QuickLook itself does not support anything other than just opening it, so it's a bit problematic.
When trying to move the window from FS, I can't know the preview size until it's fully opened and then you will see the window moves in delay, which from my testing is quite annoying.

I might try create a PR to add support for more capabilities, but it won

[2022-06-22 21:00] cannibalox commented on #200
I mostly use the fluent preview nowadays, so it's not a show stopper by any means :) thank you for all the improvements on FS.
should I leave this issue open for future tracking ?

[2022-06-22 21:07] adirh3 commented on #614
This issue has been potentially fixed in version 0.9.91.95                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-22 21:32] adirh3 commented on #168
@cannibalox I have improved in the latest version, let me know what you think.
The other file formats will not be supported for now, it should work with anything that Windows Media Player can open.

[2022-06-22 22:16] Skyyblaze opened #615 "Allow a simple fade-in as a invoke animation"
Instead of the current "Zoom from Center" animation I would like an optional setting for Fluent Search simply fading in when invoked.

[2022-06-22 22:59] Rhizob opened #616 "'Back' shortcut in mobile preview"
**Describe the bug**
Hi,

While navigating web search results in mobile preview (set as default), pressing the 'back' shortcut keys (alt+L arrow), do not reproduce the same results as right click + back (context menu within preview window). Please see below:

Context menu/right click results (normal):
![0622_1852_17 - Copy](https://user-images.githubusercontent.com/104737075/175168149-9f77e60b-6e3

[2022-06-22 23:31] cannibalox commented on #168
auto play audio triggers but when an audio file is playing, it seems like it's now  taking priority over everything else:
* while an audio is playing, I can't skip to the next track using up/down in the file list (seems like the track playing has to reach its end before any operation resumes)
* while an audio is playing, it **seems** search results are frozen/on hold/not being processed until the

[2022-06-23 07:06] adirh3 commented on #168
Thanks, probably due to Settings I didn't test with, can you send me your settings in Discord please?

[2022-06-24 01:29] #608 closed

[2022-06-24 10:25] H5820121 opened #619 "how long it has been since the file created and modified as in LISTARY 6"
I use your great software a lot, and I think it would be very helpful if FS would show (on the right) not only the date but also how long it has been since the file created and modified as in LISTARY 6, and at least give the user an option to choose that way.
Thanks!
![image](https://user-images.githubusercontent.com/105562828/175516454-8bca32c0-f3e4-4e8e-ae5e-20b508310b75.png)

[2022-06-24 17:22] adirh3 commented on #606
Can you please confirm whether the original issue (crashing) was fixed?

[2022-06-24 18:07] adirh3 commented on #614
@fanhwid I assumed this is fixed by the thumbsup, if not please reopen

[2022-06-24 18:07] #614 closed

[2022-06-24 21:39] adirh3 commented on #572
This issue has been potentially fixed in version 0.9.91.96                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-24 21:39] adirh3 commented on #619
This issue has been potentially fixed in version 0.9.91.96                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-25 06:38] onlytanmoy commented on #606
Yes mate, I don't have the crash or auto-killed issue any more, happy to close this issue. Many thanks for your support.

[2022-06-25 09:07] #606 closed

[2022-06-25 20:48] H5820121 commented on #619
I have updated to the new version 0.9.91.96 ,and I do not see any view of how many minutes or days have passed since the file was modified and created (as in LISTARY 6).
Is there any new setting I should choose?
Thanks!

[2022-06-25 21:25] adirh3 commented on #619
You need to use the result preview by pressing `Alt` when it's focused -
<img width="581" alt="image" src="https://user-images.githubusercontent.com/27368554/175790962-4c263fbb-2206-4258-85d3-47ed6249f68f.png">

By mistake I enabled this only for `exe` or `dll` files, I will change it tomorrow.

[2022-06-25 21:42] adirh3 commented on #616
This issue has been potentially fixed in version 0.9.91.97                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-25 22:27] H5820121 commented on #619
Thanks for the response!
But it only shows **the date** the file was created and modified, but I mean to **how many minutes or days have passed** since the file was modified and created (as in LISTARY 6 please see in the screenshot I attached above).
Sorry I'm bothering you so much, but this is something I think is very useful.

[2022-06-25 22:46] Rhizob commented on #616
Fixed in the latest version mentioned. Thanks Adir.

[2022-06-26 16:46] adirh3 commented on #611
@H5820121 sorry, missed your message.
Were you able to resolve that?
I believe rebuilding Windows thumbnail cache might work  - https://www.windowscentral.com/how-reset-thumbnail-cache-windows-10#:~:text=How%20to%20recreate%20the%20thumbnail%20cache%20using%20Disk,confirm%20and%20to%20complete%20the%20task.%20See%20More.

[2022-06-26 17:18] H5820121 commented on #619
I would like to add that XYplorer also has this option to show how many days or months have passed since the file was created and modified and as in the screenshot I attached here..
![image](https://user-images.githubusercontent.com/105562828/175825832-11db7fc1-f24b-4b83-907e-8993caf32fa9.png)
Thanks!

[2022-06-26 20:42] H5820121 commented on #611
Thanks!

[2022-06-26 20:42] #611 closed

[2022-06-26 21:08] adirh3 commented on #619
This issue has been potentially fixed in version 0.9.91.98                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-06-26 21:26] H5820121 commented on #619
Thank you!
But is it also possible to view **how many days or months have passed** since the file was modified and created and as it is in LISTARY 6 and XYplorer as seen in the screenshot I attached above?

[2022-06-26 21:42] MrFastZombie opened #620 "Fluent Search reverts to a default accent color upon restarting"
**Describe the bug**
Upon restarting, FS defaults to a purplish-blue accent color.

**To Reproduce**
Steps to reproduce the behavior:
1. Restart Fluent Search.
2. The accent color is now purplish-blue.
3. (Workaround) Change the accent color to manual and select a color then change back to system color to return to your system accent color.

**Expected behavior**
Upon startup, FS should remember t

[2022-06-27 02:27] tomnapp2 opened #621 "Reorganization the Effects & Appearance tabs in settings"
**Is your feature request related to a problem? Please describe.**
Fluent Search settings, at least when the "Advanced On" toggle is switched on, can be quite intimidating. An idea of mine to help make things more intuitive is to move most of the settings in "Effects" to "Appearance" and turn "Effects" into a dedicated group for animations.

**Describe the solution you'd like**
Move wallpaper back

[2022-06-27 09:34] adirh3 commented on #619
Thanks, I will work on it.  (That message was automatically posted due to fixing missing "Create date")

[2022-06-28 01:26] MrFastZombie commented on #620
It is working now, thank you!

[2022-06-28 01:26] #620 closed

[2022-06-30 04:39] Meieraa opened #622 "Building file index takes too much time"
It seems FS will rebuild file index every time we reboot the computer. It takes too much time. And during this time, the file searching result is incompleted.
Am i lost something in setting that can slove this.

[2022-06-30 04:42] Meieraa commented on #622
Im in portable nightly version

[2022-06-30 07:33] adirh3 commented on #622
Thanks @Meieraa, I will make it possible to still search while it's indexing.
Just wondering, how long does it take to index for you? And how many drives do you index?

I have made a few changes to indexing in the nightly that increase index time, but improves search speed by a lot.

[2022-06-30 14:16] adirh3 commented on #622
Thanks @Meieraa, I will make it possible to still search while it's indexing.
Just wondering, how long does it take to index for you? And how many drives do you index?

I have made a few changes to indexing nightly that increase index time, but improves search speed by a lot.

Thanks for the feedback!
So, you would like to have an option to make indexing manually/scheduled?
The FS indexer is desig

[2022-06-30 23:56] Meieraa commented on #622
Make sense. I'm too idealistic.
Maybe I should reduce the number of index path.
but still hope you can make good balance between the accuracy of the index and search speed
Anyway FS is a good software. I’ll stay my interest on that, thanks

[2022-07-01 21:59] adirh3 commented on #622
This issue has been potentially fixed in version 0.9.91.992                                        . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-07-02 00:38] Meieraa commented on #622
This completely solved the problem

[2022-07-02 00:38] #622 closed

[2022-07-02 19:23] adirh3 commented on #607
@Jesspu thanks for the suggestion and sorry for the delay.
Just letting you know that Fluent Search is already available through `win-get` and in general it has a built-in update system, so you don't need to check manually for new versions.

I will try to distribute via Chocolatey, tried in the past but felt like it was way too complicated.

[2022-07-02 19:51] H5820121 commented on #619
Thanks, I'm waiting for that, because I think the information of how much time has passed since then, is more useful than the date itself.
- Please, do not forget the FS preview for the popular .docx files.

[2022-07-02 19:59] Jesspu commented on #607
Okay, if it is to complicated that is fine. Just thought i would ask.

Love the app, it works really well.

On Sat, Jul 2, 2022, 2:24 PM Lighto ***@***.***> wrote:

[2022-07-02 20:17] H5820121 opened #623 "Bug in the FS preview of Hebrew .txt files in ANSI encoding"
The preview of txt files in ANSI encoding does not display Hebrew correctly
![image](https://user-images.githubusercontent.com/105562828/177014822-b4f32e38-7609-4a07-bbdf-c28a606b89a1.png)

But in 'QuickLook' preview, it is displayed correctly.
![image](https://user-images.githubusercontent.com/105562828/177014922-50cf91d3-370e-4225-9531-9bd763916c78.png)

I use your wonderful software a lot!
Than

[2022-07-02 20:23] adirh3 commented on #623
@H5820121 not sure how you saved txt file with Hebrew characters using ANSI, it shouldn't be supported.
Even in Windows notepad it won't work for me -
<img width="686" alt="image" src="https://user-images.githubusercontent.com/27368554/177015164-0ccc5e09-274a-4b13-bf60-559020ceba0e.png">

Previewing txt files with Hebrew text using UTF/Unicode should work in the latest nightly builds.

[2022-07-02 20:47] H5820121 commented on #623
Sorry, I do not understand what you mean. The files in the UTF Hebrew encoding in the FS preview are displayed correctly. The problem is only with the files in the ANSI encoding [and I have many of these], they are well presented only in the 'QuickLook' preview, as in the screenshot I attached above.
![image](https://user-images.githubusercontent.com/105562828/177015715-9b5c7fef-01c1-49a6-9e41-9a1

[2022-07-02 20:54] adirh3 commented on #623
I need to use other notepad app, Windows notepad won't let me save files with Hebrew text with ANSI encoding.
Will try using some other apps

[2022-07-02 21:02] H5820121 commented on #623
Strange, I have no problem saving Hebrew text with ANSI encoding with Windows notepad.
![image](https://user-images.githubusercontent.com/105562828/177016018-d7286ceb-b011-4121-8d10-3cfc991592c5.png)
Maybe, because I had the Hebrew language kit installed on Windows.
![image](https://user-images.githubusercontent.com/105562828/177016090-0e7d85cc-ff5c-4bef-92d7-84355666ff82.png)

[2022-07-02 22:18] H5820121 commented on #623
[Example.txt](https://github.com/adirh3/Fluent-Search/files/9033778/Example.txt)
I have uploaded here the file in ANSI encoding, please try to open it in the FS preview, and in the 'QuickLook' preview.

[2022-07-02 23:04] theweeeknd opened #624 "couldn't ignore 'recent file' path"
too much **useless** / duplicated results from this path:
C:\Users\username\AppData\Roaming\Microsoft\Windows\Recent\

![image](https://user-images.githubusercontent.com/84619641/177018242-79f98940-6337-48cd-984f-1a0d0369c2b2.png)

but, failed to set it **ignored**, 'folder name invaild' in 'select folder' dialogue

![image](https://user-images.githubusercontent.com/84619641/177018341-026d206f-d86

[2022-07-02 23:09] theweeeknd commented on #592
所以。是我孤陋寡闻了吗

![image](https://user-images.githubusercontent.com/84619641/177018587-111fee5e-233c-4730-9680-e9b1600cdf21.png)

[2022-07-03 07:51] adirh3 commented on #624
@theweeeknd For some reason you can't select `recents` in any Windows dialog, I have no idea why.
You can add it by selecting it from the suggestions icon -
![image](https://user-images.githubusercontent.com/27368554/177030477-0bcfe3db-be27-461c-b17c-dae7c4755e07.png)

Or add a different folder and change its path in the table.

[2022-07-03 17:30] H5820121 commented on #623
Have you succeeded now, to save files with Hebrew text with ANSI encoding?

[2022-07-03 18:25] adirh3 commented on #623
@H5820121 thanks for sharing the file, for some reason my notepad refuses to display or save Hebrew with ANSI encoding -
![image](https://user-images.githubusercontent.com/27368554/177052520-bc771888-f8a0-4d21-bf21-5a5642a3e4e0.png)

Maybe because I am using Windows 11.
Either way, I will add support for auto detecting the encoding in today's update, thanks!
![image](https://user-images.githubuser

[2022-07-03 20:33] adirh3 commented on #623
This issue has been potentially fixed in version 0.9.91.994                                        . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-07-03 22:04] H5820121 commented on #623
Thank you!
I updated to the latest version, but I do not understand why, sometimes it worked, and sometimes not, but it's always fine in the 'QuickLook' preview as you can see in the screenshot.
![image](https://user-images.githubusercontent.com/105562828/177058565-432eb715-d23b-4253-9838-d1cca5552f60.png)

But I do not know if it is so important that it justifies bothering you so much with it.

A

[2022-07-03 22:29] adirh3 commented on #623
Can you please send me the file it's not working for.
Also, I got Hebrew language pack installed, i thinks it's issue with notepad, notepad++ works for me

[2022-07-03 23:40] theweeeknd commented on #624
thx but in my case no 'recent' in this suggestion list

![image](https://user-images.githubusercontent.com/84619641/177060971-efd19f51-b0b4-4d87-9d22-86e9dbe451b5.png)

also fail to change path, select a path try to type sth but just … nothing happened
![can't modify path](https://user-images.githubusercontent.com/84619641/177061126-50487528-2631-4722-8eb3-e91f3a6f3d93.gif)

[2022-07-04 05:44] u-Sir commented on #592
拼音支持开启了？现在好像只有被搜索打开过的，才会支持拼音

[2022-07-04 05:56] H5820121 commented on #623
[נסיון0.txt](https://github.com/adirh3/Fluent-Search/files/9036688/0.txt)
Thanks!

[2022-07-04 08:30] adirh3 commented on #624
@theweeeknd sorry thought you were using the nightly version.
This is fixed in the nightly version, will be available as stable next week.

[2022-07-04 21:48] theweeeknd commented on #624
thx very much

[2022-07-04 21:48] #624 closed

[2022-07-05 11:23] #497 closed

[2022-07-07 21:39] adirh3 commented on #623
This issue has been potentially fixed in version 0.9.91.995                                        . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-07-08 10:25] adirh3 commented on #623
There is a different issue for this, but won't happen in 0.9.91.x.
Closing

[2022-07-08 10:25] #623 closed

[2022-07-08 16:25] KyroOW opened #625 "Replace Windows Search"
I would like Fluent Search to be able to replace Windows Search (the one from the task bar) when you:

-Click the Search icon on the Task bar
-Press the Windows key and start typing

For the second one i tried, in the meanwhile, to set the Windows key as the activator key for Fluent Search but i found i have no way to make the task bar appear when i'm using borderless fullscreen games, also it wil

[2022-07-08 16:28] KyroOW opened #626 "Support for other languages"
I would like Fluent Search to support more than just the english language, i was surprised by how customizable Fluent Search is despite having no other language than english.

[2022-07-08 16:29] adirh3 commented on #625
Thanks for the suggestions @KyroOW.

For the first suggestion, wouldn't pinning Fluent Search to the task bar solve it? -
<img width="107" alt="image" src="https://user-images.githubusercontent.com/27368554/178032560-630ce480-8f2d-4d3d-bcaa-fc6c627b3bce.png">

As for invoking on the `Win` key, does it not show the taskbar when pressed while playing games?
In the nightly version, there is a setting

[2022-07-08 16:31] adirh3 commented on #626
Thanks @KyroOW, Fluent Search is now fully translated to Spanish and Chinese in the nightly version.
If you'd like to help with the translation of a specific language, please let me know.

Translation will be ongoing based on volunteers from the community :)

[2022-07-08 19:51] KyroOW commented on #625
Indeed that's one way to do it, however i'd prefer the icon to be a magnifying glass in this case.

And also i would have liked if it could appear before the task view icon which is impossible since it's a system icon and they can't be re arranged, thanks MS.

Yes it does not show the taskbar if the key is set to Windows for invoking Search, that setting would indeed fix it though.

[2022-07-08 19:58] KyroOW commented on #626
I can help for French when i have extra time but since i'm not perfectly perfect in grammar i might do some mistakes until Molière's son shows up and fix it.

[2022-07-08 20:11] KyroOW opened #627 "I somehow invoked what appears to be a Task Switcher"
I was playing a game and got suddenly switched to Discord and noticed a white bar at the top of my screen that appeared for like a fraction of a second, so i took an Nvidia Shadowplay replay to see what it was and found this:

![image](https://user-images.githubusercontent.com/37251814/178063216-ea81b303-d15d-4350-8989-941f346900b7.png)

At the same time a Fluent Search icon was active on the Task

[2022-07-08 20:49] lukepfjo opened #628 "[Bug] Unusually high idle CPU usage when running in background despite using Everything for file indexing"
**Describe the bug**
Fluent uses 0.2-1.5% CPU when idling in the background. I'm using Everything for file indexing; listening for a keypress should not take this much CPU.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Fluent in background
2. Check CPU usage in Task Manager

**Expected behavior**
Should use 0.0-0.1% CPU

**Desktop (please complete the following information):**
 - Windo

[2022-07-09 00:15] KyroOW commented on #628
I was just about to open a bug about this, i just switched to the indexer to Everything but i noticed that the cpu usage remains the same.

There was 2 processes before, one that was using 0.1% and the other that takes 0.7%-1% when idling, once switching the indexer to Everything, the process that was using 0.1% disappeared and the one that used 0.7%-1% remained, so this one must be the app itself

[2022-07-09 08:28] adirh3 commented on #583
@kumar007git can you please let me know if this has been improved for you since recent nightly updates?

[2022-07-09 08:37] adirh3 commented on #628
@lukepfjo @KyroOW thanks for the feedback.
The Fluent Search file indexer has better integration with Fluent Search, for improved performance while searching.
I suggest using it unless you're used to Everything query language, or need file content indexing, it will lead to overall less power consumption as file searching using Everything is more CPU intensive.

As for the background idle issue, it

[2022-07-09 09:05] adirh3 commented on #627
@KyroOW this is the process history window, you can disable it in Settings -> Processes -> Go to next/previous hotkeys.
I disabled it by default in the upcoming version.

[2022-07-09 09:07] adirh3 commented on #626
If you'd like here is the link to the translation website (specifically for French) - https://app.tolgee.io/accept_invitation/cmTkhUwvKgdLKaPmSsHyAXAeVXHtrLmFGyJByBqADLIbTiIDCn

No worries if not, it's a lot of work.
Closing this.

[2022-07-09 09:07] #626 closed

[2022-07-09 09:09] adirh3 commented on #625
@KyroOW which version of Fluent Search are you using? Nightly or stable?
The startup time from taskbar has been improved in the latest nightly versions.

[2022-07-09 09:44] KyroOW commented on #627
Oh yes that was it ! Thank you.

[2022-07-09 09:44] KyroOW commented on #625
Yes i'm using stable, i might try nightly

[2022-07-09 09:45] adirh3 commented on #627
Glad it helped, to reset simply select the hotkey and press Escape.
Closing :)

[2022-07-09 09:45] #627 closed

[2022-07-09 10:36] KyroOW commented on #628
Disabling Use GPU didn't change much but enabling gaming mode reduced the usage to 0.2% with occasional spikes to 0.5%, disabled it and it's back to using around 1%.

[2022-07-10 08:49] adirh3 commented on #628
@KyroOW @lukepfjo if you're not using Process search, I suggest disabling it in Settings -> Processes, as it will reduce background CPU usage.
Either way I will keep improving background performance with the next updates.

[2022-07-12 17:15] H5820121 opened #629 "Bug in FS Indexer in search by two Hebrew letters with tag"
Sorry I'm reporting the bug only now, because until now I used the Everything indexer, and now that I saw that you wrote that the FS indexer is faster, I switched to it, and saw that there was a bug in FS Indexer in search by **two** Hebrew letters with **tag**.
In a search with the Everything indexer it finds well, as you can see in the screenshot
![image](https://user-images.githubusercontent.co

[2022-07-12 17:45] H5820121 commented on #629
![image](https://user-images.githubusercontent.com/105562828/178558375-f2dd5a94-fe9a-4d5e-9194-36eccd1bd44e.png)
![image](https://user-images.githubusercontent.com/105562828/178558558-5b225a6d-993e-41da-87ae-685fbe6f4231.png)

[2022-07-12 18:47] adirh3 commented on #629
Thanks @H5820121 :)

[2022-07-12 23:14] Chance92 opened #630 "Screen Search Can't Be Turned Off"
**Describe the bug**
After invoked FS, pressing ctrl key will invoke screen search, even though this application has been turned off in the setting.

**To Reproduce**
Steps to reproduce the behavior:
1. Invoke FS
2. Press ctrl

**Expected behavior**
Screen search disabled.

**Desktop (please complete the following information):**
 - Windows 10 Version: Win10
 - Fluent Search Version 0.9.91.9991

[2022-07-13 07:20] adirh3 commented on #630
@Chance92 disable `Keyboard Navigation` in Settings -> System
![image](https://user-images.githubusercontent.com/27368554/178674439-2ed70682-299e-41e8-8a3b-96073796c1f6.png)

[2022-07-13 17:38] H5820121 commented on #629
Maybe it can help,
As the search is **without tag**, the FS Indexer finds well too

![image](https://user-images.githubusercontent.com/105562828/178794997-737a08ab-e253-42d7-bdc1-5eb0085bfb06.png)

And the strange thing is, even if the search is with a tag, if it's by **one** letter it does find it well

![image](https://user-images.githubusercontent.com/105562828/178795540-2007de18-2beb-4faa-836a

[2022-07-15 14:58] razjel opened #631 "More predictable web search results"
I'm migrating from Launchy to Fluent and I have around 200 web search entries. When I try to search for any entry in web search it always lists first 15 of entries from web settings. It looks like it doesn't filter them based on what I write in search input.

![image](https://user-images.githubusercontent.com/2566960/179249795-a0c5ede1-c7cd-4e62-8e84-a9875689b0f9.png)

In Launchy this works great

[2022-07-15 15:04] adirh3 commented on #631
Hey @razjel, to filter results in Fluent Search you use `Search Tags`. Web search will create tags automatically for your web searches, and you can decide the tag using the `Tag` column in web searches -
<img width="469" alt="image" src="https://user-images.githubusercontent.com/27368554/179250253-642422fe-ca75-45a3-8eb2-3d380d418b93.png">

To use a search tag, simply start typing it's name and pr

[2022-07-16 07:05] Acumane opened #632 "Search bar keybinds do not work in Gaming mode"
**Describe the bug**
When `Gaming mode` is enabled, keybinds for opening the search bar do not work

**To Reproduce**
Steps to reproduce the behavior:
1. Set `Search hotkey` to anything
2. Use hotkey; summon search bar
3. Enable `Gaming mode`
4. Use hotkey

**Expected behavior**
When `Gaming mode` is enabled, keybinds for opening the search bar do not work

**Desktop (please complete the following

[2022-07-16 07:44] Acumane opened #633 "Richer settings search"
**Is your feature request related to a problem? Please describe.**
Return more relevant results for system settings on par with the native search experience

### Example: `display` query

**Native:**
<img src="https://user-images.githubusercontent.com/94324138/179345185-80be3e94-f827-43d8-8a03-465b39532d9c.png" width=300px></img>

**Fluent:**
<img src="https://user-images.githubusercontent.com/943

[2022-07-16 09:39] adirh3 commented on #632
@Acumane when gaming mode is enabled, Fluent Search will not invoke on any hotkeys, that's the intended behavior to not interrupt while gaming.

There is a setting called `Ignore hotkeys on foreground processes` which let you disable hotkeys only when a specific process is in focus, you might want to look at that.

[2022-07-16 10:26] Acumane commented on #632
Ah, got it. I'm currently using it to remedy issues #628 and #346 regarding high idle CPU usage:

I've changed the ticket to a feature request for an additional Eco/efficiency mode that won't disable the key listener.

[2022-07-16 11:54] razjel commented on #631
I already have tags defined. Inside main input indeed it suggests me most matching entry but it only suggests first one. In situation when I have similiar ones I can't easily see them like in launchy, f.e. in fluent I see only `rpg advanced names` in launchy I see all options and can switch easily between them using down and up.

![image](https://user-images.githubusercontent.com/2566960/179353719

[2022-07-16 18:31] H5820121 commented on #629
I ask out of curiosity, have you already been able to find the cause of this strange bug that is very interfering with the search with FS Indexer?

[2022-07-16 19:13] adirh3 commented on #629
Yes I did, but a solution will not be available for a while unfortunately.
Will update here once it's fixed.

[2022-07-17 21:30] adirh3 commented on #483
This issue has been potentially fixed in version 0.9.92.0                                          . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-07-18 15:11] amm834 opened #634 "How can I remove the right body of search result?"
![Screenshot (6)](https://user-images.githubusercontent.com/65492233/179543146-9df9df91-80a3-4252-b075-b38232bdb625.png)

I want to remove the right part of search menu for the minimalism.

[2022-07-18 15:12] adirh3 commented on #634
@amm834 right click empty space of it and press hide -
![image](https://user-images.githubusercontent.com/27368554/179543379-ca8aeafd-5f58-4398-b145-6e5770ded703.png)

[2022-07-18 15:33] #634 closed

[2022-07-19 17:34] ikjadoon opened #635 "Updater stuck in a loop: notifies, downloads, asks to restart -> still on old version"
**Describe the bug**
The auto-updater fails after "Update and Relaunch" on the latest stable update. After clicking, FS closes. When I manually re-open FS, it is still on the old version.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Fluent Search.
2. The update prompt (from 0.9.90.9999 -> 0.9.91.9994) appears. I click "Download/Install"
3. A downloading prompt appears with an orange

[2022-07-19 19:03] ikjadoon commented on #635
Solution workaround, as recommended by @adirh3 on Discord ([link here](https://discord.com/channels/740636963396124714/740636963836788818/999022314928750599)).

1. Open a File Explorer Window.
2. At the address bar, type `%temp%` and press enter. This will launch C: > Users > [your user] > AppData > Local > Temp
3. Scroll down until you see FluentSearch.exe. Ignore FluentSearch.zip.
4. Launch the

[2022-07-21 03:51] fanhwid opened #636 "clear the search contents after some time"
When enable clear contents or tag, It's better to have a choice to select the contents keep time.
For example:
1. keep the search contents or tag within 30 seconds;
2. after 30 seconds, clear the search contents or tag;

[2022-07-22 22:56] ikjadoon opened #637 "Application crash after launching via hotkey, has not reoccurred"
**Describe the bug**
I tried to open an ADM search, the window appeared, and the application crashed, requiring a manual re-opening.

**How it Was Triggered**
There is no real reproduction step because I cannot reproduce it. :( It happened once and ever since, FS has been great.

1. Press CTRL+ALT to launch Fluent Search pop-up.
2. Fluent Search pop-up appears briefly, freezes (not clickable), clo

[2022-07-26 08:44] SpringsTS opened #638 "Some applications randomly crashes when Fluent Search is running."
**Describe the bug**
When Fluent Search is running in background, some programs randomly crash (either after a while, either when inactive, or after some key presses when typing text).
Those crash do not occur when I close Fluent Search.

In the Windows Event viewer, the crash reports always mention common data:
_ Faulty module name: uiautomationcore.dll
_ Exception code: 0xc0000005

 
**To Reprod

[2022-07-27 13:00] adirh3 commented on #638
@SpringsTS can you please try to disable `in-app content search` in Settings -> Processes, and see if it helps?

FYI Fluent Search uses Windows Accessibility to search in apps, which is the "UIAutomation" you're seeing in the log, and for some reason that seems to crash for you. Did you disable any Windows accessibility feature somehow?

[2022-07-27 13:02] adirh3 commented on #637
Thanks for reporting this @ikjadoon!, Can you please check if you see `Error` logs for `.NET Runtime` in the Event Viewer -> Windows Logs -> Applications?

[2022-07-27 13:30] SpringsTS commented on #638
Okay, so with your indications and after some tries, I may have found the problematic option: in the "In-app" section, if I disable the "Enable instant search" toggle, my application doesn't crash. Crashes come back when I check Instant search.

That's curious because only File Explorer is in the list of processes.

Anyway, for now I can use my apps with Fluent search.
Thank you!

To answer to you

[2022-07-27 14:10] adirh3 commented on #638
Oh interesting, thanks for letting me know.
I will check if I can somehow automatically detect when win accessibility is not responding for w.e reason and disable it automatically.

[2022-07-27 17:02] H5820121 opened #639 "BUG in FS 'Tasks'"
I cannot change the settings in 'Tasks' that I created,
For example, to change the settings in the 'Result selector',

![image](https://user-images.githubusercontent.com/105562828/181305582-330720cf-632f-4fa1-a1c8-b0e53eb76a84.png)

And in new Tasks I cannot make connections. For example, a connection between 'Custom operation' and 'Result selector'.
I have the latest nightly update installed.
In

[2022-07-27 17:18] adirh3 commented on #639
@H5820121 is that on nightly?
If so it's known issue, for now you can use keyboard (right/left) to navigate and Enter to open.

[2022-07-27 18:10] H5820121 commented on #639
Thanks for the response,
As I mentioned I have the latest nightly update installed.
The  (right/left) navigate and Enter to open **helped**,
But there is **still the problem. in new Tasks I cannot make connections**. For example, a connection between 'Custom operation' and 'Result selector'.

[2022-07-28 16:56] H5820121 opened #640 "Bug in Hotkey that defined to show FS"
When the Hotkey that defined to show FS is to Press Ctrl twice,
![image](https://user-images.githubusercontent.com/105562828/181593727-a73d65dd-b715-4f2b-9c41-cb150b3b9543.png)
If a window of any application **opened as an administrator** is active, this hotkey does not work. The other hotkeys such as ALT+SPACE work properly.

I'm reporting this bug, because this way of opening FS by pressing CTRL

[2022-07-29 17:59] ikjadoon commented on #637
You're quite welcome. Not for .NET Runtime, unfortunately. I do have these two logs, however. One information + one Error.

### ℹ️ Event Viewer > Applications >Information (‎7/‎21/‎2022 11:57:23 PM)
[code]

// The files above were all unavailable except the last one, which output a *.wer file. I've used AppCrashView to elaborate a bit more, but it doesn't seem to add much? I can also upload the *.

[2022-07-29 18:15] adirh3 commented on #637
@ikjadoon thanks, seems like FS was stuck and not really crashed, Windows stopped it because it was unresponsive.
Do you use web preview? it might be because of that

[2022-07-29 18:26] ikjadoon commented on #637
You're welcome. That does make more sense. I clicked it after I noticed it did not receive keyboard input.

//

No, I've disabled these features to improve performance, actually:

- Preview: no hotkey set, all "interactions" unchecked, all Preview modules off
- Web disabled
- Preview disabled
- In-app search disabled
- Screen disabled
- Processes disabled
- Command disabled
- UI disabled
- To Do d

[2022-07-29 21:58] adirh3 commented on #595
This issue has been potentially fixed in version 0.9.92.16                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-07-30 17:45] adirh3 commented on #638
@SpringsTS made a fix for it in nightly build, if you're using Instant Search you can try checking it out.
It will be available in the stable release soon.

[2022-07-30 18:53] H5820121 commented on #595
Thanks!
But in Hebrew (and Arabic) the direction of the paragraph is from right to left, and FS preview turns the original direction of the paragraph into a left-to-right direction like in English, it also turns the direction of the parentheses [] () to the opposite direction ][ )(.
 In the 'QuickLook' preview all this is displayed correctly.

[2022-07-30 18:54] adirh3 commented on #595
RTL still not fully fixed unfortunately.

Quicklook uses a licensed component to preview office files, which I can't use unfortunately.
Right now the preview shows only text for content searching

[2022-07-30 19:07] H5820121 commented on #595
Anyway, thanks for the effort and of course what you did is also useful!

[2022-07-31 02:51] gman414 opened #641 "Fluent Search is not building file index"
Describe the bug: Fluent Search Version 0.9.92.11 and up to Version 0.9.92.18
 is not building file index for any of the selected indexed paths.
This happens on both EXE and APPX versions.

To Reproduce:

1)	Once FS is updated to or installed one of the FS versions stated above.
2)	Nothing gets indexed i.e when search for files does not produce the search results
3)	No search result is produced

[2022-07-31 09:45] adirh3 commented on #641
@gman414 thanks a lot for reporting it, it's much appreciated!
Will try to fix it in today's update.

[2022-07-31 19:16] adirh3 commented on #641
This issue has been potentially fixed in version 0.9.92.19                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-07-31 23:02] gman414 commented on #641
@adirh3  Issue has been resolved. Thank you for your quick action.

[2022-08-01 07:48] adirh3 commented on #641
Thanks for updating @gman414! I would appreciate if you can let me know as soon as possible if you notice any other issues with the indexer or file searching.
I plan to push the indexer changes to the stable feed this week.

[2022-08-01 12:46] #641 closed

[2022-08-02 06:37] SpringsTS commented on #638
Thank you.

I noticed I still have crashes, but in different conditions:
_ They are quite rare
_ Application is always in the background (never crashed when active)

I will try the nightly build and keep you updated.

[2022-08-03 00:04] ikjadoon commented on #637
Another Fluent Search hang, out of the blue. Pressed ALT+CTRL to launch; it didn't launch. Tried it again and was met with a frozen, half-loaded search bar. :(

[code]

//

[code]
//

[code]

[2022-08-03 01:56] gitthangbaby commented on #584
i'd also like all processes to be listed. Hidden processes listed below the UI processes. It'd be nice to ShiftDel stuck processes.

[2022-08-03 02:19] gitthangbaby opened #642 "top ten improvements for FluentSearch"
1. untag: when searching for "translate>car", it would be good to go back to normal mode, remove tag and keep "car". Currently, search text needs to be typed again.
2. when searching for "translate>car", google is suggested. When tab is pressed, google search is activated, but without "car".
3. didn't figure out how to extract text from the screen using "Screen" or "UI" functions. Would love to ex

[2022-08-03 07:28] adirh3 commented on #637
@ikjadoon did you update or restart your grapgics card driver before it happened?

[2022-08-03 07:29] adirh3 commented on #584
Have you tried the Kill processes plug-in? It's very useful for this scenario

[2022-08-03 22:48] ikjadoon commented on #637
1st crash: no, it'd been some months before an update
2nd crash: **yes**, actually! That very day.

[2022-08-04 08:58] adirh3 commented on #640
@H5820121 some hotkeys are not supported by Windows, so Fluent Search cannot detect them if the focused program is running with higher privileges (Admin).

I might make the indexer (which runs as admin) detect that, but then it will not work for users that uses other indexers (e.g. Everything).

[2022-08-04 09:02] adirh3 commented on #637
I see that explains it, unfortunately this issue is not fixed yet.

[2022-08-04 20:43] adirh3 commented on #642
@gitthangbaby thanks a lot for the feedback, it's much appreciated!

I have got few questions and remarks -

1. When you say search "translate>car" you mean use the "translate" search tag and search "car"?
2. How did you insert the "Google" tag afterward? You can type a word, for example "car" and then a space followed by "google" and TAB to search "car" in google
3. To search for screen text, go

[2022-08-04 20:54] H5820121 commented on #640
In LISTARY, opening by pressing CTRL twice, works even when focused program is running with higher privileges, probably it is by the LISTARY service.
Anyway, it will be useful at least if you make the FS indexer detect that.
Thanks!

[2022-08-04 23:37] adirh3 commented on #86
This issue has been potentially fixed in version 0.9.92.23                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-05 09:02] adirh3 commented on #86
This issue has been potentially fixed in version 0.9.92.24                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-05 16:17] amm834 opened #643 "[Feature] Nothing to show text background must be centered but it is overflowing to the right side of the panel"
![Screenshot (10)](https://user-images.githubusercontent.com/65492233/183118717-f9957642-3a34-4bf7-bace-a480f24b77af.png)

[2022-08-05 16:18] adirh3 commented on #643
@amm834 thanks, what version of Fluent Search do you use? (Can check in system-tray -> about)

[2022-08-05 16:42] amm834 commented on #643
I will send version soon bro

[2022-08-05 18:40] adirh3 commented on #643
@amm834 Can you try disabling `Remember windows size after restart` in Settings -> Appearance (advanced) and restarting Fluent Search?

[2022-08-05 18:42] amm834 commented on #643
I restarted but not working

[2022-08-05 18:45] adirh3 commented on #643
@amm834 in Settings -> Appearance can you click `Reset all windows sizes to default`

[2022-08-05 18:46] amm834 commented on #643
Now result reset is working properly when I use Search bar only.

[2022-08-05 18:47] adirh3 commented on #643
And when not using, does it still overflow?

[2022-08-05 18:47] amm834 commented on #643
On full window mode

[2022-08-05 18:49] adirh3 commented on #643
Does it look the same as the search bar only? Can you please screenshot?

[2022-08-05 18:53] amm834 commented on #643
Currently

![Screenshot (14)](https://user-images.githubusercontent.com/65492233/183142716-73319b43-c748-4b52-a211-3ad632f72e6b.png)

[2022-08-05 18:53] amm834 commented on #643
It is not overflow right now

[2022-08-05 18:54] amm834 commented on #643
https://github.com/adirh3/Fluent-Search/issues/643#issuecomment-1206653461

but third one is occurring on startup

[2022-08-05 18:55] adirh3 commented on #643
When you open FS for the first time it has that weird padding at the bottom?
Even when disabling `Remember windows size after restart`?

[2022-08-05 18:55] amm834 commented on #643
Yes

[2022-08-05 18:57] amm834 commented on #643
But currently it is working as excepted. Let me show you.
![Screenshot (16)](https://user-images.githubusercontent.com/65492233/183143448-7ea87001-8984-44cf-a4d0-fe64d798b786.png)

[2022-08-05 19:02] amm834 commented on #643
[fs.zip](https://github.com/adirh3/Fluent-Search/files/9271051/fs.zip)
My setting to trace bug

[2022-08-05 19:04] amm834 commented on #643
I think, this issue is resolved but I also don't know why 🤣🤣🤣

[2022-08-05 19:08] adirh3 commented on #643
Deleted settings as it may contain personal info (just in case :) )
So now you can't repro it? Did you change screen resolution or DPI when it happened?

[2022-08-05 19:09] amm834 commented on #643
Nah, I don't change the dpi and anything. I just change the setting of fs.

[2022-08-05 19:10] amm834 commented on #643
I cannot repro bug again. But i will open an issue when it is occurred to me again

[2022-08-05 19:11] adirh3 commented on #643
Ok I will try to repro it as well, please post here if you find how to repro it :)

[2022-08-05 19:12] amm834 commented on #643
I will

[2022-08-05 20:49] adirh3 commented on #639
This issue has been potentially fixed in version 0.9.92.25                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-06 03:06] ikjadoon commented on #635
This bug cropped again with .9995; workaround also kept working, so that's good.

[2022-08-06 11:41] meathrel opened #644 "Add ability to set a due date for tasks in MS Todo"
When adding a todo via FS it would be helpful to either add to MyDay or set a due date for the task

[2022-08-07 13:40] rachedhedia opened #645 "Display process window preview when preview mode is activated"
**Is your feature request related to a problem? Please describe.**
When activating previw and browsing processes, process informations are displayed in the preview. Instead it would be better to have a preview of the process window like in the windows task bar - this would allow for quickly identifying the right window in case multiple processes of the same app are running (e.g.: notepad)

**Descr

[2022-08-07 13:43] rachedhedia opened #646 "Processes display order doesn't follow history"
**Is your feature request related to a problem? Please describe.**
When opening the search bar and filtering on process I'm ewpecting the process to be listed from the more recently opened to the older one. It's not the case and actually I don't understand how it's ordered.

**Describe the solution you'd like**
Have the processes list from the most recently focused to the last recently opened

**D

[2022-08-07 18:13] H5820121 commented on #639
Thanks, now it works properly!
By the way, is there any progress in fixing the bug #629 in FS Indexer?

[2022-08-07 18:40] adirh3 commented on #639
Not yet unfortunately, it's much more problematic than I originally thought.

[2022-08-07 18:40] #639 closed

[2022-08-07 20:49] H5820121 commented on #639
I wish you that you will soon succeed with this bug as well, for now I am using FS with everything indexer.
I ask out of curiosity, is this bug only in Hebrew (and Arabic) because they are RTL languages, or in all languages ​​other than English?
- I would like to take this opportunity to express my gratitude again for your wonderful application that is very useful to me, and for the great effort y

[2022-08-08 02:09] gman414 opened #647 "Some UI Issues: Search Window, Tray Icon & Update Window"
Hi adirh3,

Describe the bug:

i) There seem to be a problem with Search Window/Search Bar

Upon launching, only small section of the upper left corner area is visible.
This happens  on both Full Window & Search Bar mode.

![image](https://user-images.githubusercontent.com/110206456/183322961-d3bb7a99-3300-46a8-af59-f6e7b2a87f5a.png)

![image](https://user-images.githubusercontent.com/110206456/18

[2022-08-08 23:51] BaalEvan opened #648 "[Tasks] New Search Trigger is set to TextMatchType: Exact"
**Describe the bug**
After creating new Search trigger searchText is set to match exact `''` instead of contains

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Search trigger with random letter as prefix
2. Don't change anything beside prefix
3. Add custom result with {searchedText} in name
4. Add custom operation
5. Try to use it
6. You should see entry when there is no text but

[2022-08-10 03:56] BaalEvan opened #650 "[Tasks] C# script node content isn't aligned to left"
**Describe the bug**
First 5 characters typed inside content field in c# node are out of view

**To Reproduce**
Steps to reproduce the behavior:
1. Open Tasks
2. Add C# node
3. Try to write code in content field
4. First 5 characters are out of view

**Expected behavior**
All characters should be visible

**Screenshots**
![image](https://user-images.githubusercontent.com/1843494/183809476-01624a5b

[2022-08-10 16:13] SpringsTS commented on #638
Fingers crossed, for now nothing crashed.

Thank you!

[2022-08-10 18:59] adirh3 commented on #647
@gman414 does it still happen on latest version?

[2022-08-10 19:01] adirh3 commented on #650
Thanks @BaalEvan, does it happen consistently with any text?
Can you share what's your screen resolution and DPI please?

[2022-08-10 20:45] BaalEvan commented on #650
Its happening on all (3) monitors
1680x1050
2560x1080
1200x1920
100% scale

but it is happening only in PS,C# and json node (big textBox)

[2022-08-10 20:50] BaalEvan opened #651 "[Tasks] Global Variable List"
**Is your feature request related to a problem? Please describe.**
Accessing paths, API keys etc variables inside operation without comment isn't obvious and could be problematic for sharable tasks

**Describe the solution you'd like**
Some variables related to the entire task but not specific operations could be exposed into settings or additional canvas blocks for easier access

**Describe alter

[2022-08-10 20:58] BaalEvan opened #652 "[Tasks] Context menu isn't attached to mouse position"
**Describe the bug**
After moving mouse cursor from a different monitor (different resolution) and right clicking on TaskCanvas Context Menu is offsetted

**To Reproduce**
Steps to reproduce the behavior:
0. You need secondary monitor with different resolution (2560x1080 in my case)
1. Open TaskWindow on first monitor (1680x1050 in my case)
2. Move mouse to second monitor (for example during resea

[2022-08-10 21:02] BaalEvan commented on #650
Appearance settings

![image](https://user-images.githubusercontent.com/1843494/184019374-3c4b0f88-6980-4ad0-86f2-286a0013fa3c.png)

[2022-08-10 21:36] adirh3 commented on #646
This issue has been potentially fixed in version 0.9.92.30                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-10 21:36] adirh3 commented on #648
This issue has been potentially fixed in version 0.9.92.30                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-10 21:49] gman414 commented on #647
@adirh3 . sorry for the delay. the issue was fixed in version 0.9.92.29.   No issues with the  latest, version 0.9.92.30 either. Thank you.

[2022-08-10 21:49] #647 closed

[2022-08-10 22:45] BaalEvan opened #653 "[QuickMenu] SubMenu background is transparent while main window and QuickMenu are not"
**Describe the bug**
Text in QuickMenu SubMenu isn't readable on white/light background when app is in DarkMode (white text)

**Expected behavior**
Text should be readable

**Screenshots**
![image](https://user-images.githubusercontent.com/1843494/184033692-4a2be48d-580d-471c-8ba8-bb31214c5fec.png)

**Desktop (please complete the following information):**
 - Windows 10 Version: 21H2
 - Fluent Sear

[2022-08-11 13:17] itslukebond opened #654 "Weird background behind app window"
Is this normal? I have a weird border / background behind the app window.

![image](https://user-images.githubusercontent.com/84639694/184142125-1642f73d-0b20-4ab1-8b24-c4db7b792a8c.png)

[2022-08-11 16:29] adirh3 commented on #654
@itslukebond Fluent Search version?
Are you using Windows insider?

[2022-08-11 21:44] gitthangbaby commented on #642
_> @gitthangbaby thanks a lot for the feedback, it's much appreciated!_
no problem, happy to make this tool nr.1 with my QA feedback
_>     1. When you say search "translate>car" you mean use the "translate" search tag and search "car"?_
yes
_>     2. How did you insert the "Google" tag afterward? You can type a word, for example "car" and then a space followed by "google" and TAB to search "car"

[2022-08-11 22:18] adirh3 commented on #653
This issue has been potentially fixed in version 0.9.92.31                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-12 01:58] tomnapp2 opened #655 "Regular Search hotkey activates Quick Menu instead of regular Fluent Search window"
**Describe the bug**
I activated the Quick Menu in all possible ways (i.e. I can access it through the left+right mouse click, a touchpad gesture [four-finger tap], and a keyboard shortcut [Win+Alt]). All of these methods activate the Quick Menu as expected. However, when I try to pull up the _regular_ Fluent Search window (i.e. the home screen) with the hotkey I had set long ago (Win), the Quick

[2022-08-12 09:39] mofoni commented on #346
I had the same issue. My CPU was idling around 7% (11th gen Core i7-11800H)

Disabling **"process screen in background"** solved my issues. Now fluent search idles around 0.1%

![grafik](https://user-images.githubusercontent.com/96438242/184327929-a84ee671-87c2-4ced-a37a-44d0c7cb6050.png)

[2022-08-12 15:13] adirh3 commented on #346
Thanks for sharing, it isn't enabled by default, but I will remove it as it's not really necessary anymore.

[2022-08-12 21:58] adirh3 commented on #655
This issue has been potentially fixed in version 0.9.92.32                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-12 23:27] tomnapp2 commented on #655
I updated and the problem does indeed seem to be fixed. Thank you!

[2022-08-13 07:30] itslukebond commented on #654
Yeah 22H2 Beta but I was using 22H1 when I took this screenshot.

[2022-08-13 09:59] #655 closed

[2022-08-13 19:04] #648 closed

[2022-08-13 20:16] adirh3 commented on #629
This issue has been potentially fixed in version 0.9.92.33                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-14 06:13] H5820121 commented on #629
Thanks, but still the bug is not fully fixed, in searching for **two** words by **two** letters with **tag**, and I will demonstrate it,
In a search with the Everything indexer it finds well, as you can see in the screenshot

![image](https://user-images.githubusercontent.com/105562828/184524596-86a0087f-5c5f-4ed2-83ef-9055b17718fa.png)

But when searching with an FS indexer he finds nothing and a

[2022-08-14 06:33] H5820121 commented on #629
Thanks, but still the bug is not fully fixed, in searching for two words by two letters with tag, and I will demonstrate it,
In a search with the Everything indexer it finds well, as you can see in the screenshot

![image](https://user-images.githubusercontent.com/105562828/184525376-40d3c5cd-162e-4c96-b680-91be98b3f158.png)

But when searching with an FS indexer he finds nothing and as you can se

[2022-08-14 17:51] H5820121 opened #656 "Bug, The "window opacity" setting does not work in the submenus"
The window opacity setting
![image](https://user-images.githubusercontent.com/105562828/184548698-f4efaccb-64c9-42bf-92ba-e9ed136d309a.png)

 does not work in the submenus, as you can see in the screenshots.
![image](https://user-images.githubusercontent.com/105562828/184548786-b8b8bd29-7b8b-4596-983f-cb804d3e9267.png)
![image](https://user-images.githubusercontent.com/105562828/184548798-2c097285

[2022-08-15 14:24] H5820121 commented on #656
![image](https://user-images.githubusercontent.com/105562828/184653857-bcc99530-e71c-4c0a-a6d9-03c1b75f4de6.png)

[2022-08-17 05:16] zznty opened #657 "Active fileindexer service causes silent destiny 2 crash"
**Describe the bug**
Destiny 2 crashes if fluentsearch service is running in background

**To Reproduce**
Steps to reproduce the behavior:
1. install fluentsearch with file indexer enabled
2. install destiny 2 from steam
3. get past titlescreen of the game
4. see it will crash in about 2-3 minutes

**Expected behavior**
Fix this interraction with software

**Desktop (please complete the following

[2022-08-17 05:20] Sp1rit opened #658 "Development: "Search again" does not keep the window open"
**Describe the bug**
I am handling the HandleSearchResult inside each operation (but also tried only in the App). Returning for example:
`new HandleResult(true, true) { SearchRequest = new SearchRequest("test", "", SearchType.SearchAll) };`

The new request is set, but the window closes. It seems to work for built in searches (like edit of chrome history item).

**Expected behavior**
The window sh

[2022-08-17 06:55] BaalEvan opened #659 "[Tasks] Grouping isn't working"
**Describe the bug**
Adding same string as a Group doesn't group entries

**To Reproduce**
Steps to reproduce the behavior:
1. Create new TaskProject
2. Add Search node
3. Add Custom Result with "example" as a Group
4. Add Second Custom Result with "example" as a Group
5. Try to call search

**Expected behavior**
Entries should be grouped like when looking for app with active process

**Screenshot

[2022-08-17 15:35] adirh3 commented on #659
@BaalEvan you need to enable `Group search results` in Settings -> Search

[2022-08-17 15:40] BaalEvan commented on #659
I have it enabled and it is working for different kinds of search
![image](https://user-images.githubusercontent.com/1843494/185182583-5e04b17d-13a3-4ace-bf90-00d8a3402cab.png)
![image](https://user-images.githubusercontent.com/1843494/185182635-6391e36c-c90f-411f-acda-ef54dd880185.png)

[2022-08-17 15:46] #653 closed

[2022-08-17 15:48] BaalEvan commented on #659
But changing Smart into Type is kinda working but still Group field is ignored
![image](https://user-images.githubusercontent.com/1843494/185184695-ef372355-9a51-404b-a00e-4b748c0b76b2.png)

[2022-08-17 15:53] BaalEvan opened #660 "[Tasks] Adding Information Elements causing Crash"
**Describe the bug**
Clicking + button custom result settings window causes application crash

**To Reproduce**
Steps to reproduce the behavior:
1. Create TaskProject
2. Add CustomResult
3. Open settings for CustomResult
4. Click + button next to Information Elements
5. Application Crashed

**Expected behavior**
User should be able to add Information Elements

**Screenshots**
![image](https://user

[2022-08-17 15:59] BaalEvan opened #661 "[Tasks] Pinning Custom Result causes crash"
**Describe the bug**
Pinning more than 1 Custom result causes application Crash

**To Reproduce**
Steps to reproduce the behavior:
1. Create new TaskProject
2. Add Search
3. Add Custom Result (Pin 1) with pinning enabled
4. Add Custom Result (Pin 2) with pinning enabled
5. Search
6. Pin "Pin 1"
7. Pin "Pin 2"
8. Crash

**Expected behavior**
Both results should be pinned without crash

**Screenshot

[2022-08-17 16:01] BaalEvan opened #662 "[Tasks] Adding custom images to CustomResult doesn't work"
**Describe the bug**
Adding customImage via Open window does nothing, adding via drag and drop causes app to hang

**To Reproduce**
https://user-images.githubusercontent.com/1843494/185187560-804e32ca-b7c3-4d67-827d-daeecc69b170.mp4

**Expected behavior**
User should be able to add image

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the f

[2022-08-17 19:54] adirh3 commented on #662
@BaalEvan thanks a lot for all the detailed feedback! it's much appreciated :)

[2022-08-17 19:57] adirh3 commented on #658
@Sp1rit please set the `ISearchOperation`'s `HideMainWindow` to `False` to make it not hide the search window before running the operation.
If you'd like to hide the search window after running the operation, set the `ForceHideWindow` of `HandleResult` to `True`.
Hope this helps, also feel free to ping me in Discord for any questions - https://discord.gg/W2EuWvD6GD

[2022-08-17 21:48] adirh3 commented on #659
This issue has been potentially fixed in version 0.9.92.35                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-17 21:48] adirh3 commented on #660
This issue has been potentially fixed in version 0.9.92.35                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-17 21:48] adirh3 commented on #661
This issue has been potentially fixed in version 0.9.92.35                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-17 21:48] adirh3 commented on #662
This issue has been potentially fixed in version 0.9.92.35                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-18 06:36] Rhizob opened #663 "Edge extensions?"
Hi,

Is it currently possible to add (edge) extensions to the built-in browser (mobile view or otherwise)?
If not, I think this would be a great addition.

Thanks as always.

[2022-08-18 09:46] #659 closed

[2022-08-18 16:19] adirh3 commented on #663
@Rhizob unfortunately it's not supported yet by Edge web view.
Leaving here their issue for tracking - https://github.com/MicrosoftEdge/WebView2Feedback/issues/98

[2022-08-18 16:21] adirh3 commented on #657
@zznty can you check if it happens if you add Destiny 2's executable file name to to `Ignore these processes for in app content search` in Settings -> Processes?

[2022-08-18 18:50] zznty commented on #657
did not help, still the same crash
![image](https://user-images.githubusercontent.com/94796179/185471602-d4077dc5-cf57-4824-92d8-4547149f9bc5.png)

[2022-08-18 18:52] adirh3 commented on #657
@zznty Can you please enable `Gaming mode` in the system tray menu, and then open Destiny and let me know if it happens?

[2022-08-18 21:44] Rhizob commented on #663
Got it. Thanks Adir. Hopefully they will change this soon.

[2022-08-18 23:44] adirh3 commented on #631
This issue has been potentially fixed in version 0.9.92.36                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-18 23:44] adirh3 commented on #629
This issue has been potentially fixed in version 0.9.92.36                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-18 23:44] adirh3 commented on #656
This issue has been potentially fixed in version 0.9.92.36                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-19 10:27] H5820121 commented on #629
Thanks! It seems that FS Indexer is now fully adapted to Hebrew as well, if I encounter a bug in the future I will report.

[2022-08-19 10:28] #656 closed

[2022-08-19 14:22] lvlzyro opened #664 "High CPU Usage"
**Describe the bug**
The app is using very high CPU like 3-5%, it even goes up to 15 when I start to search.

**Screenshots**
On background:
![Screenshot 2022-08-19 172015](https://user-images.githubusercontent.com/45663782/185639252-c5215d94-07f8-4c3d-8f0d-39f183082198.png)

**Desktop (please complete the following information):**
 - Windows 11 Version: 22H2
 - Fluent Search Version 0.9.91.0

[2022-08-19 16:08] zznty commented on #657
gaming mode seems has fixed the issue

[2022-08-19 16:10] adirh3 commented on #657
@zznty maybe the game is spawning multiple processes? if gaming mode fixes that than adding it to the ignore list or disabling `Search in app content` should fix the issue

[2022-08-19 16:12] adirh3 commented on #664
@lvlzyro from the screenshot I suspect it is the file indexer, can you open Settings -> Files -> File indexer -> Change to Fluent Search indexer, click `Uninstall service` and then change back to Windows search.
Let me know if that helps

[2022-08-19 16:39] lvlzyro commented on #664
I tried it, unfortunately didn't work. Any  other suggestions?

[2022-08-19 16:40] adirh3 commented on #664
@lvlzyro how many Fluent Search instances do you see in the Task manager?

[2022-08-19 16:41] lvlzyro commented on #664
Just one

[2022-08-19 16:43] adirh3 commented on #664
@lvlzyro did you disable `Use GPU` in Settings -> System?
Also, would you mind trying to install the EXE version and see if it happens there? You can download it from here - https://fluentsearch.net

[2022-08-19 16:46] lvlzyro commented on #664
Use GPU is enabled currently, but let me try to disable it. Then I'll try the exe install and then I'll tell you if it's fixed.

[2022-08-19 16:51] lvlzyro commented on #664
I tried both, but it's sadly still the same.

[2022-08-19 17:02] lvlzyro commented on #664
I tried both, it's still around 1% and peaks frequently.

[2022-08-19 17:11] adirh3 commented on #664
@lvlzyro thanks for testing, if gaming mode doesn't help than I don't have any other solution unfortunately.
I will be looking into it for the upcoming version.

[2022-08-19 17:12] lvlzyro commented on #664
No problems, thanks for the help anyway!

[2022-08-19 20:50] razjel commented on #631
I really appreciate you found time to touch my issue :)

I tested it. It's much better but Launchy still handles it better for my use cases. With this version Fluent matches beginnings of tags to input from search field, but it only matches whole words and it looks like it can't skip words in between. Launchy allows to seek in any words and matching fragments of words.

Also I don't know if it's a

[2022-08-19 21:04] adirh3 commented on #631
@razjel thanks for the input!
If you match part of a word, how would you know if that's what the user intended to search or it's part of a tag? I tried implementing it that way at the beginning, but it seems very confusing for me.

I think I do not fully understand the use cases here.
TBH I never used Launchy and I don't really understand what I am seeing in that screenshot (sorry).
I would apprec

[2022-08-20 05:34] zznty commented on #657
disabled `Search in app content` and game still crashes, so only gaming mode helps.
game is starting through small laucher process which starts battleye service.
maybe there is something other, because destiny can crash due to game overlays (discord or msi afterburner)

[2022-08-20 13:49] mofoni commented on #664
i had a similar problem.
Is "Screen" --> "Process Screen in background" enabled?
If it is, you should disable it

[2022-08-20 14:31] mofoni opened #665 "Settings search: using localised search-terms from windows search"
Hello, i have a request for the settings-search feature:

When you search for Windows-system related programs in the Windows search, you can use the english term or use the localised Name of the App you want.

the localised (in my case german) search looks like this:

![Screenshot 2022-08-20 160139](https://user-images.githubusercontent.com/96438242/185750011-69cefbbd-123a-4355-9735-0a94d8e6422c.j

[2022-08-20 22:49] opack opened #666 "Web preview not working"
**Describe the bug**
I cannot get the web preview to work: the preview panel remains empty and never shows the website result.

When contacted about this issue, @adirh3 suggested that I install [Microsoft WebView2](https://go.microsoft.com/fwlink/p/?LinkId=2124703), but this gave me the following error: _"Installation failed. Microsoft Edge Webview2 Runtime is already installed on your system"_
![

[2022-08-21 10:57] H5820121 opened #667 "Bug in the tags in Settings for 'power users'"
I noticed now, that in Settings for power users, even though **all the shortcuts for my tags work fine**, I don't see them in the settings view, and as you can see in the screenshot. In the past (I think two months ago) there was not this bug.

![image](https://user-images.githubusercontent.com/105562828/185787707-3c951e2c-83a3-4b5f-b708-258b6ce8e884.png)

My tags are one letter in **Hebrew**.
And

[2022-08-21 11:13] adirh3 commented on #666
@opack can you try uninstalling and reinstalling WebView2? It should show in Windows settings for removing apps

[2022-08-21 21:33] opack commented on #666
Here was the current installed version:
![image](https://user-images.githubusercontent.com/3687098/185811704-54f68907-4ed7-48b0-b343-99a9c754a2df.png)
I uninstall it, as instructed.
Then reinstalled (using the link in my first message) and now I have the same version (but reinstalled):
![image](https://user-images.githubusercontent.com/3687098/185811731-f3707472-d352-4948-8ba1-50be82b6b10c.png)

N

[2022-08-21 21:33] #666 closed

[2022-08-22 09:17] mragtronx8 opened #668 "QM - Mouse Trigger"
QM - Mouse Trigger

in autohotkey there is an option [KeyWait, LButton, T1.2    ;1.2 sec]
eg: if i press left mouse button for 1.2 seconds, then mouse click will execute after the set time

can this be implemented in FS, for QM mouse trigger
this way, there will not be conflicts with other apps

[2022-08-22 18:24] wingenius opened #669 "Screen Search Tags Do Not Work On More Than 2 monitors"
**Issue**
Screen Search Tags [1] do not appear on a monitor once the total number of monitors connected to a computer exceeds 2.
In-app screen tags [2] work fine regardless.

**What happens?**
If you use 3 or more monitors and try to show Screen Tags [1] on the monitor of focus, the tags show for a brief second and then disappear.

**How to reproduce?**
Note: You need 3+ monitors to replicate this

[2022-08-23 06:35] lvlzyro commented on #664
@mofoni i think it's disabled already. I guess all I can do is to wait @adirh3 to try and fix it.

[2022-08-23 21:10] opack opened #670 "Impossibility to ignore a suggestion makes it impossible to use some tags"
**Describe the bug**
I cannot use the tag `english` to get the Translator plugin to translate things in English. It's working properly in Japanese or French, but when I start typing `en`, there is a suggestion that remains even if I enter the full `english` word. Then, if I hit TAB, the suggestion is selected instead of the word `english`.

I would like to know how to enter my tag without acceptin

[2022-08-23 21:13] adirh3 commented on #670
@opack thanks for the input, I will improve this soon.
For now I suggest using `Ignored search tags` or `Map search tags` in Settings -> Search tags.
If you don't use that English tag, simply add it to the `Ignore search tag` and it should solve this specific issue.

[2022-08-23 21:20] opack commented on #670
No no, that precisely the opposite: I do want to use it 😅 But I cannot because the suggestion get chosen instead of the simple `english` tag.

I already tried mapping `en` to `english`, but obviously the problem remains, as it also triggers the suggestion.
I also tried to use a mapping like `tren` (contraction from `translate english`), but look what it gets me 😅
![image](https://user-images.githu

[2022-08-23 21:30] opack commented on #670
OK, I understoog what you meant by ignoring the search tag: great feature by the way, with the help of the little light bulb I could ignored the bad tag:
![image](https://user-images.githubusercontent.com/3687098/186269567-0219470f-0425-4be6-8422-163e363f222b.png)

Now it is not suggested anymore. However, strangely, the `english` keyword does not trigger the Translator plugin. Should I open an is

[2022-08-23 21:36] adirh3 commented on #670
@opack that's really interesting, somehow the English tag is somehow ignored.
Can you try to disable and enable the Translator search in Settings -> Translator?
That should reset the search tags, but I am not sure yet why this is happening.

If it's consistent for you, it would be helpful if you can send me your settings folder in Discord private message (they're in %appdata%/Blast/Settings)

[2022-08-23 21:52] opack commented on #670
Nope, not working :-( I even tried to uninstall/reinstall the plugin, no luck. I'll contact you on Discord to send my settings 😉

[2022-08-23 22:07] opack opened #671 "Impossible to add spaces in Arguments for "Default file manager""
**Describe the bug**
In order to add several arguments, I try to add a space after an argument in the input _Arguments_ of the section _Files > Default file manager_.
However, hitting space only shows/hides the section _Open folders in existing file manager window_.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to _Files > Default file manager_
2. Try to add several arguments, separatin

[2022-08-25 15:43] adirh3 commented on #663
Closing it for now, tracking the Edge issue.

[2022-08-25 15:43] #663 closed

[2022-08-25 22:30] adirh3 commented on #667
This issue has been potentially fixed in version 0.9.92.37                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-25 22:30] adirh3 commented on #670
This issue has been potentially fixed in version 0.9.92.37                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-25 22:30] adirh3 commented on #671
This issue has been potentially fixed in version 0.9.92.37                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-08-26 18:05] lvlzyro opened #672 "VS Code Workspaces Plugin"
Is there a way to implement [this ](https://github.com/microsoft/PowerToys/tree/main/src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces) Powertoys Run plugin for VSCode workspaces to Fluent Search?

[2022-08-26 19:08] adirh3 commented on #662
@BaalEvan can you please go over the fixed issues and close them if they're fixed?

[2022-08-26 20:12] #662 closed

[2022-08-26 20:13] #661 closed

[2022-08-26 20:14] #660 closed

[2022-08-26 21:25] opack commented on #670
Yeah! It works! 👍

![image](https://user-images.githubusercontent.com/3687098/186992763-ad8adcd8-ff84-4d83-a02f-ab8e23201b49.png)

Thanks a lot for the quick and efficient fix! 👏

[2022-08-26 21:25] #670 closed

[2022-08-26 21:28] opack commented on #671
Perfect! It works fine, thank you very much! 👍

However, it's not a big deal, but now I cannot move the Settings window anymore 😅 Do you want me to open another issue?

[2022-08-26 21:29] adirh3 commented on #671
No need, will be fixed in the next update.
Thanks :)

[2022-08-26 21:29] #671 closed

[2022-08-27 03:49] Rhizob commented on #509
Update:
Haven't experienced any of mentioned issues in at least a month now. Not sure which nightly fixed it - but it seems to have resolved on my end. Thanks for all the hard work.

[2022-08-27 10:35] adirh3 commented on #509
@Rhizob glad it's resolved :)

[2022-08-27 10:35] #509 closed

[2022-08-27 18:03] #667 closed

[2022-08-27 18:12] H5820121 opened #673 "The 'TASKS' don't apply to the QM"
For example, I have a 'task', that open a PDF document with 'SumatraPDF' application, with shortcut  'F2', I can't use it in QM.
Thanks!

[2022-08-31 08:22] wordpure commented on #442
Nightly RSS can be generated through [RSSHub](https://docs.rsshub.app/en/program-update.html#app-center).

For example, nightly portable can use `https://rsshub.app/app-center/release/adirh3-gmail.com/fluent-search-alpha/portable`.

![图片](https://user-images.githubusercontent.com/68013962/187630784-041ba88c-5f87-4d74-82e2-6fa9665a0869.png)

[2022-08-31 09:17] wordpure opened #676 "Text preview wrap does not adapt to pane size"
**Describe the bug**
Even with word wrap turned on, the text in the preview pane does not automatically adjust to the maximum length of each line as the pane size changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on 'Setting - Preview - General - Word wrap'
2. Preview text file
3. Zoom out the preview pane
4. Text inside preview pane does not wrap properly

**Expected behavior**

[2022-09-08 15:07] IgnusG commented on #365
Found the culprit I think (drained my battery in 45 minutes on full) a few days back. I enabled gaming mode as suggested back then and just had the laptop open not doing anything on it but it kept being very warm and spinning its fans all the time. Checked task manager and fluent was consistently using about 15% CPU (i9 chip).

So I went through the settings and disabled Screen -> Process screen i

[2022-09-08 22:51] razjel commented on #631
It's hard to describe with with words so I've written example implementation in JS. Launchy is doing a bit more with this, because it remembers which option you were choosing previously for given query and moves those entries to higher positions in final result.
[code]

[2022-09-09 00:39] brian6932 commented on #9
@adirh3 I have this same issue with a mounted sshfs network drive, on 0.9.91.9995

[2022-09-09 02:38] brian6932 commented on #664
Not just high CPU usage, the indexer has far too much RAM consumption as well, the indexer def has a resource usage problem
![image](https://user-images.githubusercontent.com/18603393/189260896-d45442c8-44e1-4052-a866-42290311cbdd.png)

[2022-09-11 14:08] gitthangbaby commented on #404
in all August builds, Everything search takes like 30s to produce one result. In total, it finds only little, and nothing from network drives. Is FS connecting to Everything or just trying to search its database?

[2022-09-13 04:06] pukkancsanyo commented on #337
Hi, I'm sorry for being late with the feedback, the summer was a bit busy.
I tested the new stable, and it seems to work now with FF. Tor also appears to work out of box most of the times with some occasional hiccups I cannot explain (sometimes searching for tabs does not switch to the specific tab itself but to the last opened tab of the browser).
Librewolf also seems to work now with some access

[2022-09-13 07:02] adirh3 commented on #337
@pukkancsanyo all good, thanks a lot for testing!
Tabs not triggering should be fixed in next Stable version.
I will be closing this for now, feel free to reopen if you encounter the issue again.

[2022-09-13 07:02] #337 closed

[2022-09-13 17:23] adirh3 commented on #404
Do you use Everything 1.5 or 1.4? can you please try to revert FS version to see if that's what caused the issue

[2022-09-13 20:51] gitthangbaby commented on #404
Using Everything 1.4.1.1018 (can't see 1.5 anywhere), and Fluent Search 0.9.91.9995 stable and then 0.9.92.20 to 44. Slow and limited results every time sadly.

[2022-09-14 13:56] kumar007git opened #678 "Search window size is not remembered"
**Describe the bug**
I resize the search window size but when fluent search is started the next time then search window size is not remembered (it's not the same as last time)

**To Reproduce**
Steps to reproduce the behavior:
1. Call up search window
2. Increase the search window size
3. Exit fluent search
4. Start fluent search
5. call up search window

**Expected behavior**
Search window size s

[2022-09-14 13:57] adirh3 commented on #678
@kumar007git did you enable `Remember window size after restart`?

[2022-09-14 15:47] kumar007git commented on #678
Yes, it is enabled. I tried it many times again before typing this reply and it still does the same thing.
I resized the search window to make it large.
I exited fluent search.
I started fluent search.
The search window size is not the same as the large one. It is still small.

[2022-09-14 17:08] kumar007git commented on #678
after testing so many times, I am 100% positive, remember window size is not working.

[2022-09-19 07:02] lvlzyro opened #681 "Fluent Search start on somewhere higher in first start"
**Describe the bug**
In every first opening after boot in fluent search starts a little higher than usual.

**To Reproduce**
We figured out it's caused by "Adjust search window height based on the content" setting.

**Expected behavior**
It to open up in same position as usual in every time.

**Screenshots**

how it's supposed to be:
![correct](https://user-images.githubusercontent.com/45663782/19

[2022-09-24 05:33] PwrSrg commented on #628
How did you tell Fluent Search to use Everything as it's indexer??  I have used Everything for YEARS, but only just heard about Fluent Search.  It looked pretty decent, so I tried it out.  But when I couldn't figure out how to set Everything as it's default indexer, I immediately uninstalled it.  Not worth the hassle.

[2022-09-24 18:42] adirh3 commented on #628
Hey to use Everything indexer open Settings -> Files -> File indexer  -> Select Everything

[2022-09-24 21:26] PwrSrg commented on #628
AHH, no wonder I couldn't find it.  That is buried! 😬

Now if I could just figure out how to tell it to ONLY open on my main display. 🙃

Thanks.

[2022-09-25 06:09] adirh3 commented on #628
To do that open Settings -> System -> Startup position, set to Display center.
Feel free to join the Discord server, you can ask anything there and will get faster replied - https://discord.gg/W2EuWvD6GD

[2022-09-26 18:02] adirh3 commented on #678
@kumar007git can you please send me your settings in Discord?

[2022-09-26 18:24] adirh3 commented on #673
@H5820121 Did you make the result pin-able and pin it?
I need more info to understand the issue..

[2022-09-26 20:57] adirh3 commented on #676
This issue has been potentially fixed in version 0.9.92.47                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-09-26 20:57] adirh3 commented on #681
This issue has been potentially fixed in version 0.9.92.47                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-09-27 05:19] wordpure commented on #676
Thanks for the fix.

I wonder if you could consider increasing the spacing on both sides of the text?

[2022-09-27 05:46] wordpure opened #682 "Text preview window does not automatically highlight"
**Describe the bug**
After updating to version 0.9.92.47, the preview text will not be highlighted automatically, only the selected text will be highlighted.

**Expected behavior**
When previewing common code files with small file size, the text is automatically highlighted.

**Screenshots**
https://user-images.githubusercontent.com/68013962/192441455-bf009eb2-e1f1-4c05-80b0-70705d3d2b42.mp4

**De

[2022-09-27 09:52] adirh3 commented on #676
Give horizontal padding? Wouldn't it reduce space for text to read?

[2022-09-27 10:48] wordpure commented on #676
What I'm thinking of is to add padding to the left and right sides of the text with a width of about two characters each, so that the text area is better separated from the line numbers or pane edges.

![图片](https://user-images.githubusercontent.com/68013962/192504221-fe983f40-9167-4700-bc31-f7bfb5314b8f.png)

This definitely reduces the readable area of the preview pane, but the size of the searc

[2022-09-27 10:52] wordpure commented on #682
**Supplement**

After adjusting the size of the preview pane, all the code texts currently previewed will be highlighted, but it will not affect the code files of subsequent previews.

[2022-09-27 18:16] H5820121 commented on #673
I mean the files that are in the "recent files" list, in the QM.

[2022-09-27 19:28] kumar007git commented on #678
Hello Adhir,
I don't use discord sorry. The 'remember window size after restart' appears to only apply to all windows of fluent search except the search window.

I adjust the search window size and fluent search remembers it but if I restart fluent search then the search window size is reset.

I think this may be due to the search window style setting (which can be set to full window or search bar

[2022-10-05 11:29] tomas-hotovy opened #685 "Ignore hotkey on fullscreen processes setting consumes some of the inputs"
**Describe the bug**
I have my Fluent search mapped to ctrl + space. I have the "ignore hotkey on full screen processes" enabled. When I press the Ctrl + Space in one of the fullscreen applications the Ctrl is detected by that app, but the space not. So the Fluent search consumes the second input. When I press Ctrl or Space separately, both are recognized by the app. When I exit the Fluent Search

[2022-10-06 13:30] SullieLore opened #686 "Not sure if bug or feature request, but Map searches isn't working as I expected"
Hi,

1. Activate Enable keyword mode.
2. Map searched text. Example: yt > Youtube.
3. Open Fluent Search panel.
4. Type yt then space and LOLCATS. Notice there are no LOLCATS results from YouTube.
5. Type yt then tab and LOLCATS. Notice there are LOLCATS results from YouTube.

Expected:

Type yt then space and LOLCATS. Notice there are LOLCATS results from YouTube.

Thank you.

[2022-10-08 20:10] Elaws commented on #509
Just reinstalled FluentSearch a few days ago : the problem still occurs (Windows 11 - Firefox).

Everytime I want to restore Firefox fullscreen, I need to click twice on its taskbar icon otherwise nothing happens but an alarm sound.

EDIT : Like @Rhizob, I have a secondary monitor. I just noticed that I've not yet been able to reproduce the problem when second monitor is unplugged... So maybe a hi

[2022-10-11 07:18] nutnutwin commented on #506
Will do Later (not at home now...)

On Thu, May 5, 2022 at 20:39 Lighto ***@***.***> wrote:

[2022-10-13 23:17] wada3n commented on #466
@adirh3
Hi,
I hope the Arabic language support update is released, the tool is amazing but it doesn't handle Arabic very well so it can't be used in its full glory, please.

[2022-10-18 19:36] adirh3 commented on #686
@SullieLore sorry for late reply.
To map search tag, use `Map searched tag` in Settings -> Search tags and remove your previous searched text mapping.
Let me know if it helps :)

[2022-10-18 19:39] adirh3 commented on #685
Hey @tomas-hotovy, the `Ignore hotkey on full screen processes` does not un-register the hotkey, it simply ignores it.
The reason is that if it unregistered it when a full screen process was opened, it might not be able to register it again afterward, emptying the hotkey.
I might change this feature to unregister hotkeys completely in full screen apps and when using gaming mode, so keep this open

[2022-10-22 22:45] Otiel commented on #486
`Settings` → `Appearance` → disable `Show result information`

[2022-10-26 19:44] #681 closed

[2022-10-26 19:55] adirh3 commented on #652
Thanks, this should be fixed on latest nightly, closing.

[2022-10-26 19:55] #652 closed

[2022-10-26 19:56] #646 closed

[2022-10-26 20:16] xtmu opened #687 ""Search using Screen" some hints show under system taskbar/traybar"
**Describe the bug**
Screen hints are covered by the system taskbar,only part of a hint rectangle can be seen, so I can't click any icon on the system taskbar or tray. I have tried to run FS with elevated privilege, which makes no difference.

**To Reproduce**
Steps to reproduce the behavior:
press "Search using Screen hotkey".

**Expected behavior**
"Search using Screen" hints show above system t

[2022-10-26 20:48] kwonoj opened #688 "[Feature] support Windows on arm"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-26 20:56] adirh3 commented on #651
This issue has been potentially fixed in version 0.9.92.48                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-10-26 20:56] adirh3 commented on #685
This issue has been potentially fixed in version 0.9.92.48                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-10-27 15:21] #658 closed

[2022-10-27 15:21] adirh3 commented on #650
@BaalEvan I believe this is fixed now, closing but feel free to reopen if its not fixed for you.

[2022-10-27 15:21] #650 closed

[2022-10-28 02:39] xtmu commented on #687
Thank you for reply.
Yes, I'm using search all hotkey. When putting the taskbar at bottom, there is no hint rectangle around taskbar at all.

Screenshots:
![image](https://user-images.githubusercontent.com/90405292/198453495-a227562d-c7c2-4337-a813-1ab7b112a4db.png)

In addition, search all screen hotkey don't work well when start menu is on, the menu will be turned off after press the hotkey, may

[2022-10-28 14:09] adirh3 commented on #615
This has been added in the nightly version, closing

[2022-10-28 14:09] #615 closed

[2022-10-28 14:10] #572 closed

[2022-10-28 14:10] #570 closed

[2022-10-28 14:11] #540 closed

[2022-10-28 14:11] #498 closed

[2022-10-28 14:13] #399 closed

[2022-10-28 14:16] adirh3 commented on #297
@cannibalox should be fixed, re-open if it's not for you

[2022-10-28 14:16] #297 closed

[2022-10-28 14:16] #323 closed

[2022-10-28 14:41] Dahlai opened #689 "open powershell inside current folder"
I often would like to open a powershell (or command prompt) when navigating with windows explorer.
Fluent Search has a nice feature to open up a powershell, but it is always in the user's root directory. Would be great if it started with the 'correct' directory being active.

[2022-10-28 14:46] adirh3 commented on #689
@Dahlai not sure I understand, when you search for any folder you will have an `Open Directory in Command Line`, does it not open the correct folder for you?

[2022-10-28 15:12] Dahlai commented on #689
What you suggest works.

What I'd like to achieve, however, is that fluent search would detect that I'm using the file explorer and the current directory that I'm in and then have the option to open the powershell in that specific directory. I'm not sure if that would be within the scope of fluent search, but I hope this makes more sense, now.

[2022-10-28 15:19] adirh3 commented on #689
@Dahlai good idea, I created a Task (plugin) to do that using a hotkey -
https://raw.githubusercontent.com/adirh3/Fluent-Search-Tasks/main/Utilities/Open%20current%20path%20in%20WT/Open%20current%20folder%20in%20WT.yaml

To use it, download the file, then drag and drop it into the Tasks window (open from system tray).
Let me know what do you think.

[2022-10-28 15:35] Dahlai commented on #689
@adirh3
I tried it, but it doesn't work. For one, I think the `fileName: wt.exe` is likely wrong.
When I exchange it for the path to the powershell.exe it opens it up, but immediately closes it again.

Removing the `arguments: -d "{path}"` line resolves this issue, but then it just opens the powershell without changing to the current directory.

[2022-10-28 17:09] Dahlai commented on #689
@adirh3
thanks for the input, the following did the trick:
[code]

[2022-10-28 17:09] #689 closed

[2022-10-29 15:03] ligq opened #690 "Content search cannot find Chinese characters"
Content search cannot find Chinese characters
My windows is Chinese version win11 22H2 22621.755

[2022-10-29 15:08] u-Sir commented on #690
可以试下多输入几个字😉

[2022-10-29 18:06] kumar007git opened #691 "Shift key showing weird symbols"
**Describe the bug**
Something happened inside Fluent Search and whenever I press shift key then weird letters are shown on the screen. This happens in any app. I could tell this has to do with Fluent Search because if I exit Fluent search it does not happen and the color scheme of the weird letters is what I selected in Fluent Search.

**To Reproduce**
Steps to reproduce the behavior:
Don't know

[2022-10-29 18:15] adirh3 commented on #691
@kumar007git this is most likely Screen Search, can you go to Settings -> Screen Search and see if `Shift` is the hotkey?

[2022-10-30 05:57] u-Sir commented on #690
试了下，中文要至少3个字才能搜到

[2022-10-30 14:35] ligq commented on #690
You are right. And I found for English we also have to input at least 3 letters to start the search.
But for the Chinese, it's a bug. A Chinese character is equivalent to an English word, not a letter. The search should start after we input one Chinese character.

[2022-10-30 15:19] u-Sir commented on #690
developer said "it's not only Chinese it's all languages"

[2022-10-30 15:30] adirh3 commented on #690
I might add option to use Pinyin for content search, but it would double the index size. Would you be OK with that? (Double since it will account for both English a pinyin and Chinese)

[2022-10-31 08:17] ligq commented on #690
Thank you for your quick response. Pinyin could be helpful, but it's not a perfect solution, since one pinyin generally corresponds to several Chinese characters.

[2022-10-31 08:44] adirh3 commented on #690
Yes I am aware of that thanks to @u-Sir :)
The thing is, searching with less than 3 letters would be extremely slow, probably like more than 6 seconds, and it will also be CPU intensive.
I might enable that for Chinese specifically in the next nightly update and see how it goes.

[2022-11-05 07:39] #483 closed

[2022-11-06 02:00] Shikamaru30 opened #692 "Search Window Size Isn't Remembered"
**Describe the bug**
The search window doesn't keep the size I specifically set for it, even though the setting for it to do so is turned on.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'.
2. Click on 'Appearance'.
3. Scroll down to 'Remember Window Size After Restart'.
4. Restart Computer.
5. As you can see, the search window size wasn't remembered.

**Expected behavior**

[2022-11-06 21:23] adirh3 commented on #678
This issue has been potentially fixed in version 0.9.92.56                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-11-06 21:23] adirh3 commented on #692
This issue has been potentially fixed in version 0.9.92.56                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-11-07 07:35] u-Sir opened #693 "text wrap/display incorrectly in update window"
**Describe the bug**
text  wrap/display incorrectly

**To Reproduce**
Steps to reproduce the behavior:
1. `check for update`

**Screenshots**
![图片](https://user-images.githubusercontent.com/93647031/200251676-edfab3bc-4e8f-4c86-a5b5-42b5e78c163e.png)
![图片](https://user-images.githubusercontent.com/93647031/200251734-64b1d52f-8398-41e4-9ef7-9500e2202231.png)

**Desktop (please complete the followin

[2022-11-07 08:24] u-Sir opened #694 "remove previous tag watermark in search bar"
**Is your feature request related to a problem? Please describe.**
Now previous tag watermark will display in search bar, even `always clear tag` is enable.

repo:
1. type `image` and press `TAB`
2. search anything and open it
3. launch FS again (tips shows)

this confused me. every time it shows, i used to wait it disappear and then I type something.
yes, FS have settings about auto-clear searche

[2022-11-07 11:44] adirh3 commented on #694
@u-Sir sorry but I am confused what you mean by tips?
In the video I see the search tag is cleared and everything is back to normal after you opened Fluent Search for the second time.

[2022-11-07 12:51] u-Sir commented on #694
you can see the pic. just something like `search in ....`

[2022-11-07 13:40] adirh3 commented on #694
In the picture you are using the tag, was it stuck after relaunching?

[2022-11-07 15:31] u-Sir commented on #694
yes, it remains visible for a split second after relaunching

[2022-11-08 01:22] Shikamaru30 commented on #692
It works. Thank you.

[2022-11-08 08:29] #692 closed

[2022-11-14 01:07] Shikamaru30 opened #697 "Audio File Icons Are Displayed In Fluent Search Upside Down"
**Describe the bug**
Audio file icons are displayed in Fluent Search upside down.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Fluent Search'
2. Search for any audio file (mp3, flac, etc.)
3. See error

**Expected behavior**
For the icon to be shown correctly; upside up.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot_20221113_080349](htt

[2022-11-14 19:19] adirh3 commented on #697
@Shikamaru30 can you please send me a file for example?

[2022-11-14 22:43] Shikamaru30 commented on #697
What do you mean? Like an audio file?

[2022-11-16 19:06] adirh3 commented on #697
Yes, I can't repro it with files I checked.

[2022-11-17 08:22] zcw1030 opened #698 "switch process window based on the order of their position at taskbar"
![image](https://user-images.githubusercontent.com/43887769/202393233-6d3a0490-35cb-4886-8dc8-8912a1f0d30d.png)

lets say we have two hot key,  alt z (go left), alt c (go right)
so, when i alt c twice, the madvr window will be active, and then if i alt z, the fluent search window will open.

 basically, its like switch tabs in browser using ctrl tab and ctrl shift tab.

thx!

[2022-11-19 07:33] u-Sir opened #699 "press `enter` in `C#` block in tasks will cause FS crash"
**Describe the bug**
click on textbox and press `enter` in `C#` block in tasks will cause FS crash

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `tasks`
2. create a `C#` block
3. click on textbox and press `enter`

**Desktop (please complete the following information):**
 - Windows 11 Version: 22H2
 - Fluent Search Version 0.9.92.58

**Additional context**
[code]

[2022-11-19 07:39] u-Sir opened #700 "`restart` not work"
**Describe the bug**
`restart` machine not work

**To Reproduce**
Steps to reproduce the behavior:
1. search `restart`  and press `enter`  and `ok`

**Expected behavior**
restart

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - Windows 11 Version: 22H2
 - Fluent Search Version 0.9.92.58

[2022-11-19 22:44] Shikamaru30 commented on #697
[16. J Dilla - One Eleven.zip](https://github.com/adirh3/Fluent-Search/files/10048079/16.J.Dilla.-.One.Eleven.zip)

[2022-11-19 23:00] adirh3 commented on #694
This issue has been potentially fixed in version 0.9.92.59                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-11-20 03:03] CepheiSigma opened #701 "Fluent Search always prompt ‘Fluent Search still loading’"
**Describe the bug**
Fluent Search always prompts ‘Fluent Search still loading’ and it consumes memory of about 1GB-1.5GB

**To Reproduce**
firstime to run

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - Windows 11 Version: [22H2,22621.819]
 - Fluent Search Version [0.9.91.9995]

**Additional context**
it seems like the file-indexer takes a long

[2022-11-20 03:27] #694 closed

[2022-11-20 09:53] adirh3 commented on #701
@CepheiSigma can you screenshot the Task Manager? There is an issue with 22H2 that shows other unrelated processes under Fluent Search.
How did you install Fluent Search? Store/Exe? Can you please try installing the nightly release and see if it still happens -
https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-11-20 14:08] liuchanghuaX1 opened #702 "characterstandard form of Chinese is not correct"
The characterstandard form of Chinese is Janense，not Chinese.
![image](https://user-images.githubusercontent.com/40064819/202906723-dd96eaf6-de0b-4e8d-84cd-f1ee449a5267.png)

[2022-11-20 15:36] u-Sir commented on #702
用的什么字体？我用的 `Microsoft Yahei UI` 正常
![图片](https://user-images.githubusercontent.com/93647031/202911111-9decaad1-b0cf-49e9-b1b0-96fb7d71ece0.png)

[2022-11-20 23:47] adirh3 commented on #699
This issue has been potentially fixed in version 0.9.92.60                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-11-20 23:47] adirh3 commented on #700
This issue has been potentially fixed in version 0.9.92.60                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-11-21 01:22] X-X-C opened #703 "Using the keyboard direction keys to select a result item will have an additional border 使用键盘方向键选择结果项会有额外的边框"
<img width="600" alt="Snipaste_2022-11-21_09-19-50" src="https://user-images.githubusercontent.com/56710549/202938641-f7419bb5-ce1a-4bc8-8e2d-634db1864567.png">

This border will cause jitter when switching each result. Is it designed to do this?
这个边框会导致在每一个结果切换时抖动一下，不知道是有意设计成这样的吗？

[2022-11-21 01:41] X-X-C commented on #703
It seems that the size of the text prompt window here is not correct
貌似这里的文本提示窗口大小也不太对

<img width="451" alt="Snipaste_2022-11-21_09-40-41" src="https://user-images.githubusercontent.com/56710549/202943006-3ff3705b-5efe-43dc-b767-8327f14e8907.png">

[2022-11-21 01:45] msccreater opened #704 "local portable exe file is not in search apps list"
i have some portable exe fiel, when i search all apps, they doesn't appear in list
is there any method to add these portable exe file

[2022-11-21 01:46] liuchanghuaX1 commented on #702
![image](https://user-images.githubusercontent.com/40064819/202943463-cba920de-9792-484a-9cb3-a99f46aa187c.png)

我用的微软雅黑，字形有些简中有些日本字形。

[2022-11-21 01:50] #702 closed

[2022-11-21 02:40] u-Sir commented on #703
曾建议过添加一个选项去除这边框，但没采纳😂。提示那个感觉是因为你的鼠标在上面，我这边最新测试版上正常。

[2022-11-21 02:41] #700 closed

[2022-11-21 02:41] #699 closed

[2022-11-21 03:00] u-Sir opened #705 "`Enable keyboard navigation` still display incomplete"
**Describe the bug**
`Enable keyboard navigation` still display incomplete.

**To Reproduce**
Steps to reproduce the behavior:
1. turn on  'Enable keyboard navigation'
2. search anything
3. press `ctrl`

**Screenshots**
![图片](https://user-images.githubusercontent.com/93647031/202953926-650d2d83-c6b3-4495-a503-5b826a12f6fd.png)

**Desktop (please complete the following information):**
 - Windows 11

[2022-11-21 03:27] NightWatch0 opened #706 "Crash when searching for some specific keywords"
If use everything as an indexer, it will crash when searching for specific keywords.

It crashed when I searched for a particular file, but not after replacing the indexer from everything to Windows or Fluent. Then I changed the indexer back to everything and tried some other keywords and it worked fine, but it crashed whenever I searched for that particular file name. After a while, it suddenly r

[2022-11-21 04:25] u-Sir opened #707 "suggestion: improve indicator animations"
Now fs has two sets of animations on up/down selecting. But display speed is not match, so that make it looks weird. what I suggest is just make it look like the Windows settings do
https://user-images.githubusercontent.com/93647031/202965058-5be0618e-60a0-447b-9167-3dbce23fdbd9.mp4
in this video, up/down only move the border, and the indicator before title only move when I press `enter` or click

[2022-11-21 13:52] adirh3 commented on #707
@u-Sir you mean in Fluent Search settings or search window?

[2022-11-21 13:52] CepheiSigma commented on #701
@adirh3 ok got it, my Fluent Search was portable version，i will try nightly release,thanks

[2022-11-21 13:55] adirh3 commented on #706
@NightWatch0 when it crashes can you please open the Event Viewer, then go to Windows category and then Application and you will see two error logs for Fluent Search or ".NET" and send me these twos?

[2022-11-21 14:09] u-Sir commented on #707
all FS windows. 😂

[2022-11-21 16:26] mragtronx8 opened #708 "mouse double clicking"
when i search in fs and double click mouse to run/open; double clicking is not working for folders or videos or files.
FS 0.9.92.60 - windows 10 22h2

[2022-11-21 16:31] u-Sir opened #709 "`read file text` error"
**Describe the bug**
`read file text` error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `tasks`
2. create any trigger
3. create `read file text` block and copy any file path into textbox
4. connect them and trigger it

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![图片](https://user-images.githubusercontent.com/93647031/20310

[2022-11-22 01:17] NightWatch0 commented on #706
[FluentSearch.zip](https://github.com/adirh3/Fluent-Search/files/10061707/FluentSearch.zip)
Here are all the error logs.

[2022-11-22 04:08] tayxxs opened #710 "No limits for search result display when searching files"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
when i search the last file under a folder, i can't find the newest one because the limits of search result
when i put the setting to 75, it can show.
but it has risk for missing some files
SO i want request a function , i can set the limits to no limits or  the user can put in how much limi

[2022-11-22 05:06] Sander-Chen opened #711 "Suggestion: Please support the wechat chat-item locator"
**Describe the solution you'd like**
I expect that when I type any of my contact names, FluentSearch can help me to locate my mouse to the specific chat-item(with in-app search).
Currently, Fluent-search can help to detect the text shown inside the wechat; however, when I click Enter, it can not bring me to the target chat item.

[2022-11-22 05:12] Sander-Chen opened #712 "Fluent-search can support search any of the UI-component for all windows app in the background"
**Describe the solution you'd like**
currently, only when the target window gets focused can I activate the in-app search for that app.
However, that would be great if Fluent-search could support searching all UI-component for all white-list apps.

**Additional context**
- When I find something interesting in Chrome, I can copy some of the content, then I would like to use Fluent-Search to quickly

[2022-11-22 05:30] NightWatch0 commented on #711
Not only WeChat, but also some other software such as QQ and DingTalk are not clickable.
It also seems that Electron-based software such as VisualStudioCode cannot search for the button.

[2022-11-22 08:37] xiaohuihui522 opened #713 "使用“Fluent Search引擎”进行多个关键词搜索的疑问"
软件设置背景：
“Fluent Search引擎”已安装，且已完成了磁盘重新索引。

疑问一：
例如我想要搜索“搜狗输入法安装”，我输入的关键词有两个（两关键词中间加了空格）：“狗”、“安装”，无法得出正确的搜索结果。
但是连续字符组成的一组关键词，如“狗输入”可以正常搜索。
这现象 是否正常？多个关键词之间是否需别的连接符？

疑问二：
“Fluent Search引擎”是否可以对文档（.doc .docx .ppt .pdf【文本状态】等）里面的内容进行搜索？

[2022-11-22 10:10] adirh3 commented on #701
Is that the file indexer process? You can check by closing Fluent Search through the system tray menu and see if the remaining process is the big one.
Did you set indexing of network drives?

[2022-11-22 10:15] adirh3 commented on #713
1. Fuzzy search will work only when not using space between characters, so it may explain this behavior. If you can attach screen shot I may be able to better understand it.
2. Yes you can search in file content in the nightly version, to change to Nightly go to Settings -> System -> Release feed -> Nightly.

[2022-11-22 12:03] xiaohuihui522 commented on #713
![20221122192404](https://user-images.githubusercontent.com/116368348/203308841-bc88d8bb-8534-4a46-912c-f10790f99510.png)
图1，是使用EVERYTHING引擎，使用“空格”间隔开，打乱关键词顺序也可准确地搜到相应的文件。
第2、图3，是使用“”FS“”引擎，无空格，或者有空格间隔开，均无法找到相应的文件。

[2022-11-22 12:30] adirh3 commented on #713
Is it only with Chinese text? Does the Fluent Search indexer find other files or it doesn't find anything?

[2022-11-22 13:22] xiaohuihui522 commented on #713
1. The test, the English file name is normal search(When the order of keywords is disordered), only the Chinese state will have this failure.
2. regrettably，it doesn't find anything.

[2022-11-22 13:43] u-Sir commented on #713
@adirh3 Fuzzy search seems only work on PinYin
![图片](https://user-images.githubusercontent.com/93647031/203328697-40891512-dd10-46aa-ba8d-2a06ab5de0a9.png)
![图片](https://user-images.githubusercontent.com/93647031/203328945-71d2fed9-ecb5-4236-b316-371dc391d65c.png)

[2022-11-22 16:35] adirh3 commented on #713
Fuzzy lets you search partially without pressing space, so it's unrelated.
@xiaohuihui522 can you please share a file name (in Chinese) that Fluent Search does not find, and the search term you used? (Not in a screenshot please)

[2022-11-22 20:52] adirh3 commented on #706
@NightWatch0 did you install Fluent Search through the Microsoft Store?
If so, can you please try installing the nightly release from the installer and see if it still crashes - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-11-22 20:55] adirh3 commented on #709
@u-Sir don't escape (the `""`) the path of the file and it should work

[2022-11-23 00:29] xiaohuihui522 commented on #713
Filename:空格有隔开
Pinyin:konggeyougekai
Keywords:隔开 空格 有

By the way:Pinyin is a very effective way of searching, thanks for sharing.

[2022-11-23 01:41] NightWatch0 commented on #706
@adirh3 Yes, it is from the Microsoft Store. I tried the nightly version and it works fine. I think this bug can be considered solved, if it doesn't recur in the next period.

[2022-11-23 02:08] Sander-Chen commented on #712
Thanks @adirh3 , I have enabled this option, I found that it's working with some app like:

- Chrome
- Clickup windows client
However for the app like Foobar2000, it's not supported
![image](https://user-images.githubusercontent.com/9099892/203456653-18ed093c-464b-48c1-855b-fd69b100a780.png)

Only when I call out the in-app search feature(not the process search) with Foobar200 open, can the Fluent

[2022-11-23 05:18] #709 closed

[2022-11-23 17:47] adirh3 commented on #711
@Sander-Chen is that app running as admin? Do you see Fluent Search moving the mouse?

[2022-11-23 17:49] adirh3 commented on #712
@Sander-Chen note that Fluent Search will know about new UI elements only after you switch **away** from that program. If something changed in the currently focused program, then you will need to use in-app search's dedicated hotkey.

[2022-11-23 17:51] adirh3 commented on #708
@mragtronx8 any chance these folders/files don't exist anymore? Does Fluent Search close when you double click?

[2022-11-23 19:50] mragtronx8 commented on #708
they exist.
No fs doesn't close.

[2022-11-24 02:33] Sander-Chen commented on #711
@adirh3
1. Wechat is not running as admin;
2. After I click Enter on the search result, the Fluent Search would not move the mouse to the specific item(not the same as Clickup windows version I tested)

[2022-11-24 02:40] Sander-Chen commented on #712
@adirh3 I think I understood your feedback; I have doubled check, and when I switch away from that program and make the program can be seen in the front-end, I can still use in-app search(dedicated hotkey) to find the elements inside that program;
However, when this program is minimized or covered by other programs, I can not use the in-app search to find the element.

I'm not sure whether it's po

[2022-11-24 02:53] CepheiSigma commented on #701
after cleaning up Blast folder, it consumes more memory https://imgur.com/a/EYsSfIR

[2022-11-24 12:16] xiaohuihui522 opened #714 "Suggestions for optimizing the ranking of search results"
For the search results of file types, add the function of sorting by path , or by modification/creation time
 just like EVERYTHING software

[2022-11-24 14:03] u-Sir opened #715 "`Hotkey search tag mapping` can't select search tag"
**Describe the bug**
`Hotkey search tag mapping` can't select search tag

**To Reproduce**
Steps to reproduce the behavior:
1. go to `super user` -> `Hotkey search tag mapping`
2. click `+`
3. click on drop down button

**Screenshots**
![图片](https://user-images.githubusercontent.com/93647031/203802812-b1f910c7-ad57-4ee8-9bd7-76d1705560a1.png)

**Desktop (please complete the following information):

[2022-11-25 02:21] adirh3 commented on #715
This issue has been potentially fixed in version 0.9.92.61                                         . Changelog - https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2022-11-25 03:09] #715 closed

[2022-11-25 03:24] u-Sir opened #716 "sometimes IME will leave the charactors in search window"
**Describe the bug**
sometimes IME will leave the characters in search window

**To Reproduce**
Steps to reproduce the behavior, not 100% trigger:
1. use IME to type anything in search window, in this case, i use `Wubi`

**Screenshots**
![图片](https://user-images.githubusercontent.com/93647031/203893597-999dc221-2663-41e8-baac-dc27e33d7683.png)

**Desktop (please complete the following information)

[2022-11-25 03:35] u-Sir opened #717 "FS crashed randomly when launching with IME"
**Describe the bug**
FS crashed randomly when launching with IME

**To Reproduce**
Steps to reproduce the behavior, not 100% trigger:
1. launch search window
2. switch to IME, e.g. `wubi`, typing anything to search
3. relaunch search window
4. now the default IME is `wubi`, quick typing anything to search
5. delete characters and quick typing anything to search again

**Expected behavior**
A clear

[2022-11-25 05:57] u-Sir opened #718 "sug: support `Prioritize processes on current screen`"
**Is your feature request related to a problem? Please describe.**
when using  multi-monitor, `processes` always list processes in all screen. it is hard to identify where the processes showing on

**Describe the solution you'd like**
solution: group processes by screen, and prioritize processes on current screen

[2022-11-25 10:11] xianax commented on #654
I have the same problem. Did you solve it?

[2022-11-26 01:01] Rhywun opened #719 "Feature Request: Use selected text for input"
I would like to request a feature that I cannot find in Settings... it would perform a search on the currently selected text in another application.

Scenario:
1. Select some text (say, in Edge)
2. Press desired keyboard shortcut
3. Fluent Search opens with a search performed on that text

Currently what I do is copy the text to the clipboard, open Fluent Search, and paste. This feature would save

[2022-11-27 10:50] #708 closed

[2022-11-28 12:30] ThunderQi opened #720 "plugin "Translator" crash"
**Describe the bug**
the application crashed when use plugin "Translator"  to "search chinese"

**Screenshots**
![image](https://user-images.githubusercontent.com/3735344/204278191-d296376f-3e4b-4680-8e6d-65c10b12604d.png)

[2022-11-29 07:21] #706 closed

[2022-11-29 08:57] alelinshy opened #721 "After changing the software font, the software crashes and restarts"
**Describe the bug**
Changing the software font will cause the software to crash and restart,After that, the software cannot be used normally even if the restore function is used in the software..

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Exterior'
2. Click on 'font'
3. Scroll down to 'Replace SourceHanSansCN'
4. See error

**Screenshots**
![image](https://user-images.githubuser

[2022-11-29 09:06] adirh3 commented on #721
@alelinshy this should be fixed in the nightly builds
Would you mind checking it by changing the release feed in Settings -> System to Nightly?

[2022-11-29 09:27] alelinshy commented on #721
![image](https://user-images.githubusercontent.com/44151430/204491018-28c416dd-4dc1-4a94-87a4-28ad710c8144.png)

[2022-11-29 09:29] alelinshy commented on #721
The beta version has been updated, but the problem still exists. Now every time I open the software switching option, the software will crash and restart

[2022-11-29 09:45] alelinshy commented on #721
Uninstalling the software and then reinstalling it doesn't solve the problem

[2022-11-29 10:15] adirh3 commented on #721
@alelinshy thanks for checking.
Does it happen with all fonts or only the one you mentioned above? I see you use Chinese, have you tried Microsoft YaHei?

[2022-11-29 12:14] alelinshy commented on #721
@adirh3
After switching other fonts, the software will also crash and restart. The difference is that the font will be changed to "Segoe UI Variable Text Light" after restarting, but the software will still crash and restart.
![image](https://user-images.githubusercontent.com/44151430/204526271-68e63049-c3bf-416a-965c-0d2b003cf182.png)

[2022-11-29 12:33] adirh3 commented on #721
Thanks @alelinshy, I still can't reproduce this issue on my machine.
I will check it and update here once it's fixed.

[2022-11-29 13:33] alelinshy commented on #721
I can't reproduce this problem in the virtual machine, I will try to find out the problem, but I found that even if I change the display font of the software in the settings, the text I type is not the font I choose

[2022-11-29 13:34] alelinshy commented on #721
I did not test English, you can try it in Chinese, it should be reproducible