[2021-06-06 00:41] Metroid-Prime opened #1 "Search applications always show tag"
(Confirmed as bug by @nomad-0 on Discord)  Turning off search applications in settings does not prevent them from showing up as a tag when searched.  For example, I don't use To Do.  I turned off enable application in settings, turned off search "search tag only", but FS still triggers "Search to do" when I type in "todo+ and hit space.  This is  reproducible for all the search applications.

EDIT

[2021-06-06 00:42] Metroid-Prime opened #2 "***GITHUB SITE REQ*** Add RSS functionality to FS Github page"
Title says it all,
Please add RSS functionality to the FS Github page so those of us who use RSS heavily can easily track new issues and the ones we reported.

[2021-06-06 00:43] Metroid-Prime opened #3 "Indexed Paths buggy"
When clicking + button under indexed paths in files tab in settings, the user cannot enter a directory until they close the settings window, re-open settings and navigate back to that setting. THEN one is able to click into the field and enter path

[2021-06-06 00:43] Metroid-Prime opened #4 "Previous entry shows in search bar"
When hitting search hotkey, the previous entry no longer shows based on a prior report:
![image](https://user-images.githubusercontent.com/1836362/120916126-91c79880-c65c-11eb-9637-fb3d345051e6.png)

_However_ , when triggering "Show" from right click menu of FS's systray icon, it still shows the previous search entry
![image](https://user-images.githubusercontent.com/1836362/120916135-a441d200-c6

[2021-06-06 00:44] Metroid-Prime opened #5 "Ghost icon in system tray"
This was a regression bug from v0.9.82.40 onwards I believe.

Exiting app leaves ghost icon in the notification tray (Windows 10 64bit). Is this a system issue or one exclusive to FS?  This was fixed in changelog on 5/29, but was reintroduced on release from 5/30

[2021-06-06 00:45] Metroid-Prime opened #6 "Web search interface buggy"
Web searches blank line doesn't show (sometimes?) when clicking + button. User must exit settings and re-enter or close/relaunch FS to see the blank lines

[2021-06-06 00:45] Metroid-Prime opened #7 "Indexed Paths not being honored."
This is a high priority issue unless I am missing something?

![image](https://user-images.githubusercontent.com/1836362/120915745-6348be00-c65a-11eb-9d20-4c7b54f758c2.png)

I've got only 1 folder on indexed paths, but it's pulling other paths outside.
![image](https://user-images.githubusercontent.com/1836362/120915773-84a9aa00-c65a-11eb-93ce-ce3cd701f3fb.png)

[2021-06-06 00:46] Metroid-Prime opened #8 "Web Entries disappearing"
***I am still investigating this issue***

Since we've spoke Adir I have repeatedly lost Web entries. This is definitely an issue and is happening repeatedly but not reproducibly.

Web Search entries have been disappearing on Metroid's computer.  Entire "T" section disappeared.

EDIT: 6/4/21 - now my entire section of ***META*** (4 of them) web searches have disappeared.

[2021-06-06 00:52] Metroid-Prime opened #9 "Network files not being found"
Everything app is separately finding files in networked locations when FS is not.

Some more specifics:
1. Mac Mini network share files & folders using SMB
2. network folder is mapped to O:\ drive
3. Adding O:\ drive or manual \\ path  doesn't pull all of the files
4. Some of the files show, some don't.
5. I have permissions for read/write to all of the files.
6. Listary and flow launcher can acce

[2021-06-06 00:53] mochigithub opened #10 "Directory priorities setting pane extremely buggy"
When sorting by "Path" and "Priority" multiple times, FS changes the priority of the folder. This can cause chaos to a user's workflow as their settings will be changed unintentionally

[2021-06-06 00:54] mochigithub opened #11 "Custom Path Setting Pane Broken"
Custom paths for network locations in settings continue to re-appear when FS is re-launched even after deleting them.

[2021-06-06 00:56] Metroid-Prime opened #12 "Make section headers in settings collapsible"
![image](https://user-images.githubusercontent.com/1836362/120909184-55c61080-c627-11eb-99cd-48f4d038a4cd.png)

[2021-06-06 00:57] Metroid-Prime opened #13 "Setting Quick Launch via “options” or “settings” or "preferences""
Allow FS to launch settings by typing in “options” or “settings” or "preferences" in the FS's main search window

All of the top launchers have this.  FS should have it too.

![image](https://user-images.githubusercontent.com/1836362/120909206-9de53300-c627-11eb-90e8-ef8887618f1d.png)

[2021-06-06 00:59] mochigithub commented on #13
![image](https://user-images.githubusercontent.com/1836362/120909206-9de53300-c627-11eb-90e8-ef8887618f1d.png)

[2021-06-06 01:01] Metroid-Prime opened #14 "Fullscreen mode setting"
The settings left pane can be confusing for the average user and even for me. I have to step back and look at it and realize there's multiple logical discrepancies:
1) Move plugins into their own section under "Plugins". they should not be under search applications.
2) If possible, move Microsoft To-Do to a plugin. People who don't need or use ToDo shouldn't be forced to use it.  (_EDIT: Sign In b

[2021-06-06 01:01] Metroid-Prime opened #15 "Plugins Auto-update"
Allow user to auto-update plugins

[2021-06-06 01:02] Metroid-Prime opened #16 "Mouse-focus for FS on multiple monitors."
For multi-monitor setups, create setting to have FS to show on monitor where the mouse is currently placed. This is invaluable for those with multiple monitors

EDIT: Listary,  Alfred and FlowLauncher already do this.

[2021-06-06 01:02] Metroid-Prime opened #17 "Workflows"
I have no idea what to suggest about design, but workflows would be wonderful for FS.  It sounds like it's on the roadmap and I am very eager to see how @adirh3  implements it.

We welcome people's design input.

Here's a screenshot from Alfred
![image](https://user-images.githubusercontent.com/1836362/120909271-3ed3ee00-c628-11eb-8ec3-e157702e4a96.png)

[2021-06-06 01:03] Metroid-Prime opened #18 "Autobackup"
Allow FS to auto-backup settings into a folder. Portable mode would obviously backup into the portable data directory in a folder called "Backup". The user should have a setting to control the # of backups and the frequency of backups (every ___ days)

6/5/21 - Adding Proposed design + settings.  Feedback welcome!
![image](https://user-images.githubusercontent.com/1836362/120913983-ced95e00-c64f-1

[2021-06-06 01:04] Metroid-Prime opened #19 "Silent Auto-Update"
This was requested by others in discord.

Allow to silent Fluent Search to auto update silently.   I honestly feel indifferent about this feature. I for one love reading the changelog and find it one of the highlights of my day (yes I'm a dork lol)

[2021-06-06 01:04] Metroid-Prime opened #20 "Delta updates"
(Requested by others by Discord)

Allow FS to update incrementally instead of the complete program.  I feel indifferent about delta updates and I personally think there's other features & fixes are more important.

[2021-06-06 01:06] mochigithub opened #21 "Customizable actions"
Customizable actions in FS's command menu. For example, Open, Open Directory, etc… These commands if customized could be very powerful.

Listary has implemented this pretty well.

![image](https://user-images.githubusercontent.com/1836362/120909305-abe78380-c628-11eb-9c56-0c1f7cc89776.png)

[2021-06-06 01:06] Metroid-Prime opened #22 "Rebuild Index to Systray"
Add option to "Rebuild Indexes" to right-click systray menu, especially if we're combining everything into 1 process

![image](https://user-images.githubusercontent.com/1836362/120909319-c6b9f800-c628-11eb-86fc-aa03cbd7b8eb.png)

[2021-06-06 01:07] Metroid-Prime opened #23 "Change size in MB to look cleaner"
This is no-brainer and standard interface

kilobyte, megabyte, gigabyte, terabyte instead of "Size of MB 0.03891485883838".  This looks very hard to read for all users, novice and expert alike.

![image](https://user-images.githubusercontent.com/1836362/120909338-ebae6b00-c628-11eb-9dee-44ab14bcd2c6.png)

[2021-06-06 01:08] Metroid-Prime opened #24 "Change logo color"
Add a color to the outer border of the FS arrow logo so that it doesn't get hidden behind white or black backgrounds

[2021-06-06 01:08] Metroid-Prime opened #25 "Rename "IsEnabled" in settings."
This is not a bug, but not a feature either.

In the apps 'setting' section, the column for Custom app paths when added is "IsEnabled".  This should be Enabled (not IsEnabled) to keep consistent interface with others.

EDIT: Added pic:
![image](https://user-images.githubusercontent.com/1836362/120914467-3fce4500-c653-11eb-8dde-28432ecb74a7.png)

[2021-06-06 01:09] mochigithub opened #26 "Create Search Field in FS's settings"
Create search field in the settings window to be able to find and narrow down FS’s vastly growing settings. Similar to what the plugin windows has.

![image](https://user-images.githubusercontent.com/1836362/120909363-2a442580-c629-11eb-9e99-b18bb2206ea8.png)

[2021-06-06 01:11] Metroid-Prime opened #27 "Re-do Custom Color placeholders in Settings"
Add custom squares (2?) to allow user to add custom colors to empty squares to the appearance tab | color setting

![image](https://user-images.githubusercontent.com/1836362/120909380-68d9e000-c629-11eb-94d6-4e7a424a0ed8.png)

Plus, I really _really_ don't like having to type in 8 digit hex code for custom colors.  This is very non-intuitive. Maybe add some form of a color picker?

![image](https:

[2021-06-06 01:11] mochigithub opened #28 "Reorder "custom path" column panes in settings"
Reorder network pane to this order by default  ---------     |Enabled | Drive | Path |

[2021-06-06 01:12] Metroid-Prime opened #29 "Remember the **size and position** of ALL windows (including plugin)"
Title says it all. Remember the **size and position** of ALL windows (including plugin) after user changes it.

[2021-06-06 01:13] Metroid-Prime opened #30 "Compartmentalize plugins"
Move all of the plugins to single page in settings to prevent clutter of the left options toolbar

[2021-06-06 01:14] mochigithub commented on #30
![image](https://user-images.githubusercontent.com/1836362/120909430-d423b200-c629-11eb-87c7-d30a04e2c345.png)

[2021-06-06 01:16] Metroid-Prime opened #31 "Add "About" pane to bottom of settings."
Add "About" pane to the top pane of the left toolbar (where MS sign-in is now) and house a searchable and copy-able changelog.  Bonus points if you respect dark mode :)
![image](https://user-images.githubusercontent.com/1836362/122171778-f04afe80-ce34-11eb-9d8e-950bc2e806ce.png)

[2021-06-06 01:17] Metroid-Prime opened #32 "Web Search Columns Not Expanding"
FS should remember the position and size of the last column in web search setting. For example, URL is my last one and it doesn't expand. This is bothersome especially when opening the web section constantly.

![image](https://user-images.githubusercontent.com/1836362/120909466-4399a180-c62a-11eb-9373-389f08f0a52a.png)

[2021-06-06 01:17] mochigithub opened #33 "Custom Path Setting Pane Messy"
Recommend you make "Enabled" the first field, "Drive" second, "Path" 3rd. Path MUST be last because it's pushing critical fields like "Enabled" to be hidden so user doesn't even see it's off.  Recommend allowing the window to expand a bit to see the contents of the table.

![image](https://user-images.githubusercontent.com/1836362/120909469-557b4480-c62a-11eb-8b4f-2a1503a7b390.png)

[2021-06-06 01:18] Metroid-Prime opened #34 "Web Search table bizarre scroll behavior"
Web Search table not auto-expanding down when settings window opens..  It starts at half of the screen and as the user scroll down, it adds the extra tables to the page. Makes the interface feel "cheap" (best way I can describe it lol)

![image](https://user-images.githubusercontent.com/1836362/120909471-5f9d4300-c62a-11eb-990c-ca7517a7df81.png)

[2021-06-06 01:23] Metroid-Prime opened #35 "Web Search Alt Text"
Web Search Alt Text should be split between the different columns to container

![image](https://user-images.githubusercontent.com/1836362/120909573-21545380-c62b-11eb-8a78-650638936822.png)

[2021-06-06 01:24] Metroid-Prime opened #36 "About window Text Difficult to Read w/ Dark Mode"
Make text "privacy policy" and "fluentsearch.net" more  readable than current dark blue

![image](https://user-images.githubusercontent.com/1836362/120909580-3630e700-c62b-11eb-8524-7f31e968ab64.png)

[2021-06-06 02:54] Nomad-0 commented on #31
I think the "about" pane should be on bottom instead of the top (e.g. Listary)

[2021-06-06 03:08] Nomad-0 commented on #21
![image](https://user-images.githubusercontent.com/76395594/120911149-8bf6a500-c6a6-11eb-9a2f-7e2a15429098.png)
Isn't it already implemented?

[2021-06-06 03:13] Nomad-0 commented on #15
agree. Also, it'll be best to have the update menu on plugins of settings.

[2021-06-06 03:29] Nomad-0 opened #37 "Always hide results when opening is not working"
**the bug**
 I have `Always hide results when opening` enabled on settings. But pressing on hotkey still keep showing previous search results

**To Reproduce**
make a search. close FS. Reopen FS with the hotkey.

**Expected behavior**
Only the Search-bar to appear like this
![image](https://user-images.githubusercontent.com/76395594/120911428-4a1b2e00-c6a9-11eb-846e-0d1f78d2e5b8.png)

**Screenshot

[2021-06-06 04:33] Mr-Frankenstein opened #38 "Translator plugin tags are showing even though the plugin is turned off"
![Capture](https://user-images.githubusercontent.com/85425543/120912626-6a99b700-c6ae-11eb-9a47-c9064e9debbf.PNG)
![image](https://user-images.githubusercontent.com/85425543/120912627-6ec5d480-c6ae-11eb-9a12-5b25fa4ad6dc.png)

[2021-06-06 05:30] mochigithub commented on #15
Welcome @Nomad-0 !  I don't know what you mean by this.
![image](https://user-images.githubusercontent.com/1836362/120913682-a7819180-c64d-11eb-88fe-3193f029f5f7.png)

[2021-06-06 05:38] Nomad-0 commented on #15
yes, that's what I meant

[2021-06-06 05:52] mochigithub commented on #21
No.  Your screenshot shows that the shortcuts can be configured but user cannot add custom actions like Listary. That's the request.
![image](https://user-images.githubusercontent.com/1836362/120914095-a2721180-c650-11eb-9528-eb2cb4593266.png)

[2021-06-06 05:59] mochigithub commented on #24
EDIT: I think a light purple theme would be great. Perhaps a neon sign style?
![image](https://user-images.githubusercontent.com/1836362/120914257-b4a07f80-c651-11eb-87c8-563937c0e1ef.png)

[2021-06-06 06:03] Nomad-0 opened #39 "Hide search window on hotkey isn't working"
**the bug**
when I press hotkey, the search window doesn't close. confirmed by **ZeStig** on discord.

**To Reproduce**
Open Fs.
Try to close fs pressing hotkey

**Screenshots**
![image](https://user-images.githubusercontent.com/76395594/120914292-19de8a00-c6bf-11eb-913e-28bd50238ad3.png)

**Desktop (please complete the following information):**
 - Windows 10 Version: [21H1]
 - Fluent Search Versi

[2021-06-06 06:12] mochigithub commented on #26
Closing this as it was added in version 0.9.85.1.

Thank you Adir!!

[2021-06-06 06:12] #26 closed

[2021-06-06 06:17] mochigithub commented on #31
Agreed.  I am fine with About window being at the bottom as well.

[2021-06-06 06:18] Metroid-Prime opened #40 "Single Intro help window slightly too small"
Please make this intro window slightly bigger. It has an unnecessary scrollbar when the window could be made a little bigger.
![image](https://user-images.githubusercontent.com/1836362/120914616-3beef280-c654-11eb-9839-089d948d6b67.png)

[2021-06-06 06:36] mochigithub commented on #28
This issue is no longer relevant as it's been replaced by "Indexed Paths" in newer versions

[2021-06-06 06:36] #28 closed

[2021-06-06 06:37] mochigithub commented on #33
This issue is no longer relevant since it's been replaced by "indexed paths " in Files

[2021-06-06 06:37] #33 closed

[2021-06-06 06:41] mochigithub commented on #37
Can confirm. This is a high priority bug.
![image](https://user-images.githubusercontent.com/1836362/120915233-8c1b8400-c657-11eb-9ce2-4ffe87aa28c0.png)

[2021-06-06 06:43] mochigithub commented on #39
Can confirm. I changed my hotkey to Ctrl + Space and that opens FS but does not close it even with setting on.

[2021-06-06 06:46] mochigithub commented on #38
I can confirm, but this happens to ALL of the  search apps and plugins, not just translate!
This is a high priority bug
![image](https://user-images.githubusercontent.com/1836362/120915393-3b585b00-c658-11eb-84b5-3024a0af9400.png)

[2021-06-06 06:51] mochigithub opened #41 "***GITHUB*** Please add "UI/UX improvement" option"
What do you all think?

Should we add a 3rd option to FS's Github  when clicking new issue:

Bug Reports
Feature Request
 **UI/UX improvement?**

[2021-06-06 06:52] Metroid-Prime opened #42 "Move Plugin Refresh Button to Top Right."
It doesn't make any sense to put this at the bottom as the plugin window. Here's why:

1. FS doesn't remember the saved window size.  (I've got a feature req for this)
2. The user most of the time doesn't even see it if they don't resize the window
3. There's room in the top toolbar. Better to compartmentalize the settings together, not create an extra row and lose screenspace for 1 setting.

![im

[2021-06-06 06:53] Nomad-0 commented on #41
agree, also another one dedicated to posts related to plugins only

[2021-06-06 06:55] mochigithub commented on #5
I've noticed this occurs especially after FS upgrades. When exiting from the right click | exit   sys tray menu it doesn't seem to happen.

[2021-06-06 06:57] mochigithub commented on #11
Closing this as the field has been replaced by Indexed paths

[2021-06-06 06:57] #11 closed

[2021-06-06 06:59] mochigithub commented on #10
This field has been replaced by Indexed paths

[2021-06-06 06:59] #10 closed

[2021-06-06 06:59] Nomad-0 opened #43 "#plugin Select languages I want to "translate to" in Translator plugin"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I type a character and language tags like this are showing constantly
![image](https://user-images.githubusercontent.com/76395594/120915586-3df19980-c6c6-11eb-843a-71d1d33da881.png)
![image](https://user-images.githubusercontent.com/76395594/120915648-b3f60080-c6c6-11eb-8b6f-565d45e9f54f.png)
![image](htt

[2021-06-06 07:01] Nomad-0 commented on #42
IMO, best would be to add this whole plugin window to Settings

[2021-06-06 07:05] mochigithub commented on #6
This is no longer happening after the latest version.

[2021-06-06 07:06] mochigithub commented on #6
Apologies. This IS still happening even with new version.

[2021-06-06 07:08] mochigithub commented on #43
I don't use Translate plugin, but this is a reasonable request.

[2021-06-06 07:09] mochigithub commented on #42
Yes, I agree with this and even posted a feature request for it: https://github.com/adirh3/Fluent-Search/issues/30

I dislike the entire idea of a window just for plugins as they should be part of the settings, plain and simple.  My vote goes for abolishing the plugins window altogether.

[2021-06-06 07:10] mochigithub commented on #38
I believe this is also the same as issue #1

[2021-06-06 07:11] Mr-Frankenstein opened #44 "Ignore Tags"
There is a lot of tags which I don't know what they do. For example lc_messages, list, listitem, list_def, and Combo box. A feature to ignore tags, so they won't show in the search bar.

![image](https://user-images.githubusercontent.com/85425543/120915983-72645600-c6c4-11eb-9763-77eb772a63e2.png)
![image](https://user-images.githubusercontent.com/85425543/120915986-72fcec80-c6c4-11eb-963a-45d1e93

[2021-06-06 07:15] Metroid-Prime opened #45 "Search field is retained even after closing settings window."
This is reproducible and introduced 0.9.85.1  with the settings search feature.
![image](https://user-images.githubusercontent.com/1836362/120916092-5cbb4600-c65c-11eb-9eff-57b92e83181f.png)
When the settings window is closing, that setting should be emptied.

[2021-06-06 07:16] Nomad-0 opened #46 "Tags on web search urls are not working"
**Describe the bug**
I have added several `tag`s to some web search URLs e.g. `gg` for Google, `yt` for Youtube,
![image](https://user-images.githubusercontent.com/76395594/120915979-a17cc680-c6c8-11eb-8836-7d7953a206db.png)

but no tags are shown if I type gg, yt, or several other web search tags. however, tags appear if I type the `Name` of the urls
![image](https://user-images.githubusercontent

[2021-06-06 07:28] mochigithub commented on #41
Agreed! Plugins option would be useful too.

One caveat though -- if the user were allowed to apply labels, I would be fine with having plugin  or UI/UX enhancement  labels. This is how Flow Launcher github does it, but only the devs seem to be able to apply the label :(

[2021-06-06 07:29] mochigithub commented on #2
I have a workaround for this.  I created an email using Inoreader's Pro plan and all of Github's emails are routed there.  Boom, instant notifications of updates to issues :)

[2021-06-06 07:30] Nomad-0 commented on #2
yeah, but maybe not close the issue. As others might need this option

[2021-06-06 07:32] mochigithub commented on #2
Agreed. Not sure how much work it is, but I think it would still be beneficial.

Just an FYI for everyone -- one can have Github send notifications by email if that's acceptable for you.

[2021-06-06 07:35] Metroid-Prime opened #47 "ALT F4 doesn't close setting when focused on New Search field"
Title says it all.

When you're typing something into the search field and hit ALT+F4, it won't close the settings window while the focus is in that field. This is unexpected behavior.
![image](https://user-images.githubusercontent.com/1836362/120916543-0b608600-c65f-11eb-8497-265271de6015.png)

[2021-06-06 07:36] Metroid-Prime opened #48 "Scripting | Error messaging during Setting searches"
![image](https://user-images.githubusercontent.com/1836362/120916566-35b24380-c65f-11eb-9266-50ec66a113ff.png)

[2021-06-06 07:44] Metroid-Prime opened #49 "Change "Alpha" text to "Pre-release""
This was supposed by 2 or 3 others in Discord.

Change the "Alpha" text to "Nightly"

EDITED by Metroid Prime on 6/6/21 10:11 PM PST due to comment made by user below. I agree Nightly is much better description than everything else mentioned.

[2021-06-06 07:52] Metroid-Prime opened #50 "High Priority: Web Searches broken"
**Describe the bug**
Web searches are not triggering even if they're enabled.  It might have broke the version _before_ 0.9.85.1

**To Reproduce**
Steps to reproduce the behavior:
1. Type "g <search string>
2. Observe that FS doesn't search google.

I have google in web search:
![image](https://user-images.githubusercontent.com/1836362/120916906-41066e80-c661-11eb-986d-8531bb302345.png)

Search tu

[2021-06-06 08:07] mochigithub commented on #50
Closing this issue as it's reported under issue #46

[2021-06-06 08:07] mochigithub commented on #46
Can confirm. I had posted this under #issue 50

[2021-06-06 08:11] #46 closed

[2021-06-06 08:11] Nomad-0 commented on #46
closed due to duplicate

[2021-06-06 08:11] Nomad-0 commented on #50
facing the same

**Describe the bug**
I have added several `tag`s to some web search URLs e.g. `gg` for Google, `yt` for Youtube,
![image](https://user-images.githubusercontent.com/76395594/120915979-a17cc680-c6c8-11eb-8836-7d7953a206db.png)

but no tags are shown if I type gg, yt, or several other web search tags. however, tags appear if I type the `Name` of the urls
![image](https://user-images.

[2021-06-06 08:21] Metroid-Prime opened #51 "Prioritization settings table missing scrollbar"
![image](https://user-images.githubusercontent.com/1836362/120917706-7ca33780-c665-11eb-885f-146168a64709.png)

[2021-06-06 08:43] Metroid-Prime opened #52 "Allow multi-select in Indexed Paths"
![image](https://user-images.githubusercontent.com/1836362/120917923-a0b34880-c666-11eb-844f-c87c1052e778.png)

[2021-06-06 08:45] Nomad-0 commented on #51
I think showing the full table instead of scrolling inside the table would be better here. Adir told it's a bug.

[2021-06-06 08:47] Metroid-Prime opened #53 "Indexed Paths Extremely Buggy."
**Describe the bug**
Indexed bugs directory pane in |Settings | Files| is extremely buggy.

**To Reproduce**
1. Open settings
2. Click on Files
3. Scroll down to Indexed Paths
4. Interact with the directory adding and removing

**Expected behavior**
It should behave like any other table but it's very buggy.

**Screenshots**
![image](https://user-images.githubusercontent.com/1836362/120918376-09032

[2021-06-06 08:55] Metroid-Prime opened #54 "Result type prioritization table half hidden when added"
Steps 1  Go to Result Type Prioritization  table in settings
Steps 2: Click +
Step 3: Observe half hidden table

![image](https://user-images.githubusercontent.com/1836362/120918534-c261ff00-c669-11eb-92b2-c3e0bd451aef.png)

[2021-06-06 09:07] Metroid-Prime opened #55 "Moving ToDo Feature to Plugin"
Not sure if this is possible, but ToDo is a niche function that should be contained to a plugin.  Searching through Microsoft To Do should not be considered a 'core' function and thus moved to a Plugin.

![image](https://user-images.githubusercontent.com/1836362/120918928-de66a000-c66b-11eb-84b2-8e893d3c7be8.png)

[2021-06-06 09:24] mochigithub commented on #1
I'll close mine. I've linked mine to issue #38

[2021-06-06 09:29] mochigithub commented on #41
We've added the following labels, so I'm closing this
![image](https://user-images.githubusercontent.com/1836362/120919528-f5f35800-c66e-11eb-988a-03e886b5edae.png)

[2021-06-06 09:29] #41 closed

[2021-06-06 09:31] mochigithub commented on #44
@Mr-Frankenstein  @adirh3  could this be because Fluent Search is searching the processes and listing those?

[2021-06-06 09:34] mochigithub commented on #8
@adirh3  I plan to re-add all of my results, confirm I have them all one by one, back up my web settings and then wait for them to disappear.  I will then copy the corrupted settings and compare them using Beyond Compare and see what the difference is.

[2021-06-06 09:36] mochigithub commented on #5
This is not reproducible, ugh.  Was this fixed again in the past version? I have not seen it during the latest 2 updates.

**If anyone has seen this behavior please post here!**

[2021-06-06 10:23] Nomad-0 commented on #5
I faced this on the latest update, so it's not fixed yet I guess. (I've faced it mostly after upgrade)

[2021-06-06 10:27] mochigithub commented on #7
I wonder if this is related to issue #53 ?   FS is saying root paths (e.g. C: & D:) are already indexed?  Why? That doesn't make any sense is the user doesn't explicitly tell FS to index them.   There shouldn't be any 'invisible indexing' happening.
![image](https://user-images.githubusercontent.com/1836362/120921107-f263cf00-c676-11eb-8f94-f3e75c3aa0d1.png)

[2021-06-06 10:35] mochigithub commented on #1
I can confirm, but this happens to ALL of the  search apps and plugins, not just translate!
This is a high priority bug
![image](https://user-images.githubusercontent.com/1836362/120915393-3b585b00-c658-11eb-84b5-3024a0af9400.png)

[2021-06-06 10:36] mochigithub commented on #1
Reopening issue per Najah's/MrF's request as this ticket is more detailed

[2021-06-06 10:37] mochigithub commented on #38
Closing per Najah (Mr. F's) request.  Reopened my ticket #1  as it's the same issue. Applying duplicate label.

[2021-06-06 10:37] #38 closed

[2021-06-06 11:34] Metroid-Prime opened #56 "Add Github Link to Toolbar on Main FS Web Page"
@adirh3   Please add a link to the main Github Code page to https://www.fluentsearch.net/

![image](https://user-images.githubusercontent.com/1836362/120922881-7c646580-c680-11eb-8738-ee057f28b54c.png)

[2021-06-06 12:18] Metroid-Prime opened #57 "Integrate Github issues into Discord/App changelog"
As discussed on Discord on 6/6 5 AM PST, it would be great if Adir could Integrate Github tickets into the Discord announcements page and app changelog.  Bonus points for being able to click the issue number and it takes you directly to the page.

[2021-06-06 12:35] Metroid-Prime opened #58 "Integrate webhooks on FS's #Github Discord channel"
Requested by cannibalox on Discord on 6/6 0530 PST.

Integrate webhooks on FS's #Github Discord channel.  Instructions provided via this YouTube video: https://www.youtube.com/watch?v=-KDQqWNK3Tw

FlowLauncher's Discord page has this and I agree it's nice.

[2021-06-06 12:37] Metroid-Prime commented on #9
Can anyone replicate this?  @Nomad-0

[2021-06-06 12:39] Nomad-0 commented on #9
sorry, I don’t have network drives

[2021-06-06 13:22] Nomad-0 opened #59 "The scrollbar in Search window is pushed extra left in some searches"
**Describe the bug**
In some searches, the scrollbar in the search window is far left than it should be. confirmed by **Najah** in the discord channel. (using one image of his)
![image](https://user-images.githubusercontent.com/76395594/120925785-fb4ab400-c6fb-11eb-9f6a-c495ae6eeba3.png)
![image](https://user-images.githubusercontent.com/76395594/120925711-968f5980-c6fb-11eb-84a5-24db617cabbb.png)

[2021-06-06 20:45] cannibalox opened #60 "no `files` results since 0.9.84.00"
**Describe the bug**
* since 0.9.84.00 I get no `Files` results during search, with and without the tag `Files` , **either with the FluentSearchIndexer or Everything**
* the only way I get results is by explicitly using an indexed folder path as a tag, eg: `c:\myfolder(tab)mysearch`
* the `files search` was working fine  for me in 0.9.82.40, the problem started with 0.9.84.00 onwards
* I'm current

[2021-06-06 21:21] #58 closed

[2021-06-06 22:52] adirh3 commented on #7
@Metroid-Prime This file is probably showing because you already opened it, it's not related to indexing.
I know this might be a bad UX, but usually a user won't get into this situation (this happened because of many updates)
You can confirm it by clearing your FS settings, and putting the index settings again, if the issue does not happen, change the priority of this please.

[2021-06-07 01:31] adirh3 commented on #60
body

[2021-06-07 01:44] adirh3 commented on #60
body

[2021-06-07 01:46] adirh3 commented on #60
test

[2021-06-07 01:47] adirh3 commented on #60
This issue has been potentially fixed in version 0.9.85.20

[2021-06-07 01:47] adirh3 commented on #37
This issue has been potentially fixed in version 0.9.85.20

[2021-06-07 01:47] adirh3 commented on #50
This issue has been potentially fixed in version 0.9.85.20

[2021-06-07 01:48] adirh3 commented on #1
This issue has been potentially fixed in version 0.9.85.20

[2021-06-07 02:43] cannibalox commented on #60
confirmed working in 0.9.85.20, thank you for the fix !

closing

[2021-06-07 02:43] #60 closed

[2021-06-07 02:49] cannibalox opened #61 "quicklook preview closes the FS window when `hide when losing focus` is on"
**Describe the bug**
when `Hide when losing focus` is on, and `quicklook` is set as the `file preview provider`, activating a preview (shift enter) will close the FS search window (whereas when using FluentSearch internal preview, the FS window stays open)

**Expected behavior**
there should be an exception for Quicklook, it should not cause the main windows to close

FS 0.9.85.20 win10 1809 ltsc

[2021-06-07 03:35] Nomad-0 commented on #37
checked on 0.9.85.20, still not fixed
![image](https://user-images.githubusercontent.com/76395594/120955630-a054a380-c773-11eb-892f-e440daad8db4.png)

[2021-06-07 03:45] Nomad-0 commented on #59
closing as the issue's fixed in 0.9.85.20

[2021-06-07 03:45] #59 closed

[2021-06-07 03:49] Nomad-0 commented on #37
Closing as the issue is fixed in 0.9.85.20. @Metroid-Prime can you please confirm as it's a _high priority_ issue?

[2021-06-07 03:50] ScarletKing-001 commented on #61
Other FS windows (like settings) seem to overlap the Quicklook preview , irrespective of whether `Hide when losing focus` is turned on or off

[2021-06-07 04:10] Sriknath commented on #49
Or nightly?

[2021-06-07 04:34] Metroid-Prime commented on #60
From Changelog 0.9.85.20 - Fixed a bug that file search did not work when an index path setting was empty #60

[2021-06-07 04:37] Metroid-Prime commented on #37
@Nomad-0   @adirh3   I'm tentatively re-opening this issue as I'm still experiencing the same thing on 0.9.85.20

From Changelog: - Fixed a bug that the minimal bar showed open when using Always hide results when opening #37

However, I have the setting turned on:
![image](https://user-images.githubusercontent.com/1836362/120959757-589c3080-c70f-11eb-9082-f7c8881caf8d.png)

![image](https://user-i

[2021-06-07 04:38] Metroid-Prime commented on #37
Reopening issue as I cannot confirm fix in latest version.

[2021-06-07 04:41] Nomad-0 commented on #37
Can you please check if your settings on settings>appearance>window style set to minimal?

[2021-06-07 04:41] Metroid-Prime commented on #42
I will tentatively close this as it's been completed.
![image](https://user-images.githubusercontent.com/1836362/120959990-d19b8800-c70f-11eb-9f39-83dc134ee2f7.png)

@adirh3  The location is fine now, but I recommend not putting it next to the search field as it's not associated with the search field.
![image](https://user-images.githubusercontent.com/1836362/120960058-ed069300-c70f-11eb-8143-18d6

[2021-06-07 04:41] #42 closed

[2021-06-07 04:44] Metroid-Prime commented on #50
Per changelog: - Fixed a bug that search tags did not apply when the tag was different than it's name (e.g. Web searches) #50

Can confirm fix. @Nomad-0  if you're able to confirm as a high priority issue as your earliest convenience. Closing ticket

[2021-06-07 04:44] #50 closed

[2021-06-07 04:46] Nomad-0 commented on #50
yes, it's solved on my end too. confirmed.

[2021-06-07 04:48] Metroid-Prime commented on #1
Nomad asked me to check this.  @adirh3  I cannot confirm fix unfortunately.

latest version:
![image](https://user-images.githubusercontent.com/1836362/120960525-df9dd880-c710-11eb-9c06-81ba93bc678a.png)

Setting is turned off.
![image](https://user-images.githubusercontent.com/1836362/120960453-b8470b80-c710-11eb-9e0d-df6b57ec6ba3.png)

ToDo still firing:
![image](https://user-images.githubuserco

[2021-06-07 04:52] Metroid-Prime commented on #57
@adirh3  Not sure if this is automated as you intended, but I'm seeing ticket numbers embedded into the changelog so I'm considering this closed.

Please continue this whether manual or automated as it really helps me keep track of the issues.

[2021-06-07 04:52] #57 closed

[2021-06-07 04:57] Nomad-0 commented on #1
I'm having weird issues regarding this
Seeing _to do_ tag whether it's enabled or disabled
-disabled
![image](https://user-images.githubusercontent.com/76395594/120960980-bb78e080-c77e-11eb-9fdd-92c1801e4ff6.png)
![image](https://user-images.githubusercontent.com/76395594/120960902-96846d80-c77e-11eb-9a19-8962a116e9a7.png)

-enabled
![image](https://user-images.githubusercontent.com/76395594/12096

[2021-06-07 04:57] Metroid-Prime commented on #37
@Nomad-0  Yes, you nailed it, that's the reason, but choosing that feature should not cause this to happen.   When a user sets "Always hide results when opening", it should _always_ hide the results when opening.

@adirh3  This bug is resolved in minimal, but persistent when settings>appearance>window style is set to **informative**.
Informative mode should not show prior results as that wouldn't

[2021-06-07 04:58] Metroid-Prime commented on #49
@Sriknath  we talked about this yesterday and I believe Pre-release was decided. I'm fine with Nightly or Pre-release. Will leave it up to @adirh3   Either of those is better than Alpha

[2021-06-07 05:00] Nomad-0 commented on #1
**update**
suddenly I'm not seeing _to do_ anymore, whether it's enabled or disabled
-enabled
![image](https://user-images.githubusercontent.com/76395594/120961347-815c0e80-c77f-11eb-841a-ab420664955c.png)
![image](https://user-images.githubusercontent.com/76395594/120961365-891bb300-c77f-11eb-9dd6-96c60c8aad05.png)

-disabled
![image](https://user-images.githubusercontent.com/76395594/120961396-9

[2021-06-07 05:05] Nomad-0 commented on #49
I think it's not much required now as Adir added an explanation here. However, some text might be missing here-
![image](https://user-images.githubusercontent.com/76395594/120961712-25de5080-c780-11eb-8828-5be7a8b521ec.png)

[2021-06-07 05:11] Metroid-Prime commented on #49
Can I change this request?
@Nomad-0  @adirh3  I actually agree with @Sriknath that **Nightly** is the top option for this hands down.

"Stable" and "Nightly" flow together the best

[2021-06-07 05:15] Metroid-Prime commented on #8
@adirh3  I am closing this temporarily so it doesn't clutter up the open tickets while I investigate which may take 1-2 weeks.

If anyone else is seeing this behavior, please post.

[2021-06-07 05:15] #8 closed

[2021-06-07 06:07] Metroid-Prime commented on #7
@adirh3  can you tell me precisely which FS setting I need to clear? Which file or folder?   I want to use a scalpel  rather than a sledgehammer lol

[2021-06-07 06:09] Metroid-Prime commented on #58
Can confirm this is working properly.  Notified requestor via Discord channel

[2021-06-07 06:50] Nomad-0 opened #62 "Seeing a slight square corner line over the round corner"
**Describe the bug**
Not sure if it's a bug or that's how it is, but I'm noticing a slight square corner over the round corner design on installed version of 0.9.85.20
![image](https://user-images.githubusercontent.com/76395594/120971138-1d8d1200-c78e-11eb-9d22-a5dbbf5652e0.png)
![image](https://user-images.githubusercontent.com/76395594/120971730-cb98bc00-c78e-11eb-82ef-72a1a5c03ab7.png)
![image]

[2021-06-07 06:51] Metroid-Prime commented on #62
Spoke to @Nomad-0  about this on the FS Discord channel. Cannot reproduce in portable version.

[2021-06-07 07:49] Jaap-van-Hengstum opened #63 "Use a black notification icon when task bar is in light mode"
When the taskbar is put in light mode, the notification icon should switch to a black variant.

<img width="36" alt="fs-notification-icon-dark" src="https://user-images.githubusercontent.com/1670232/120974459-751c8500-c770-11eb-80c8-e36a73f3778f.png"> (dark mode)

<img width="38" alt="fs-notification-icon-light" src="https://user-images.githubusercontent.com/1670232/120974625-a5642380-c770-11eb-95

[2021-06-07 08:19] Mr-Frankenstein opened #64 "Context Prioritization Ignore not working"
**Describe the bug**
When I add a folder path and set it to **Ignore** in **Context Prioritization**, it's still showing in search results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Prioritizatation' (_Show Advanced_ should be turned on)
2. Add a folder path to 'Context Prioritization'
3. Set it to 'Ignore'
4. Search the folder

**Expected behavior**
The folder sets to ignore sh

[2021-06-07 08:20] Jaap-van-Hengstum commented on #37
If you ask me, "always hide results when opening" should be the default state for new installs, since it will be more familiar and (slightly) less confusing for new users. And then perhaps the option should be reversed, like "show results immediately when opening" or something.

[2021-06-07 09:40] Mr-Frankenstein opened #65 "Show bookmarks when using bookmark tag before typing."
Show bookmarks in search results even before you type anything when the bookmark tag is used.

[2021-06-07 09:44] Nomad-0 commented on #65
Sorry, got closed by mistake

[2021-06-07 09:49] Najah101 opened #66 "Hotkeys for search results"
Hotkeys for search results.
When hitting the hotkey it will select the search, then you can open the search result or use the shortcuts in the side panel.

Examples
![image](https://user-images.githubusercontent.com/85425543/120995568-24724f80-c7a3-11eb-85e2-a6446501ccca.png)
![image](https://user-images.githubusercontent.com/85425543/120995564-23412280-c7a3-11eb-9c51-265b1a4976c8.png)
![image](ht

[2021-06-07 10:08] Chance92 opened #67 "Search operation pane doesn't show complete file paths"
**Describe the bug**
The search operation pane has difficulties in showing long file paths.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for a file with long path
2. (optional) reduce the width of the search operation pane
3. See error

**Expected behavior**
The file path should be correctly wrapped based on the width of the pane.

**Screenshots**
![image](https://user-images.githu

[2021-06-07 11:28] Jaap-van-Hengstum opened #68 "Use single setting for theme selection"
Instead of separate settings to select the dark/light theme or to use the system theme:

<img width="583" alt="system-theme" src="https://user-images.githubusercontent.com/1670232/121008478-55e31f00-c793-11eb-88ca-4a880aba9a31.png">

use a single setting "Selected theme" with the options:

- Light
- Dark
- Use system theme

[2021-06-07 11:55] kwanice opened #69 "Clipboard - Delete all entries except the saved ones"

[2021-06-07 12:01] MakeshVineeth commented on #69
Please elaborate the behavior you were expecting as well as provide screenshots if applicable.

[2021-06-07 13:08] Nomad-0 opened #70 "Kill apps that are running as administrator"
**Requested feature**
There are some apps that run as administrator which currently can't be killed with the `Kill Process` plugin. An option to kill those apps would be great.

[2021-06-07 13:54] Nomad-0 opened #71 "FS taskbar icon is showing like an unknown program"
**Describe the bug**
FS icon on taskbar is showing like this-
![image](https://user-images.githubusercontent.com/76395594/121028489-b42af480-c7c9-11eb-9904-fe0df29d2e00.png)

**To Reproduce**
1. open FS or FS settings
2. observe the taskbar icon

**Expected behavior**
FS logo will show on taskbar

**Desktop (please complete the following information):**
 - Windows 10 Version: [21H1]
 - Fluent Sear

[2021-06-07 15:59] Jaap-van-Hengstum opened #72 "Progressbar causes ugly line"
Turning off "Disable progressbar" in the settings causes an ugly line to appear in the search input:

<img width="662" alt="explorer_4VrPpTKOTy" src="https://user-images.githubusercontent.com/1670232/121050905-4676cc80-c7b9-11eb-9c02-a1aad30b1074.png">

I guess the progress bar background color causes this.

[2021-06-07 16:11] Metroid-Prime commented on #71
I've never seen this.  Was it introduced with the newest version?

[2021-06-07 16:13] Metroid-Prime commented on #70
Yes, I agree with this.  What should happen I assume is that the system should trigger the UAC window and ask the user to get admin priv to kill the elevated process, but will defer to @adirh3

[2021-06-07 16:18] Metroid-Prime commented on #69
Hi @kwanice   We'll need a lot more details please about the request. Do you want an option for clearing the clipboard history? In the settings in the app itself?  A mockup of the request would be helpful too. Thank you!

[2021-06-07 16:20] Metroid-Prime commented on #63
Yes, I support this change. I think the logo needs a little bit of color and place  issue #24  asking for an outline on the logo. This is a major change as the logo should have to be changed everywhere that Fluent Launcher is present.
https://github.com/adirh3/Fluent-Search/issues/24

[2021-06-07 16:26] Nomad-0 commented on #71
facing this since the last 2/3 versions

[2021-06-07 16:30] Metroid-Prime commented on #65
Can you mock this up for us please in a picture?

Basically what you want is when the bookmark plugin is triggered, to show a list of bookmarks (alphabetically?) in the result fields?

[2021-06-07 16:32] Metroid-Prime commented on #66
I wonder if it's a better idea to allow the user to select (through a setting) the combo-button they would like to use for these quicklaunches.  That CTRL vs Command vs Alt.

What do you guys think?

[2021-06-07 16:42] kwanice commented on #69
i dont need to explain a lot because @adirh3 already know about that

if u do a lot of copy/paste, your clipboard is full, and i dont want to restart FS just to erase all the entries :)

So in the clipboard plugin add a button to erase entries, except the saved one.

[2021-06-07 16:44] Metroid-Prime commented on #68
I understanding the request as the user experience as most apps (including mobile) do it this way and it's the standard.

However, I could be wrong, but I _believe_ that the "Selected Theme" covers light & dark mode vs "Use System Theme" covers the _colors_ / highlighting of the app.

Selected theme = light/dark mode
Use system theme = on = use the system's default color     off = trigger to choos

[2021-06-07 16:47] Chance92 commented on #64
I think I am having a similar problem with a .lnk file. I have set both the directory and .lnk file type to be ignored, but it is still showing up.

[2021-06-07 16:48] Metroid-Prime commented on #69
Hi @kwanice , please do let us know the proposed design as there's a group of us tracking all of the issues and trying to help Adir focus his time on the development portion.

I agree with you there should be a clear history option, but what was your (or Adir's) proposed design?

[2021-06-07 17:07] Nomad-0 commented on #66
yes, I already have my `ctrl+number keys` open
![image](https://user-images.githubusercontent.com/76395594/121060886-03cae980-c7e5-11eb-94dc-43386377699d.png)

[2021-06-07 17:50] Nomad-0 opened #73 "implement `Rename` action for files in the search window"
**feature request**
As we have almost all necessary context menu actions implemented on the FS search window, having an option to rename files among these will be great!

![image](https://user-images.githubusercontent.com/76395594/121063497-34f8e900-c7e8-11eb-89c9-024aaa59c2fc.png)

**Describe alternatives you've considered**
hotkey with `f2` button to rename

[2021-06-07 18:39] Nomad-0 opened #74 "File results showing "?" instead of icons"
**Describe the bug**
the thumbnail/icon for the first file result appears properly, but onwards it shows a '?' icon instead of the icons of the file types [not constant]

**To Reproduce**
Steps to reproduce the behavior:
1. Type a letter that invokes many results
2. Look at the icons
3. It may not be easy to reproduce as it's not constant

**Expected behavior**
Results will show the icon depending

[2021-06-07 19:42] Metroid-Prime commented on #73
Under issue #21  I also requested custom actions like Listary which would make this possible, but I agree and support this request that rename is a core windows function that's worth having it baked in

[2021-06-07 20:12] adirh3 commented on #44
Yes, list items tags are used for in-process search.
Will add system-wide option to disable search tags soon.

[2021-06-07 20:16] adirh3 commented on #5
The icon will not remove when FS crushes, and you probably noticing it more lately since the last few versions were unstable.
Check if it's removed once you exit FS safely.

[2021-06-07 20:22] Metroid-Prime commented on #5
I believe it is, yes.

@adirh3  Strangely I've seen it in recent memory when FS was auto-updating itself.  I assume when the updater is quitting FS gracefully and not force quitting it?

I tried to replicate it myself and I couldn't but I will continue to monitor this.  @Nomad-0  if you're able to replicate or seeing it in non-crashing situations, please feel free to speak up :)

[2021-06-07 21:08] adirh3 commented on #63
@Jaap-van-Hengstum Actually it should change, are you using Appx or Exe?
Need to do something about the logo either way

[2021-06-07 21:10] adirh3 commented on #62
Windows 10 does not support rounded corners, it's caused by the drop shadow effect in Windows, so you may see different results according to your system settings.
I can remove shadow but it's much needed for apps like FS that are displayed over other apps.

[2021-06-07 21:15] Metroid-Prime commented on #62
I have drop shadow turned off which may explain why I am not seeing this.

[2021-06-07 21:28] Jaap-van-Hengstum opened #75 "Registering hotkey: alt key behaves differently from ctrl and shift keys"
**Describe the bug**
When registering a hotkey, the `Alt` key behaves like a modifier key while the `Ctrl` and `Shift` keys do not. For example, you can register `Ctrl+Ctrl` as a hotkey but not `Alt+Alt`. Also when you want to register `Ctrl+Alt` you have to have to hold the `Alt` key while pressing `Ctrl` and it doesn't work the other way around.

**Expected behavior**
The `Alt` key behaving like

[2021-06-07 21:50] adirh3 commented on #58
Test

[2021-06-07 21:54] hoshins opened #76 "Proxy support"
**Is your feature request related to a problem? Please describe.**
Need to support proxy

**Describe the solution you'd like**
- Provides setting for proxy

**Describe alternatives you've considered**
- Use system configured proxy

**Additional context**
N/A

[2021-06-07 21:59] adirh3 commented on #58
This

[2021-06-07 22:00] adirh3 commented on #58
This%20in%version

[2021-06-07 22:05] adirh3 commented on #58
This+in+version

[2021-06-07 22:18] adirh3 commented on #58
test123

[2021-06-07 22:28] adirh3 commented on #58
test123

[2021-06-07 22:33] adirh3 commented on #58
This_issue_has_been_potentially_fixed_in_version_0.9.85.20

[2021-06-07 23:25] adirh3 commented on #49
This_issue_has_been_potentially_fixed_in_version_

[2021-06-07 23:25] adirh3 commented on #65
This_issue_has_been_potentially_fixed_in_version_

[2021-06-07 23:25] adirh3 commented on #1
This_issue_has_been_potentially_fixed_in_version_

[2021-06-07 23:25] adirh3 commented on #37
This_issue_has_been_potentially_fixed_in_version_

[2021-06-07 23:25] adirh3 commented on #39
This_issue_has_been_potentially_fixed_in_version_

[2021-06-07 23:25] adirh3 commented on #67
This_issue_has_been_potentially_fixed_in_version_

[2021-06-07 23:25] adirh3 commented on #72
This_issue_has_been_potentially_fixed_in_version_

[2021-06-07 23:25] adirh3 commented on #4
This_issue_has_been_potentially_fixed_in_version_

[2021-06-07 23:41] Chance92 commented on #67
It's definitely improved, but the line break at the first line still looks weird and maybe a bit wasteful.
![image](https://user-images.githubusercontent.com/85488695/121100565-0f70dd00-c7f2-11eb-8236-a1b7c88e4a44.png)

[2021-06-08 02:05] Nomad-0 commented on #62
So, now the only workaround for this is turning of drop shadow?
any reason it's not that much visible in portable version?

[2021-06-08 02:09] Nomad-0 commented on #49
@adirh3 maybe a change here too?
![image](https://user-images.githubusercontent.com/76395594/121111505-cbe99380-c830-11eb-8c36-11270e3ca7eb.png)

[2021-06-08 02:17] Nomad-0 commented on #65
Issue fix confirmed. @Mr-Frankenstein Please check and let us know if you see anything contrary.
Closing issue.

[2021-06-08 02:17] #65 closed

[2021-06-08 02:25] Nomad-0 commented on #37
Issue fix confirmed. Closing

[2021-06-08 02:25] #37 closed

[2021-06-08 02:26] Nomad-0 commented on #1
issue fixed on my end. @Metroid-Prime please check.

[2021-06-08 02:29] Nomad-0 commented on #39
Issue fix confirmed. Closing.

[2021-06-08 02:29] #39 closed

[2021-06-08 02:59] Nomad-0 opened #77 "Drag and drop often shows restricted icon (🚫)"
**Describe the bug**
While trying to drag and drop a file, the cursor turns into a restricted icon inconsistently. Not consistent, but happens more times than a successful try. Confirmed by **Anas** on discord.

**To Reproduce**
try to drag and drop multiple times

**Expected behavior**
Easy drag and drop on a single try

**Screenshots**
![fs drag n drop mp4_snapshot_00 06_ 2021 06 08_08 44 25](ht

[2021-06-08 05:28] Mr-Frankenstein opened #78 "Search text glitches"
**Describe the bug**
After invoking the search bar, the text glitches in the first inputs. the text shifts up and down for a while. (confirmed by @Nomad-0)

**To Reproduce**
1. Hit Fluent Search hotkey
2. Type something and observe

**Expected behavior**
normal text input

**screenshots**
![image](https://user-images.githubusercontent.com/76395594/121142617-0158a600-c85e-11eb-9452-09043847728d.png

[2021-06-08 08:58] ltu00 opened #79 "search bar icon displary wrong"
**Describe the bug**
search bar icon displary wrong

**To Reproduce**
Steps to reproduce the behavior:
1. open search bar without type

**Screenshots**
![image](https://user-images.githubusercontent.com/50564608/121155733-a97c6800-c87a-11eb-8f1f-28ebde30eab0.png)

**Desktop (please complete the following information):**
 - Windows 10 Version: [20H1]
 - Fluent Search Version [0.9.85.30]

[2021-06-08 11:45] kwanice opened #80 "Indexer on network Folder, not working"
**Describe the bug**
\\xxxxx\xxxx\Videos is not indexed properly, sometimes it's work..sometimes no, very difficult to reproduce exactly

**Desktop (please complete the following information):**
Win 10 Pro
Build 21390.1

[2021-06-08 11:58] adirh3 commented on #80
Duplicate with #9

[2021-06-08 15:51] Nomad-0 commented on #80
closing this as being duplicate with #9 .

[2021-06-08 15:51] #80 closed

[2021-06-08 15:54] Nomad-0 commented on #78
supposedly similar issue on #79

[2021-06-08 15:54] Nomad-0 commented on #79
closing and merging the issue being supposedly duplicate with #78 . Please comment if you think there has been any mistake

[2021-06-08 15:54] #79 closed

[2021-06-08 17:02] kwanice commented on #71
i had today after doing something (??? dont know what)
=> to resolve, i closed FS and re open :)

[2021-06-08 17:03] cannibalox opened #81 "[0.9.85.30] `Preview>Toggle preview key>semicolon` doesn't work in French Azerty"
**Describe the bug**

[0.9.85.30] `Preview>Toggle preview key>Semicolon` doesn't work with a French Azerty keyboard layout (and probably other non- ansi US layouts)
 `;`  doesn't trigger preview but add a semicolon to the searchterm
![FluentSearch_Fluent_Search_20210608_470_QQyDfIdIK5](https://user-images.githubusercontent.com/4605693/121226210-970a2a80-c88a-11eb-8238-7a7c8a19fa2f.png)

- my physi

[2021-06-08 17:25] LarsJandel commented on #81
Ya, tried it on a German keyboard as well with  no success, but the semicolon isn't a good key anyway as it is trigered by `Shift`+`,` [comma].
![image](https://user-images.githubusercontent.com/32457827/121230120-20236080-c88f-11eb-8314-a6ae307e0c99.png)

[2021-06-08 17:33] Nomad-0 commented on #71
mine is also solved after the latest update. closing it.

[2021-06-09 04:26] Metroid-Prime opened #82 "Link Issue # to GitHub post"
Not sure if this can be somehow automated, but it would be great to be able to make the "# number" listed in the changelog a hyperlink that opens to the Github page of that specific issue.

It would be https://github.com/adirh3/Fluent-Search/issues/** where the ** is the issue number.

For example, the changelog could look like this. The user should be able to click on the number which would load

[2021-06-09 04:32] Metroid-Prime commented on #81
*please ignore the link to issue eighty-two in the post above.  There is no relation.

[2021-06-09 04:37] Metroid-Prime commented on #76
I see proxy support in a lot of apps, and this is not a ding against the request, but @hoshins  how do you see proxy support benefiting Fluent Search?

The only network access I can think of is:
1. Network indexing of files
2. Checking & downloading for updates

[2021-06-09 04:39] Metroid-Prime commented on #72
@Jaap-van-Hengstum  can you validate that this issue has been fixeD?

[2021-06-09 04:41] Nomad-0 commented on #78
@Metroid-Prime should I put this to **High Priority**? It's not much of a technical problem, but it's very irritating

[2021-06-09 04:43] Metroid-Prime opened #83 "Enable word wrapping in changelog window"
![image](https://user-images.githubusercontent.com/1836362/121294553-72ba4800-c8a2-11eb-8a97-c4cd8b64c373.png)

[2021-06-09 04:58] Metroid-Prime commented on #78
Changing to high priority based on 'annoying factor' and fact that it happens on every FS launch.

I am not able to reproduce this but it has been by others.

[2021-06-09 05:02] Metroid-Prime opened #84 "FS's window does not contract when text is deleted (minimal interface)"
v0.9.85.35

When I type text, and then delete it, I see this:
![image](https://user-images.githubusercontent.com/1836362/121296239-2b818680-c8a5-11eb-8b2d-ea8be7c35103.png)

What should happen is window should contract  back to minimal bar interface

[2021-06-09 05:04] Metroid-Prime commented on #1
@adirh3 @Nomad-0
Unfortunately I am still having this issue in v0.9.85.25
![image](https://user-images.githubusercontent.com/1836362/121296402-76030300-c8a5-11eb-9c12-c7fcdd10b50a.png)

[2021-06-09 05:11] Nomad-0 commented on #1
do you mean version 0.9.85.35?

[2021-06-09 05:12] kwanice commented on #49
![image](https://user-images.githubusercontent.com/14847187/121297101-17b04180-c8f2-11eb-89f5-e8064b8de8cb.png)
still something wrong :p

[2021-06-09 05:16] Metroid-Prime commented on #49
Nice catch @kwanice  I just noticed the same.  I'll keep the issue open. Should be a very easy fix.
@adirh3  once reference text is fixed, please close the ticket and tag me.

[2021-06-09 05:18] Metroid-Prime commented on #77
Can confirm.

[2021-06-09 05:30] Metroid-Prime opened #85 "Expand search settings function to include names of setting panes/plugins"
![image](https://user-images.githubusercontent.com/1836362/121298603-02fb8b80-c8a9-11eb-9341-5124d63f390f.png)

[2021-06-09 05:31] Metroid-Prime commented on #67
I'll keep this issue open so @adirh3  has a chance to address Chance92's latest comment.

[2021-06-09 05:32] Metroid-Prime commented on #64
I'm going with my gut and making this a high priority as the nature of the bug interferes with FS's core functionality of search.

[2021-06-09 05:34] Metroid-Prime commented on #62
correction: I turned off drop shadows and still see the white borders.

[2021-06-09 05:41] Metroid-Prime commented on #48
@adirh3  I am closing this as I believe this has been fixed?  I can't replicate it anymore. Please feel free to reopen

[2021-06-09 05:41] #48 closed

[2021-06-09 05:55] adirh3 commented on #49
I plan to change all descriptions very soon so I skipped it for now

[2021-06-09 05:59] Metroid-Prime commented on #4
Unfortunately **not fixed in 0.9.85.35**
![image](https://user-images.githubusercontent.com/1836362/121301515-2de7de80-c8ad-11eb-9c4c-268c2df722c1.png)

[2021-06-09 06:01] Metroid-Prime commented on #49
I'll go ahead & close this then as the original request was fulfilled. We look forward to new descriptions :)

[2021-06-09 06:01] #49 closed

[2021-06-09 06:02] Metroid-Prime commented on #1
Yes, thank you @Nomad. Corrected my original post.

[2021-06-09 06:37] adirh3 commented on #1
@Nomad-0 That's a tag for a folder called todo, the issue with the search application is fixed.
@Metroid-Prime it applies only after restart.

[2021-06-09 07:00] edenexposito opened #86 "Show most recent used files/folder when main search wiindows of fluent search is invoked"
One of the most interesting utilities for a file browser is always to quickly display what the user will need. In fact you search because you need to find .... and what you are most likely to want to use is the last thing the user has used...
It would be great if when you invoke "Fluent Search" the result window, before starting to search for anything, would already show a list of the last files a

[2021-06-09 07:02] Metroid-Prime commented on #86
We don't want this in **minimal mode**

[2021-06-09 07:05] edenexposito opened #87 "Compatibility with Directory Opus (dopus) in all Open/Save system dialog (like Listary)"
One of the functions that I use the most in Listary, is the possibility that the open/save dialogs go directly to the folders that I already have open in Directory Opus. To make it work I only have to first click on one of the two regions that show files (Directory Opus can work by showing two file listings from two different paths at the same time in the same window).
If after clicking on one of

[2021-06-09 07:05] Metroid-Prime commented on #1
@adirh3  How about this one?
![image](https://user-images.githubusercontent.com/1836362/121308861-604a0980-c8b6-11eb-82f3-20b566e2966c.png)

![image](https://user-images.githubusercontent.com/1836362/121308878-663fea80-c8b6-11eb-96c8-d6c140588028.png)

[2021-06-09 08:25] samwzlim commented on #16
This is essential for those working with a multi monitor setup! At the moment, Fluent Search can only be configured to show on the main monitor, which is a dealbreaker because that means whenever I work on my secondary monitor(s), I have to look at my main monitor to initiate something with fluent search, which affects your flow.

[2021-06-09 08:30] Nomad-0 commented on #86
Agree with Metroid Prime. When the search window was an actual window, we literally demanded from the dev to give a "Search bar only" view.

[2021-06-09 10:04] hoshins commented on #76
You're right. it's for people who is behind proxy to check & download updates or plugins

[2021-06-09 11:05] Jaap-van-Hengstum commented on #72
This issue has been fixed.

[2021-06-09 11:05] #72 closed

[2021-06-09 14:40] christubuntu opened #88 "Drag and drop still not working"
**Describe the bug**
Since it's introduction, Drag and drop from FS to Windows Explorer (MS word, etc.) has never worked for me.

**To Reproduce**
Steps to reproduce the behavior:
1. Open FS, search any file/folder
2.  Long press any of the result and drop it to File Explorer
3. Nothing happens. There's a crossed circle indicating error. Then FS freezes for a while

**Expected behavior**
The file/

[2021-06-09 14:53] Nomad-0 commented on #77
#88 has similar issue confirmed

[2021-06-09 17:40] Chance92 opened #89 "Multi-level path matching"
**Is your feature request related to a problem? Please describe.**
I find it difficult to find the exact file I want when there are multiple files with the same name. For example, I have 20 project folders, and there's a "procurement" folder under each of the project folders. Currently it can be difficult and time consuming to find the exact procurement folder I want.

**Describe the solution you'

[2021-06-09 20:44] adirh3 commented on #89
@Chance92 searching project1_1\procurement does not work for you? When using backslash Fluent Search will search in the path, you can even use space to make separate search.

For example, path - C:/a/b/c/d/file.txt
Search- b/c file or a/b c file.txt should work as well

[2021-06-09 20:47] adirh3 commented on #82
Update already make my user write that this issue is potentially fixed in the version.
It's not me typing manually.
For last update it I disabled it.

[2021-06-09 21:40] Chance92 commented on #89
@adirh3 I have tried project1_1\procurement once or twice before and it didn't work, so I thought it wasn't implemented yet. I have tried again just now and it seems to work occasionally, but most times it doesn't, especially in OneDrive. Should I raise this as a bug?

[2021-06-10 03:09] Nomad-0 commented on #71
Reopening the issue as it's being inconsistent (sometimes shows the unknown icon, shows normal icon after restarting FS)

[2021-06-10 03:26] Nomad-0 opened #90 "Customization of result/search navigation keys"
**Is your feature request related to a problem? Please describe.**
I feel more comfortable using the `tab` key to navigate through results as it's closer to the home row than arrow keys.

**Describe the solution you'd like**
As everyone has different preferences for keys, the most reasonable solution would be IMO to add an option to customize the following keys-

**navigate through result:**

- up

[2021-06-10 05:59] kwanice commented on #71
I have also, i guess it's when we RESTART the computer.
If after restart, i close FS and reopen, everything  is ok :)

[2021-06-10 06:03] Metroid-Prime commented on #82
@adirh3  the way I understand your post. It's already implemented via automated mechanism but was disabled temporarily in the last version?

[2021-06-10 08:24] kwanice opened #91 "default file manager box keep one line"
**Describe the bug**
The box to specify the file manager keep only one line, and cant be adapted to the lenght of the full path

![image](https://user-images.githubusercontent.com/14847187/121490830-af3a9080-c9d5-11eb-9924-25c41bf888b3.png)

**Expected behavior**
The box should be adapted to the lenght of the path

**Desktop (please complete the following information):**
 - Windows 10 Version: 213

[2021-06-10 08:40] kwanice opened #92 "Behavior on selected line from result"
**Describe the bug**
not easy to explain
When u make a search on FS, u have for example 30 results, when u go down the highlighted line go down to the bottom of the windows but when u reached the bottom, the highlighted line stuck on the bottom of the windows => the behavior expected is the line should go up even if it reach the bottom of the windows

2nd : when u switch from left side to right si

[2021-06-10 09:45] Mr-Frankenstein opened #93 "Search tag only feature for web search URLs"
Search tag only feature for each web search URLs.

When there are a lot of web search URLs the search result will get messy. FS has a Search Tag Only feature but it applies to every Web search URL.

![unknown](https://user-images.githubusercontent.com/85425543/121505040-19682b00-ca00-11eb-804d-88e7d3cd30bc.png)

[2021-06-10 10:40] kwanice opened #94 "the FS menu is behind the hidden icon on the taskbar"
**Describe the bug**
please see the picture to understand ^^ LOL

**Screenshots**
![image](https://user-images.githubusercontent.com/14847187/121511428-e6666d00-c9e8-11eb-8af6-81e9bd84d874.png)

**Desktop (please complete the following information):**
 - Windows 10 Version: 21390.1000
 - Fluent Search Version: 0.9.85.35

[2021-06-10 13:07] Nomad-0 opened #95 "Launch a URL directly (to go to a direct link or website by typing/pasting the URL)"
**Is your feature request related to a problem? Please describe.**
Sometimes I have URLs copied and I want to launch them in the browser. But if I use _Web Search_ for this I get the results are given below and no option to launch the URL directly (to go to the link/website).

![image](https://user-images.githubusercontent.com/76395594/121528954-c1402180-ca1d-11eb-89f2-395c10ca9059.png)

However,

[2021-06-10 13:10] Nomad-0 commented on #92
@Metroid-Prime Please have a look and assign the priority here as I didn't quite understand the bug 😶

[2021-06-10 15:09] ZeRealStig opened #96 "WolframAlpha Plugin"
I would really love a WolframAlpha plugin for Fluent Search -WolframAlpha is really useful .
It has its own API that can be used to
power WolframAlpha results

**Describe the solution you'd like**
Make a plugin  that shows an answer to the relevant WolframAlpha query when we type
wa: <tab> <Search>

Possibly a multi-line auto-expandable answer with the option to copy the link & open in the browser

[2021-06-10 16:26] Metroid-Prime commented on #95
I support this request. I believe Alfred has this feature.

[2021-06-10 16:27] Metroid-Prime commented on #94
This might be a regressed bug as I thought it was fixed in an earlier version a few weeks ago. .

[2021-06-10 16:32] Metroid-Prime commented on #93
@Mr-Frankenstein  sorry to hijack this thread, but what is the intention of this new checkbox?   I ask as an avid user of the web URL section.

[2021-06-10 16:34] Metroid-Prime commented on #91
Can confirm, but want to clarify @kwanice  that what you're saying is that the "Path" box in your picture doesn't adjust to the full length of the path?  I noticed this as well.

[2021-06-10 16:37] Metroid-Prime commented on #90
Yes, an option would be better as I and others here use the arrow keys.

I like the arrow keys because down makes you go down the result and right arrow key allows you to interface with the command functions (like listary).

[2021-06-10 16:37] Metroid-Prime commented on #89
Wait, you mentioned OneDrive.  Is this a network path or a local path?

[2021-06-10 16:39] Metroid-Prime commented on #88
I agree with @Nomad-0    Issue # seventy seven matches this one. Best to compartmentalize the issues.

[2021-06-10 16:40] Metroid-Prime commented on #86
Yep.  The idea is that we want to make Fluent Search a power user's tool, but not to alienate the basic user as well. That's where minimal mode comes in. Alfred is masterful at doing this -- easy for general user, but very powerful when configured especially with workflows.

[2021-06-10 16:43] Metroid-Prime commented on #85
@Nomad-0  @adirh3  I guess a general question I should pose out there is _how_ aggressive do we want Fluent Search's settings to be?

1. Should it search alt text?
2.  Should it search the name of the panes
3. Should it search in plugin section?

[2021-06-10 16:43] Metroid-Prime commented on #84
This issue has been confirmed.  Deleting text after searching for something shows "Nothing to show" in the result bar

[2021-06-10 16:46] Chance92 commented on #89
@Metroid-Prime I believe the path is local. It's like E:\OneDrive\xxxxx

[2021-06-10 16:46] Metroid-Prime commented on #76
I don't need this, but I do support it. Keeping FS updated a core function of the app and should be expanded to users behind proxies (which I assume is many since I see proxy support in other apps).

[2021-06-10 16:46] Metroid-Prime commented on #74
I believe this is reproducible.

[2021-06-10 17:41] Nomad-0 commented on #85
I think we should focus on this After Adir improves the texts and names of the settings as I guess he plans to do so

[2021-06-10 17:52] Metroid-Prime commented on #85
Excellent point.

[2021-06-10 17:58] kwanice commented on #91
@Metroid-Prime yes exactly...sorry my English is bad to explain technical problem 😂

[2021-06-10 21:00] MakeshVineeth opened #97 "Occasionally some of the settings in Fluent Search are not persistent between system reboots."
**Bug Description:**
As the title says: Some of the Settings in Fluent Search are not persistent between system reboots and they always get reset on next launch. Settings that I've faced issues with are `Release feed` & `Start minimized` in Fluent Search Settings > System.

**Steps To Reproduce:**
1. Go to Fluent Search Settings.
2. Navigate to System related settings.
3. Enable Start minimized.
4

[2021-06-10 21:13] MakeshVineeth opened #98 "Machine learning sensitivity option displays Revert button even at it's default value."
**Bug Description:**
The `Machine learning sensitivity` option in Fluent Search Settings > Search displays a Revert button even if it's default value (which is 500%)

**Steps To Reproduce:**
1. Go to Fluent Search Settings
2. Go to Search related settings
3. Scroll down to Machine learning sensitivity option and try to change the value to default 500%
4. The Revert button is always displayed.

**E

[2021-06-10 21:25] Metroid-Prime commented on #97
@MakeshVineeth  are you on the discord channel? You may want to zip your settings folder ( "\Fluent Search\Blast\Settings\"  in portable version) and **send it to Adir via PM** in the  Discord channel.

I had this issue with just the main FS trigger hotkey a while back but I haven't seen it in a while.

[2021-06-10 21:27] adirh3 commented on #95
You can launch URLs as long as they're with HTTP prefix, will add it to work without as well

[2021-06-10 21:34] adirh3 commented on #55
This is not possible without making it a bad experience for people that already use it now

[2021-06-10 21:39] adirh3 commented on #1
The "settings" search tag is being used to search for FS settings, it will not be removed.
You sure "Enabled application" was disabled when searching with that tag? if it did, then open an issue for that, since you shouldn't get Windows settings results if you disabled the app

[2021-06-10 22:27] Metroid-Prime commented on #55
Got it! Thanks Adir.  Closing with appropriate tag

[2021-06-10 22:27] #55 closed

[2021-06-11 06:19] Mr-Frankenstein commented on #93
When there are a lot of web search URLs, the search results will start to get messy. I could make Web search 'Search Tag Only' but then I can't just type and search in google. So when there is 'Search Tag Only' for each web search URLs, I can make the most used ones to always show in the search results and less used ones can be used by their own tags.

**Only implement this feature if others want

[2021-06-11 12:13] kwanice opened #99 "on "save as" dialog box, if we look for folder, settings open"
**Describe the bug**
on a dialog box "save as", if we open FS to search for a folder, by selecting up and down, the folder is selected, but if we pressed enter, the settings windows open

**Expected behavior**
if we press enter, the selected folder should be opened

**Desktop (please complete the following information):**
 - Windows 10 Version: 21390.1000
 - Fluent Search Version: 0.9.85.35

[2021-06-11 12:16] kwanice commented on #99
i tried now, and i cant reproduced...:/

[2021-06-11 13:00] Nomad-0 commented on #99
Set it to _Low priority_ as you can't reproduce

[2021-06-11 17:55] adirh3 commented on #89
@Chance92 please make sure the files your'e not finding are not found because of path searching or because FS didn't index them at all.
If it's the later, then close this issue and open a new one, thanks.

[2021-06-11 18:14] Chance92 commented on #89
I am suppose to enter file paths in a consecutive order, right? For example, if I want to find
`E:\Documents\Work\Projects\project1_1\Procurement`
I must enter something like
`project1_1\Procurement`
or
`1_1\Procure`
But not something like
`Documents\Procurement`
or
`project\procurement`
Is this how it is supposed to work? I have been trying to use the last two methods, which did not work, and now

[2021-06-11 18:20] adirh3 commented on #89
Using space in the middle of the search acts as `OR`, so you can search `project\ procurement` or `Documents\ Procurement` to make it work. Without using space, it will search for the exact term.
Let me know if it works for you.

[2021-06-11 18:32] Chance92 commented on #89
@adirh3 Thanks. I think it is working. I will close this one now.

[2021-06-11 19:30] adirh3 commented on #97
This will happen if FS couldn't close properly (like crash, force restart of Windows, BSOD, etc.).
Can you check if it happens for you when you close FS safely? (Through system tray)

[2021-06-11 20:15] Metroid-Prime commented on #99
@kwanice  if you can't reproduce, I suggest we close this. You can always re-open easily if needed.

[2021-06-11 20:17] Metroid-Prime commented on #93
Oh I see so you're talking about in the results column when you're initiating a web search right?

[2021-06-11 22:53] adirh3 commented on #58
tes test 123

[2021-06-11 22:57] adirh3 commented on #58
tes test 123

[2021-06-11 22:57] adirh3 commented on #58
tes test 123

[2021-06-11 22:59] adirh3 commented on #58
This issue has been potentially fixed in version 0.9.85.20

[2021-06-12 00:17] adirh3 commented on #93
This issue has been potentially fixed in version

[2021-06-12 00:17] adirh3 commented on #44
This issue has been potentially fixed in version

[2021-06-12 00:17] adirh3 commented on #95
This issue has been potentially fixed in version

[2021-06-12 00:17] adirh3 commented on #91
This issue has been potentially fixed in version

[2021-06-12 00:17] adirh3 commented on #98
This issue has been potentially fixed in version

[2021-06-12 00:17] adirh3 commented on #88
This issue has been potentially fixed in version

[2021-06-12 00:17] adirh3 commented on #78
This issue has been potentially fixed in version

[2021-06-12 00:17] adirh3 commented on #92
This issue has been potentially fixed in version

[2021-06-12 00:18] adirh3 commented on #64
This issue has been potentially fixed in version

[2021-06-12 00:18] adirh3 commented on #4
This issue has been potentially fixed in version

[2021-06-12 00:25] adirh3 commented on #93
This issue has been potentially fixed in version 0.9.85.40

[2021-06-12 00:25] adirh3 commented on #44
This issue has been potentially fixed in version 0.9.85.40

[2021-06-12 00:25] adirh3 commented on #95
This issue has been potentially fixed in version 0.9.85.40

[2021-06-12 00:25] adirh3 commented on #91
This issue has been potentially fixed in version 0.9.85.40

[2021-06-12 00:25] adirh3 commented on #98
This issue has been potentially fixed in version 0.9.85.40

[2021-06-12 00:25] adirh3 commented on #78
This issue has been potentially fixed in version 0.9.85.40

[2021-06-12 00:25] adirh3 commented on #88
This issue has been potentially fixed in version 0.9.85.40

[2021-06-12 00:25] adirh3 commented on #92
This issue has been potentially fixed in version 0.9.85.40

[2021-06-12 00:25] adirh3 commented on #4
This issue has been potentially fixed in version 0.9.85.40

[2021-06-12 00:25] adirh3 commented on #64
This issue has been potentially fixed in version 0.9.85.40

[2021-06-12 00:26] adirh3 commented on #82
Yes you can close it

[2021-06-12 02:13] Nomad-0 commented on #64
closing the issue as the bug seems to be fixed, @Mr-Frankenstein please check if it's fixed on your end.

[2021-06-12 02:13] #64 closed

[2021-06-12 02:14] Nomad-0 commented on #78
Closing it as the issue's been fixed. @Mr-Frankenstein please check

[2021-06-12 02:14] #78 closed

[2021-06-12 02:18] Nomad-0 commented on #77
closing as the issue's been fixed.

[2021-06-12 02:18] #77 closed

[2021-06-12 02:23] Nomad-0 commented on #95
@adirh3 The result is appearing but pressing `return` doesn't do anything. @Metroid-Prime can you please check if you can go to an Url.

![image](https://user-images.githubusercontent.com/76395594/121762357-32372480-cb57-11eb-90ad-102901df19f1.png)

[2021-06-12 02:25] Nomad-0 commented on #93
Closing the issue as the feature has been implemented.

[2021-06-12 02:25] #93 closed

[2021-06-12 02:27] Nomad-0 commented on #44
Closing the issue as the issue seems to be fixed. @Mr-Frankenstein please check.

[2021-06-12 02:27] #44 closed

[2021-06-12 02:36] Nomad-0 opened #100 "A Search bar on windows explorer file dialogue box"
A search bar like Listary Search bar on windows explorer file dialogue box,
It has "**favorites**", "**history**" and "**settings**".
Inside the favorites, there is "_quick access_", "_this pc_" and other folders I marked at favorites. Using "this pc" I can easily navigate to any file or folder I don't remember the name of

![image](https://user-images.githubusercontent.com/76395594/121762566-82fb

[2021-06-12 04:29] Metroid-Prime commented on #95
Can confirm. Result appears but nothing happens when you press Enter

[2021-06-12 04:31] Metroid-Prime commented on #82
Closing.  FYI @adirh3  if it's supposed to be in the latest update it wasn't.  If that's expected, no problem.

[2021-06-12 04:33] Metroid-Prime commented on #4
@adirh3  text is wiped on right click > show, but web searches, UI, and I imagine other search tags still show up from previous searches
![image](https://user-images.githubusercontent.com/1836362/121764968-a09ac900-cafc-11eb-9a49-e0ec17461b3d.png)

[2021-06-12 04:36] Metroid-Prime commented on #64
I believe this might be fixed, but will wait for  @Mr-Frankenstein

[2021-06-12 04:37] Metroid-Prime commented on #92
@kwanice  please comment whether it's been fixed.

[2021-06-12 04:37] Metroid-Prime commented on #98
@MakeshVineeth   please confirm issue has been fixed

[2021-06-12 04:39] Metroid-Prime commented on #91
I can confirm this is fixed.  The box expands much more than better but obviously to a limit. It can't expand forever as there's limited space.

@kwanice  closing, but please confirm

[2021-06-12 04:39] #91 closed

[2021-06-12 04:43] MakeshVineeth commented on #98
Yes, this issue has been fixed in the latest build. Thanks and closing this issue.

[2021-06-12 04:43] #98 closed

[2021-06-12 04:45] Metroid-Prime commented on #99
Closing this. @kwanice please reopen if you see it again or if you disagree

[2021-06-12 04:45] #99 closed

[2021-06-12 04:46] Metroid-Prime commented on #9
Can confirm this is still active in latest build

[2021-06-12 04:57] MakeshVineeth commented on #97
It happens regardless of crashes/force restarts etc. On the previous day, I did try to close FS safely and restarted the PC, the settings still have been reset. But as I mentioned in the title, it happens occasionally and so it is not reproducible at the moment.

[2021-06-12 05:11] kwanice commented on #99
ok i tried to reproduced on the new version i cant anymore...let's see @Metroid-Prime

[2021-06-12 05:12] kwanice commented on #92
YES !
Great :) work fine! @Metroid-Prime @adirh3

[2021-06-12 05:12] #92 closed

[2021-06-12 05:15] kwanice commented on #91
@adirh3 @Metroid-Prime
Yes its much more better, still feel something is missing, like a scroll bar? or maybe expand the box vertically ?
because we have to use arrow or mouse to scroll inside this box .

but its good.
thanks :)

[2021-06-12 05:19] Metroid-Prime commented on #91
I would put in an UX/UI enhancement for that. I agree scroll bar is appropriate and standard user interface when something runs over

[2021-06-12 05:22] kwanice commented on #9
yes, still very buggy... @Metroid-Prime
sometimes i can access some files, sometimes not, sometimes i have to wait 5 seconds or more for one result,
or i have to add a new character, or remove one to display some result..quite weird behavior :p

[2021-06-12 12:29] adirh3 commented on #82
@Metroid-Prime I think I misunderstood, I meant that new versions will notify all fixed issues that they are potentially fixed.
I will add links to changelogs as well.

[2021-06-12 13:05] adirh3 commented on #1
@Metroid-Prime Can we close this?

[2021-06-12 19:55] Metroid-Prime commented on #1
it's still happening on virtually every search

I'm able to replicate it on every search.
![image](https://user-images.githubusercontent.com/1836362/121787800-3118ee00-cb7d-11eb-9c44-b6c476430cd6.png)

https://media.discordapp.net/attachments/851107458339700736/853360882381357086/unknown.png

[2021-06-12 19:57] Metroid-Prime commented on #1
"settings" search tag is searching my SYSTEM settings, which again is turned off in my preferences!  What am I doing wrong here?
![image](https://user-images.githubusercontent.com/1836362/121787894-bb615200-cb7d-11eb-857e-d1afac74176b.png)

The settings show everything is turned off so "settings" + space should not be triggering anything

[2021-06-12 23:54] adirh3 commented on #9
This issue has been potentially fixed in version 0.9.85.45

[2021-06-12 23:54] adirh3 commented on #85
This issue has been potentially fixed in version 0.9.85.45

[2021-06-12 23:54] adirh3 commented on #7
This issue has been potentially fixed in version 0.9.85.45

[2021-06-12 23:54] adirh3 commented on #95
This issue has been potentially fixed in version 0.9.85.45

[2021-06-12 23:54] adirh3 commented on #1
This issue has been potentially fixed in version 0.9.85.45

[2021-06-13 01:29] Metroid-Prime commented on #9
Can confirm broken in 0.9.85.45.  Many network files not found

[2021-06-13 01:37] Metroid-Prime commented on #95
Not working in  0.9.85.45.  Typing in fluentsearch.net and hitting enter does nothing

[2021-06-13 01:42] Metroid-Prime commented on #1
The new version still has the problem, but only with the TAB button. Space no longer exhibits the issue

[2021-06-13 01:44] Metroid-Prime commented on #85
Feature confirmed in x.45 version. Closing

[2021-06-13 01:44] #85 closed

[2021-06-13 02:29] Nomad-0 commented on #95
It's working on my end. Did you use _web_ tag before entering the URL?

[2021-06-13 03:34] Metroid-Prime commented on #95
Yes it works, apologies. Space has been removed from triggering searches so I didn't realize that at the time.

[2021-06-13 03:34] #95 closed

[2021-06-13 05:46] Metroid-Prime commented on #34
@adirh3  I wiped FS's settings and this has been solved.

[2021-06-13 05:55] Metroid-Prime opened #102 "Web Search Icon table should show preview of image instead of local link"
This is a no-brainer in terms of user-interface

Instead of this:
![image](https://user-images.githubusercontent.com/1836362/121796742-43704780-cbd0-11eb-91be-b55b9214ae46.png)

Fluent Search should have a generic picture icon there, that when clicked opens a dialogue box to select the image and then show a small preview of the image, like this:

![image](https://user-images.githubusercontent.com/

[2021-06-13 08:16] adirh3 commented on #9
I need more information, does it happen for all network drives? Files not found are in a specific directory or all files not found? Once network drive configured and you rebuild index, do you progress ring in Fluent Search?

[2021-06-13 08:25] Mr-Frankenstein opened #103 "All history showing when using YouTube tag"
**Describe the bug**
When searching on YouTube with YouTube tag using web search, FS is showing all my history.

**To Reproduce**
Steps to reproduce the behavior:
(You must have a YouTube web search to see this error)
1. Use YouTube tag
2. search for something you have searched on google.

**Expected behavior**
Only YouTube history should be shown when using the YouTube tag.

**Screenshots**
![ima

[2021-06-13 08:40] prowhiz opened #104 "The File search doesn't seem to include google drive"
**Describe the bug**
The file search doesn't seem to include my Google drive folder even though I have the drive indexed in the Files settings

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Files
2. Under Indexed Paths, I click the + icon and add G:\My Drive
3. Click Rebuild Index.

**Expected behavior**
It should list the file/folder in the search results when I search for

[2021-06-13 10:06] kwanice opened #105 "CLipboard Shortcut is not working"
**Describe the bug**
when i press my shortcut to display the clipboard function, its not working, it just open a normal FS search

**To Reproduce**
1. settings
2. Clipboard
3. search hotkey

**Expected behavior**
be able to search only on the clipboard

**Desktop (please complete the following information):**
 - Windows 10 Version: 21390.1000
 - Fluent Search Version: 0.9.85.35

[2021-06-13 10:19] kwanice opened #106 "Clipboard - Be able to add a name for the saved text"
**Is your feature request related to a problem? Please describe.**
We can saved the text in the clipboard, but it will be good to add a name

**Describe the solution you'd like**
add a description box to a saved text/clipboard
We can open FS and search for example username, and have the list of the clipboard text with this description

**Describe alternatives you've considered**
we can use Tag als

[2021-06-13 10:28] kwanice opened #107 "Clipboard - Impossible to add a TAG"
**Describe the bug**
when i select an item on my clipboard list, and add a tag, i cant see the tag added

**To Reproduce**
1. select the item
2. click on the + to add the tag

**Expected behavior**
we should see the list of tag on this item when its selected.

**Desktop (please complete the following information):**
 - Windows 10 Version: 21390.1000
 - Fluent Search Version: 0.9.85.35

[2021-06-13 15:46] naeloob opened #108 "Optionaly see tabs on the left panel, just as like process, on results of general search"
First of all, congrats, it's a great and usefull soft.

**Is your feature request related to a problem? Please describe.**
You cannot see all the tabs at first glance. You have to select process by process  to see the tabs on the right panel.

**Describe the solution you'd like**
Having Tabs as a process result, having it on the left panel, too, one by one, as it shows on a in-process search.
Havi

[2021-06-13 17:03] cannibalox opened #109 "[0.9.85.45] `Settings>Files` issues"
in 0.9.85.45 (portable) : some sections are not displayed in `Settings>Files`:
- `file indexer` chooser section is not displayed at all (I can search in the inpute box, a result comus up but doesn't lead anywhere)
-`Indexed paths` section is not displayed at all
- I can see the `ignored paths` section though
- the `Settings>Files` heading is not displayed (see gif below), it's working for other `s

[2021-06-13 23:03] adirh3 commented on #1
@Metroid-Prime You sure you're not confusing with FS settings?
@Nomad-0 Can you reproduce it?

[2021-06-13 23:05] adirh3 commented on #3
I believe this is fixed, can you check @Metroid-Prime?

[2021-06-13 23:08] adirh3 commented on #4
It was by design, but I will change it, since I guess must users would want the tag to clear as well.

[2021-06-13 23:10] adirh3 commented on #81
@cannibalox since the support for semicolon is removed, I suggest you close this issue for now.

[2021-06-13 23:32] adirh3 commented on #84
@Metroid-Prime This has been fixed in 0.9.40.0

[2021-06-14 00:12] adirh3 commented on #61
This issue has been potentially fixed in version 0.9.85.50

[2021-06-14 00:12] adirh3 commented on #62
This issue has been potentially fixed in version 0.9.85.50

[2021-06-14 00:12] adirh3 commented on #4
This issue has been potentially fixed in version 0.9.85.50

[2021-06-14 00:12] adirh3 commented on #9
This issue has been potentially fixed in version 0.9.85.50

[2021-06-14 00:12] adirh3 commented on #103
This issue has been potentially fixed in version 0.9.85.50

[2021-06-14 00:12] adirh3 commented on #104
This issue has been potentially fixed in version 0.9.85.50

[2021-06-14 02:10] ltu00 opened #110 "IME tips not show right placekh"
**Describe the bug**
IME tips not show right place

**To Reproduce**
Steps to reproduce the behavior:
1. start search bar ,shift IME to chinese,and type

**Expected behavior**
IME tips not show near search bar

**Screenshots**
![image](https://user-images.githubusercontent.com/50564608/121830730-45352a80-ccf8-11eb-9689-5bbf3384c578.png)

![image](https://user-images.githubusercontent.com/50564608/

[2021-06-14 03:02] #81 closed

[2021-06-14 03:14] Nomad-0 commented on #1
No, I can't

[2021-06-14 03:17] Nomad-0 commented on #84
yes, fixed on my end

[2021-06-14 03:19] Nomad-0 commented on #62
I'm still seeing this
![image](https://user-images.githubusercontent.com/76395594/121834877-a3124400-ccf1-11eb-8982-c0babfc9514c.png)

[2021-06-14 03:24] Nomad-0 commented on #62
oh, sorry, found it in settings

[2021-06-14 03:24] #62 closed

[2021-06-14 06:41] prowhiz commented on #104
That was quick. I've updated and it works now. Thank you

[2021-06-14 07:10] #104 closed

[2021-06-14 07:33] adirh3 commented on #109
@cannibalox is it fixed in 0.9.85.50?

[2021-06-14 09:48] MakeshVineeth commented on #97
Closing my issue as it is no longer reproducible. Will reopen if I face it again in the future.

[2021-06-14 09:48] #97 closed

[2021-06-14 10:53] cannibalox commented on #61
fixed

[2021-06-14 10:53] #61 closed

[2021-06-14 11:04] cannibalox commented on #109
fixed, thank you !

[2021-06-14 11:04] #109 closed

[2021-06-14 20:00] Metroid-Prime commented on #5
FYI: @adirh3  @Nomad-0   I just saw this ghosting issue on Windows 10 LTSC  as the FS auto-updater updated to 0.9.85.50.

[2021-06-14 20:06] Metroid-Prime commented on #84
Confirming fix & closing. TY!

[2021-06-14 20:06] #84 closed

[2021-06-14 20:20] Metroid-Prime commented on #9
Hi @adirh3
Apologies for the late reply.  I will validate this tonight when I get back on my home computer!

[2021-06-14 20:21] Metroid-Prime commented on #9
It's completely random, but I have a folder called /Documents.   I tried adding both the network mapped drive O:\  and then also tried the manual network address \\192.168.1.25\*dirname*   and rebuilt the index in FS.  Tried exiting and re-opening and files aren't found.

[2021-06-14 20:22] Metroid-Prime commented on #4
confirming fix & closing.

[2021-06-14 20:23] Metroid-Prime commented on #103
@Mr-Frankenstein  can you validate at your earliest convenience?

[2021-06-14 20:25] Metroid-Prime commented on #3
Confirming fix. The + button now opens a file dialogue window, which in my opinion is much more user friendly! Thank you

[2021-06-14 20:25] #3 closed

[2021-06-14 20:32] Metroid-Prime commented on #1
I believe this issue has now 'shifted' in the latest version if that makes any sense.

When the search tags are turned off, Fluent Search is searching for the "next tag that's on".  For example, when I typed in "todo" and hit "tab", it triggers the command tab.
![image](https://user-images.githubusercontent.com/1836362/121955415-ca2e3d00-cd14-11eb-877a-0e768cf90a63.png)

Then I went to the Command

[2021-06-14 20:36] Metroid-Prime commented on #1
Closing per Adir's req as re-design is coming hopefully to address this.

[2021-06-14 20:36] #1 closed

[2021-06-14 21:58] Metroid-Prime commented on #110
@ltu00  I assigned this low priority looking at your pic.  Let me know if you feel strongly if it qualifies for medium priority.

[2021-06-14 22:01] Metroid-Prime commented on #94
@Nomad-0 @MakeshVineeth
Can anyone reproduce this? I believe I put in a bug report a long time ago about something similar, but Adir fixed it.  My right click menu is displaying properly.
![image](https://user-images.githubusercontent.com/1836362/121965052-4d559000-cd21-11eb-92cf-de5e57d785db.png)

[2021-06-14 22:02] Metroid-Prime commented on #71
@Nomad-0  I've been trying to reproduce this but I haven't been able to on 2 computers unfortunately.

[2021-06-14 22:04] Metroid-Prime commented on #53
@adirh3  I believe this has been fixed in the latest version with the dialogue box, so I'm closing it.

[2021-06-14 22:04] #53 closed

[2021-06-14 22:04] Metroid-Prime commented on #51
Agree. Fully showing the table is appropriate.

[2021-06-14 22:06] Metroid-Prime commented on #47
*Edited original post with more information.

[2021-06-14 22:10] Metroid-Prime commented on #45
clarification:  if you  type some meaningless blob of text "kdfldklfdk" into the search field, the entry is not remembered when closing settings and re-opening.  However, when you type an entry that triggers a hit (e.g. "search hotkey", _that_ entry remains in the toolbar after going back to settings.   The default behavior should be that search field be empty every time

[2021-06-14 22:14] Metroid-Prime commented on #7
@Nomad-0   Can you co-check with this me?  I believe this has been fixed so I'm closing it.
@adirh3  - I'll double check this with the example above on my other home computer as well when I return tonight.

[2021-06-14 22:14] #7 closed

[2021-06-14 23:27] adirh3 commented on #16
This issue has been potentially fixed in version 0.9.85.55

[2021-06-14 23:27] adirh3 commented on #45
This issue has been potentially fixed in version 0.9.85.55

[2021-06-14 23:27] adirh3 commented on #105
This issue has been potentially fixed in version 0.9.85.55

[2021-06-14 23:27] adirh3 commented on #9
This issue has been potentially fixed in version 0.9.85.55

[2021-06-15 02:48] MakeshVineeth commented on #94
Interesting, thought this was fixed already. I'm unable to reproduce this bug from my end.

[2021-06-15 03:06] Nomad-0 commented on #94
can't reproduce this. It wasn't constant tho

[2021-06-15 03:08] Nomad-0 commented on #7
yes, I think it's fixed

[2021-06-15 03:10] Nomad-0 commented on #45
Fixed on my end

[2021-06-15 03:17] Nomad-0 commented on #71
It shows the normal icon if I close and reopen FS. However, it get back to the unknown icon if I restart my pc.

[2021-06-15 04:16] Metroid-Prime commented on #16
confirmed. Feature added!! TY Adir!! closing

@samwzlim

[2021-06-15 04:22] Metroid-Prime commented on #71
@Nomad-0

I wonder if this might be a solution for you.
Save this to notepad and name it as iconrefresh.BAT and double click on it. It will kill explorer, delete your icon cache and restart explorer.

After running this, restart your computer and see if it happens again?

[code]

[2021-06-15 04:23] Metroid-Prime commented on #45
Can confirm  fixed. Closing

[2021-06-15 04:23] #45 closed

[2021-06-15 04:24] Metroid-Prime commented on #7
So far, so good on 2nd computer that had the issue.

[2021-06-15 04:25] Metroid-Prime commented on #94
@kwanice   can you reproduce this still in the latest version as of 6/14/21. If not, let us know if it's OK to close.

[2021-06-15 04:25] Metroid-Prime commented on #105
@kwanice   please validate fix.

[2021-06-15 04:27] Metroid-Prime commented on #9
Congrats! This was a longstanding issue and OMG I think you did it @adirh3 !!!

[2021-06-15 04:27] #9 closed

[2021-06-15 04:31] Metroid-Prime commented on #74
@Nomad-0   @adirh3  can we make this a high priority ticket?  If you read the ticket on the surface it doesn't sound like, but this is really impactful on the user's workflow.

For example, when I type in "medical" I expect a RAR file.  When the user has a lot of icons, I have to read through all of them vs just looking for the WinRAR archive icon.

[2021-06-15 04:36] Metroid-Prime opened #111 "Icons in result section for files are not aligned (folders OK)"
@MakeshVineeth noticed this and I volunteered to submit the bug report

The text on the files results are not aligned:

![image](https://user-images.githubusercontent.com/1836362/121993532-7a716500-cd58-11eb-8fc3-f8ee5f0abab0.png)

Request is to re-align them.

[2021-06-15 04:38] Nomad-0 commented on #74
I agree, changing it

[2021-06-15 05:00] Metroid-Prime opened #112 "Add "options" and "preferences" and "settings" option to open main settings page"
Request is to add a way to launch the main settings page through the word "preferences" and "options" and .... (Adir you're going to hate me... Lol)  "settings".

Alfred & Listary have done this and I found it's the fastest/best way to launch the main settings page.
![image](https://user-images.githubusercontent.com/1836362/121995462-cd005080-cd5b-11eb-9bb2-5b654ac92531.png)
![image](https://user-

[2021-06-15 06:22] kwanice commented on #94
@Metroid-Prime yes for me it seems to be ok now. :)

[2021-06-15 06:27] kwanice commented on #105
@Metroid-Prime nope, still same

[2021-06-15 06:43] Nomad-0 commented on #94
closing it then

[2021-06-15 06:57] Nomad-0 commented on #71
Tried the fix, @Metroid-Prime. It's still the same.

[2021-06-15 06:58] Nomad-0 commented on #107
Can you please explain in detail what do you mean by tag? (with screenshots if possible).

[2021-06-15 07:38] Mr-Frankenstein commented on #103
It's fixed

[2021-06-15 08:55] adirh3 commented on #111
This is duplicate with #74 @Metroid-Prime ?

[2021-06-15 08:57] adirh3 commented on #112
Isn't this the same as #13 ? @Metroid-Prime

[2021-06-15 08:59] adirh3 commented on #107
@Nomad-0 Its a known issue for all plugins, can't add custom search tags

[2021-06-15 09:30] Nomad-0 commented on #107
oh, understood

[2021-06-15 11:20] christubuntu opened #113 "Moving files from FS onto Windows File Explorer not working"
**Describe the bug**
Moving files/folders out of FS to Windows Explorer etc. is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Open FS, search for a file/folder
2. Hold Alt keyboard key, drag and drop the file/folder from FS to Windows File explorer
3. There's a crossed circle indicating error

**Expected behavior**
The file/folder should be moved to the destination software/pr

[2021-06-15 11:26] kwanice commented on #113
@christubuntu agree, we can copy but not MOVE file :)

[2021-06-15 12:32] #107 closed

[2021-06-15 12:54] #103 closed

[2021-06-15 15:31] Nomad-0 commented on #71
@adirh3 @Metroid-Prime what if no icon appears at all in the taskbar? e.g. Listary, when I invoke it, no icon appears at the taskbar

[2021-06-15 16:23] Mr-Frankenstein opened #114 "Every letter changes to lowercase"
**Describe the bug**
If I create a task in Microsoft To Do or search for something on Google, FS makes every letter lowercase.

**To Reproduce**
Steps to reproduce the behavior:
1. Search something on google with uppercase
2. See all letters change to lowercase

**Expected behavior**
FS shouldn't change uppercase letters to lowercase.

**Screenshots**
![image](https://user-images.githubusercontent

[2021-06-15 19:14] Metroid-Prime commented on #107
The way I interpreted this it's a limitation or a known issue so I removed the bug label.

[2021-06-15 19:14] Metroid-Prime commented on #113
@christubuntu I usually use the copy /paste function

will defer to @adirh3  if it's supposed to be working with drag and drop to desktop.

[2021-06-15 19:16] Metroid-Prime commented on #112
Darn it. I'm sorry @adirh3  Yes it is.  I _knew_ I had posted it but for some reason I couldn't find that specific post.
Thanks, I'll close this one.

[2021-06-15 19:16] #112 closed

[2021-06-15 19:18] Metroid-Prime commented on #111
Unless I am missing something (@Nomad-0 ) it's a completely different issue?
#74  is referring to the ? showing up on all icons.   This issue (#111) is referring to the misaligned text to the icons.   Perhaps they're _technically_ related; in other words, if issue 74 is fixed, it would fix this?

[2021-06-15 19:19] Metroid-Prime commented on #71
@Nomad-0  can you clarify what you meant in your post above? Perhaps with pics or video?

[2021-06-16 03:05] Nomad-0 commented on #71
LIke this, when you invoke, there's no taskbar icon
![image](https://user-images.githubusercontent.com/76395594/122151580-9fadc280-ce81-11eb-85a1-90e03a91d19a.png)

but when you invoke FS, there's this icon
![image](https://user-images.githubusercontent.com/76395594/122151734-de437d00-ce81-11eb-8de3-b99176756caa.png)

[2021-06-16 04:51] kwanice opened #115 "FS download box is too wide when update"
**Describe the bug**
When we update FS since the last 2 versions, the box for downloading the new version is too big

**To Reproduce**
Just update the app

**Expected behavior**
It should a smaller size as before

**Screenshots**
![image](https://user-images.githubusercontent.com/14847187/122159781-23aa7f00-ce6f-11eb-81e6-244c4773d426.png)

**Desktop (please complete the following information):**

[2021-06-16 04:57] kwanice commented on #105
on version 0.9.85.60 : the shorcut still not working, it open the simple FS search bar
@adirh3 @Metroid-Prime

[2021-06-16 05:03] kwanice opened #116 "CLIPBOARD - be able to edit an item"
**Is your feature request related to a problem? Please describe.**
We can have a long list of item saved, and adding the possibility to edit will be great :)

**Describe the solution you'd like**
Add another menu to edit

**Additional context**
![image](https://user-images.githubusercontent.com/14847187/122160811-e0511000-ce70-11eb-92c4-16de14f0f1a3.png)

[2021-06-16 05:09] kwanice opened #117 "TAG - the UI indicator for TAG give the wrong information"
**Describe the bug**
It happen when the feature `suggest tags from result` is not enabled
see the 2 images to see what happen

**To Reproduce**
Steps to reproduce the behavior:
1. Open FS
2. type clip
3. press enter
4. Instead of clipboard history (as the ui indicator mentioned, we have the search clip:)

**Expected behavior**
the Ui indicator should show the clip tag instead of clipboard history

[2021-06-16 05:30] kwanice opened #118 "Settings "Windows Show location", position not good"
**Describe the bug**
the settings `Windows Show location` when is set to `next to current process` show the FS search bar on the top, when a dialog box is open

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an app
2. try open a file using dialog box "open" or "save as"
3. Press ur shorcut to open FS
4. see the screenshot

**Expected behavior**
The FS bar should be close the windows di

[2021-06-16 05:40] kwanice opened #119 "When Open FS, the scroll bar is not always on the top"
**Describe the bug**
when we make a new search on FS, the scroll bar should be on the top, but now, if for example you search on your clipboard history, and scrolling down , and after u open again FS, and start to search something, the scroll bar is not at top but maybe the 3 or 4 th line, and on the FS screen result you cant see the top lines

** to reproduce **
1. scroll in your clipboard histor

[2021-06-16 05:49] kwanice opened #120 "Prioritization not sorting result properly"
**Describe the bug**
i set the prioritization with app first and after clipboard
when i make a search the clipboard came first and after app
if i set the clipboard at a lower place less than 20 in my example, i cant see the clipboard result in the FS result

**Screenshots**
the result
![image](https://user-images.githubusercontent.com/14847187/122164577-4ccf0d80-ce77-11eb-9cd8-00c1e35deb58.png)

m

[2021-06-16 06:48] Metroid-Prime opened #121 "Settings window no longer resizable"
FS's settings or plugins window is no longer resizable.  I've entered this as a bug as another user in the discord has reported theirs is resizing.

**To Reproduce**
1. Launch FS
2. Go to FS settings
3. Try to resize the window
4.
**Expected behavior**
Should resize

**Screenshots**
![image](https://user-images.githubusercontent.com/1836362/122171075-29cf3a00-ce34-11eb-9301-a4c8e1b5e8fb.png)

**De

[2021-06-16 06:49] Metroid-Prime commented on #115
Can confirm, I saw this same thing in .60

[2021-06-16 06:53] Metroid-Prime commented on #31
EDITED original picture post and added additional details needed.

[2021-06-16 06:54] christubuntu commented on #113
It's in the changelog for version 0.9.80.0

[2021-06-16 06:58] #121 closed

[2021-06-16 07:11] Metroid-Prime opened #122 "Move Plugins setting to bottom of settings left pane."
Prepare for a nitpick.

![image](https://user-images.githubusercontent.com/1836362/122174063-415bf200-ce37-11eb-8bf6-cdc6e65869eb.png)

Of course this plugins should sit above the "About" pane in #31

[2021-06-16 07:13] Metroid-Prime opened #123 "Highlighted clicking jumps over plugins and Advanced Sections"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1836362/122174488-a0216b80-ce37-11eb-993c-36b8123f09fa.png)

![image](https://user-images.githubusercontent.com/1836362/122174843-f1c9f600-ce37-11eb-9d8f-8e11d656c88f.png)
 - Windows 10 Version: LTSC 1809
 - Fluent Search Version 0.9.85.60

[2021-06-16 07:34] Metroid-Prime opened #124 "FS Twitter Outdated"
The FS Twitter page is outdated for ~2 months (since May).
https://twitter.com/FluentSearch

I would say cleanse the old announcement posts to avoid making the app look outdated
_or_
If there's a way to automate announcements of new versions via Twitter (like what we did with Discord) that would be an option too.

[2021-06-16 10:58] Mr-Frankenstein opened #125 "`Search tag only` option for results types"
Search tag only feature for result types like images, videos.
I have a lot of images in a folder. I don't want to see the images, but don't want to ignore the folder either.

![unknown](https://user-images.githubusercontent.com/85425543/122207239-8c214c80-cebf-11eb-9663-f888bc057530.png)

I'm not sure it should be here 👆 or here 👇

![image](https://user-images.githubusercontent.com/85425543/122207

[2021-06-16 12:36] haosmos opened #126 "The hotkeys for navigation in ms edge browser (ctrl+m) are called very slowly"
**Description of the problem:**

For some unknown reason, the hotkeys for navigation in ms edge browser (ctrl+m) are called very slowly. The browser even hangs up)

I assume it has to do with some extension of my browser (of which I have many) because in chrome the shortcuts are called very fast.

How can I check which of my extensions is causing the problem?

Or maybe the problem is something els

[2021-06-16 18:34] adirh3 commented on #126
@haosmos Can you check if you have "Force using UI search engine" enabled in Settings -> Screen?

[2021-06-16 18:35] adirh3 commented on #122
@Metroid-Prime I believe you say it because your settings window is stretched (not default size), if I move it to bottom people will not know it's there.

[2021-06-16 23:50] adirh3 commented on #114
This issue has been potentially fixed in version 0.9.85.65

[2021-06-16 23:50] adirh3 commented on #113
This issue has been potentially fixed in version 0.9.85.65

[2021-06-16 23:50] adirh3 commented on #117
This issue has been potentially fixed in version 0.9.85.65

[2021-06-17 06:15] #117 closed

[2021-06-17 06:25] kwanice opened #127 "Long text in info box are not well cut"
**Describe the bug**
on some info box, when the text is on several lines, at the end of the line, the word is not well splited

**Screenshots**
![image](https://user-images.githubusercontent.com/14847187/122341996-61c5a280-cf44-11eb-9569-050b51d5c277.png)
the word "remove" should be "re-move" or "remove" at the beginning of the second line
and the word "search" should be written on the 3rd line

*

[2021-06-17 06:26] kwanice commented on #127
![image](https://user-images.githubusercontent.com/14847187/122343178-b61d5200-cf45-11eb-8242-ebd908351878.png)

[2021-06-17 06:44] ScarletKing-001 opened #128 "KillAll plugin's search tag does not clear on tab"
On pressing `Tab` to activate the `killall` tag:
 if the tag is pressed before typing killall fully, the letters typed appear in the argument of the tag.
For eg.,
if 'killa' `Tab` is typed, the killall tag searches for a process called 'killa'
![image](https://user-images.githubusercontent.com/71964994/122345008-e5789280-cf36-11eb-9c99-f023b2f80291.png)

But if 'killall' is typed fully, `Tab` is b

[2021-06-17 07:02] ScarletKing-001 opened #129 "About window is too small"
The about window is too small & must be resized to view version details

**To Reproduce**
1. Right-click systray icon
2. Click on 'About'
3. The window is too small to see the version number, and needs resizing ; needs to become larger by default

**Screenshots**
![image](https://user-images.githubusercontent.com/71964994/122347630-c7606180-cf39-11eb-941c-31084a1ca1eb.png)

**Specs**
 - Windows 10

[2021-06-17 07:42] #113 closed

[2021-06-17 07:51] christubuntu opened #130 "Impossible to add tags after search query"
https://user-images.githubusercontent.com/55885756/122355137-f5ea3680-cf51-11eb-99d6-fc5b50fbb0b3.mp4

**Describe the bug**
In previous versions of FS, one used to be able to insert a tag after typing the search query. But now, it's impossible

**To Reproduce**
Steps to reproduce the behavior:
1. Open Fs, type search query (ex. blast
2. Insert "folder" tag
3. FS won't search a folder named blast,

[2021-06-17 09:19] Chance92 commented on #89
Sorry to reopen this one. It seems the function stopped working in 0.9.85.65

[2021-06-17 10:01] adirh3 commented on #89
Can you share info/screenshot of scenario it's not working?

[2021-06-17 10:07] Chance92 commented on #89
Here are some screen shots.
![Snipaste_2021-06-17_11-05-01](https://user-images.githubusercontent.com/85488695/122376414-0acbc780-cf5c-11eb-9945-df9a803db824.png)
![Snipaste_2021-06-17_11-04-37](https://user-images.githubusercontent.com/85488695/122376428-0d2e2180-cf5c-11eb-9ef6-be78864426ff.png)

[2021-06-17 11:13] adirh3 commented on #89
Just making sure - does it find the required file or directory when you don't use partly path searching?

[2021-06-17 11:43] Chance92 commented on #89
No. FS can't find anything today. It seems the FS service can't install for some reason.

[2021-06-17 13:35] Nomad-0 opened #131 ""Map searched tag" isn't working"
**Describe the bug**
The tags I mapped in _map searched tag_ aren't working anymore.

**To Reproduce**
1. map a tag with 1 or 2 character
2. invoke fs and type the character

**Expected behavior**
If I type the input the tag I mapped should appear in suggestions+the tag in the output should be enabled when I press `tab`

**Screenshots**
these are the tags I mapped
![image](https://user-images.gith

[2021-06-17 13:49] ltu00 opened #132 "minimal style resize bug"
**Describe the bug**
minimal style resize bug

**To Reproduce**
Steps to reproduce the behavior:
1. set window style minimal
2. launch FS
3. resize search bar horizontal
4. See error

**Expected behavior**
show huge

**Screenshots**
![image](https://user-images.githubusercontent.com/50564608/122409522-c8cf6f80-cfb5-11eb-9752-755a3e09578c.png)

**Desktop (please complete the following information):

[2021-06-17 16:25] Chance92 commented on #89
It works fine with exe version. I am closing this one, hopefully for the last time. Thank you!

[2021-06-17 16:25] #89 closed

[2021-06-17 17:05] DamaniMC opened #133 "Open uninstall"
I find myself frequently trying to uninstall programs and being forced to use the windows button to get to the "uninstall" / "add or remove programs ". If this could be done straight from fluent search by typing uninstall that would be ideal.

[2021-06-17 17:49] adirh3 commented on #133
@DamaniMC Did you try searching for the app in FS then press uninstall?

[2021-06-17 17:52] adirh3 commented on #132
@ltu00 Can you let me know why would you like to resize the search bar vertically?
Trying to resize vertically will stretch the expanded window, and this is by design

[2021-06-17 21:05] adirh3 commented on #105
@kwanice Does it not open with the "clipboard" tag? or it does but you mean it doesn't show results when the search bar is minimal?

[2021-06-17 22:32] haosmos commented on #126
This seems to be the problem. I disabled this feature and now hotkeys are called quickly! Thank you! 👍

Would you please tell me if you need any other clarifying information?

Or can I close the issue?

[2021-06-17 22:40] Metroid-Prime commented on #131
@Metroid-Prime  tagging myself as I need to track this one.

[2021-06-17 22:42] Metroid-Prime commented on #129
@ScarletKing-001   Mine doesn't do this.  Do you have Windows scaling turned on above 100%?
@Nomad-0   Do  you mind if I change this to bug?  It shouldn't be working this way as my window fits the version window

[2021-06-17 22:43] Metroid-Prime commented on #114
@Mr-Frankenstein  can you validate?

[2021-06-17 22:55] Metroid-Prime commented on #122
Wouldn't that be the case for the other search tags too then?  Could be wrong, but I feel like plugins are a lower priority than the core stuff? What do you think?

[2021-06-17 23:07] adirh3 commented on #131
This issue has been potentially fixed in version 0.9.85.70

[2021-06-17 23:07] adirh3 commented on #130
This issue has been potentially fixed in version 0.9.85.70

[2021-06-18 04:04] Metroid-Prime commented on #132
Not sure if this is a bug based on @adirh3 's comment but I'll label it as a bug since the user posted it as such.

[2021-06-18 04:20] Metroid-Prime commented on #133
There is workaround for this. You can create a shortcut for Add-remove programs from the old control panel and put it in a folder. Then enable the App search in FS and point it to the folder that has the shortcut..

[2021-06-18 04:20] Metroid-Prime commented on #131
@Nomad-0  can you verify?

[2021-06-18 04:27] Nomad-0 commented on #129
oh sorry, I thought he asked adding the changelog to the about window.

[2021-06-18 04:31] Nomad-0 commented on #131
Still not working for some tags

![image](https://user-images.githubusercontent.com/76395594/122506506-4a5be780-d020-11eb-83dc-9c217d7aa9f7.png)

[2021-06-18 04:33] Nomad-0 commented on #133
confirming this one, pressing _uninstall_ on the search bar menu takes to the settings instead of uninstalling it directly

[2021-06-18 05:05] Nomad-0 opened #134 "Any way to prioritize "Custome apps paths" over any other settings?"
Is there any way I can get results from this folder even if I keep the complete `"C:\Users\ME\AppData\Roaming\"` folder on ignored paths?

![image](https://user-images.githubusercontent.com/76395594/122508670-2ac6be00-d024-11eb-8431-ec0ad1ef74f0.png)

I get too many unnecessary results from the system drive, still can't keep these folders ignored as _app_ results also are here

![image](https://us

[2021-06-18 05:11] kwanice commented on #105
@adirh3
![image](https://user-images.githubusercontent.com/14847187/122509547-4326e080-d004-11eb-8369-3b6c6a50660e.png)

here the FS bar when i open with the shorcut for clipboard
when i do a research, its little bit different from a FS search normal, but it's not only clipboard (i think it's the purpose of the shorcut right?)

[2021-06-18 06:52] MakeshVineeth opened #135 "Refresh button is partially visible in Plugins window"
**Bug Description**
The Refresh button is bit glitched in Plugins window as small bottom part of the icon got overlapped and is not properly visible.

**Steps To Reproduce**
1. Go to Plugins window either though Tray icon or through Settings.
2. Wait for all the plugins is load.
3. The Refresh icon is not looking good.

**Expected behavior**
Default size of the Plugins window can be increased so t

[2021-06-18 07:11] MakeshVineeth opened #136 "No Gap between Search Bar and the Plugin card in Plugins window"
**Describe the bug**
The screenshot says it all, there is no gap between the search bar and the plugins card when scrolled. Also, the plugin card minutely overlaps with the search bar.

**Steps To Reproduce**
1. Go to Plugins window.
2. Wait for the Refresh to complete.
3. Try to scroll down.
4. And check the padding/gap between the search bar and the plugin results.

**Screenshots**
![2021-06-18

[2021-06-18 07:17] MakeshVineeth opened #137 "Use of Circular Progress Indicator instead of Linear Progress Bar in Plugins window"
Right now, Fluent Search displays a horizontal progress bar while the plugins are being refreshed in the Plugins window. But as you can see from the screenshot, it is not looking that good. It would be better to display a Circular Progress Indicator **beside** the Search Bar instead.

![2021-06-18 (5)](https://user-images.githubusercontent.com/19371684/122521789-decf4580-d032-11eb-88b6-f06a9356b5a

[2021-06-18 11:10] ltu00 commented on #132
no ,i am trying resize search bar horizontal, and then it changed vertical too.

[2021-06-18 12:05] #130 closed

[2021-06-18 14:37] adirh3 commented on #128
@ScarletKing-001 I believe this is fixed in the latest version

[2021-06-18 14:41] adirh3 commented on #131
@Nomad-0 there is no tab called "bookmarks" it's "bookmark", this issue is fixed.
Note you can use little lightbulb at the top right to insert valid tags

[2021-06-18 14:44] Nomad-0 commented on #131
got it, thank you

[2021-06-18 14:45] Nomad-0 commented on #134
got the answer on discord channel

[2021-06-18 14:45] #134 closed

[2021-06-18 14:53] kwanice opened #138 "DRAG'N'DROP - Close FS when copy/move files"
**Is your feature request related to a problem? Please describe.**
maybe it can be nice when we want to copy or move a file, to close FS after copy or move a file

**Describe the solution you'd like**
Close FS search windows

[2021-06-18 15:02] Nomad-0 commented on #128
fixed on my end, @ScarletKing-001, please validate

[2021-06-18 15:04] Nomad-0 commented on #138
I actually disagree with this one. When I want to move multiple files, I have to invoke and search FS for each file separately.

[2021-06-18 15:06] kwanice commented on #138
when for example u are on whatsapp web or desktop, u want to copy a file, a pic, u open fs, u drag ur files to the windows, and u cant see if the files is correctly inserted because the search windows is in the middle of the screen, so you cant see if the files has been moves or copy...

[2021-06-18 15:49] adirh3 commented on #124
@Metroid-Prime I don't think people want to see changelogs in twitter, although I might be wrong.
I will try to post more updates there with screenshots, let me know if you got any specific suggestion.

[2021-06-18 16:05] Najah101 opened #139 "Group stay collapsed"
If I collapse a group in the settings and reopen the settings, the group should stay collapsed.
![image](https://user-images.githubusercontent.com/85425543/122588726-0b0fb400-d07d-11eb-8c2c-5ca0ff01f7d8.png)

[2021-06-18 16:05] ScarletKing-001 commented on #129
@Metroid-Prime My windows scaling is at 125%, but as it turns out, even on setting my default zoom to 100%, the window is scaled down in size, and the version number's still hidden.

[2021-06-18 16:08] ScarletKing-001 commented on #128
Yes, has been fixed.

[2021-06-18 16:08] #128 closed

[2021-06-18 16:18] Nomad-0 opened #140 "A Hotkey settings consisting all hotkeys in one place"
How about a hotkey settings option that'll have the hotkeys of different search actions in one place (as they're taking most of the space in respective settings

![image](https://user-images.githubusercontent.com/76395594/122590036-d1da4280-d082-11eb-8e33-f82182dcb62c.png)

[2021-06-18 18:42] #30 closed

[2021-06-18 19:09] Metroid-Prime commented on #124
I agree with you. Changelogs in twitter are absolutely not necessary but I saw a few them of there.  From a user's  perspective, seeing 'old'  (relatively speaking for FS of course, lol)

[2021-06-18 19:53] adirh3 commented on #36
@Metroid-Prime I believe this is more readable with the recent color changes right?

[2021-06-18 20:20] Metroid-Prime commented on #36
@adirh3  Please forgive me, did I miss a feature recently? My about menu in v. x70 I see the same thing.

![Uploading image.png…]()

[2021-06-18 20:59] adirh3 commented on #105
@Nomad-0 Can you reproduce this?

[2021-06-18 23:43] adirh3 commented on #13
This issue has been potentially fixed in version 0.9.85.75

[2021-06-18 23:43] adirh3 commented on #135
This issue has been potentially fixed in version 0.9.85.75

[2021-06-18 23:43] adirh3 commented on #136
This issue has been potentially fixed in version 0.9.85.75

[2021-06-18 23:43] adirh3 commented on #137
This issue has been potentially fixed in version 0.9.85.75

[2021-06-18 23:43] adirh3 commented on #12
This issue has been potentially fixed in version 0.9.85.75

[2021-06-18 23:43] adirh3 commented on #25
This issue has been potentially fixed in version 0.9.85.75

[2021-06-18 23:43] adirh3 commented on #40
This issue has been potentially fixed in version 0.9.85.75

[2021-06-18 23:43] adirh3 commented on #111
This issue has been potentially fixed in version 0.9.85.75

[2021-06-18 23:43] adirh3 commented on #71
This issue has been potentially fixed in version 0.9.85.75

[2021-06-18 23:43] adirh3 commented on #5
This issue has been potentially fixed in version 0.9.85.75

[2021-06-19 02:57] Nomad-0 commented on #105
yes. I set a hotkey for clipboard search, so If I press that hotkey, FS should open with clipboard tag on, but it opens just as normal FS

[2021-06-19 02:59] Nomad-0 commented on #5
It still occurs.

[2021-06-19 03:04] Nomad-0 commented on #71
fixed on my end. @kwanice can you please confirm?

[2021-06-19 03:04] #71 closed

[2021-06-19 03:08] Nomad-0 commented on #136
confirming fix and closing. @MakeshVineeth please let me know if you disagree.

[2021-06-19 03:08] #136 closed

[2021-06-19 03:10] Nomad-0 commented on #135
confirming fix and closing. @MakeshVineeth please let me know if you disagree

[2021-06-19 03:10] #135 closed

[2021-06-19 03:16] #140 closed

[2021-06-19 03:27] Nomad-0 commented on #137
closing as the fix is confirmed.

[2021-06-19 03:27] #137 closed

[2021-06-19 03:44] Nomad-0 commented on #126
@haosmos you may close the issue now

[2021-06-19 03:57] Metroid-Prime commented on #5
Well, I can confirm it still happens _when updating to .75_ but I don't know if that's because it's inherent to the version before it. We'll have to wait for the next version to find out if it's fixed in .75

[2021-06-19 03:58] Metroid-Prime commented on #139
Agree with this.

[2021-06-19 04:03] Metroid-Prime commented on #111
@adirh3  It looks better to be sure, but may I ask for a slightly more alignment?  I know this is a nitpick but just like Apple design spec, the little details really matter to users' subconscious.

 See this pic:
![image](https://user-images.githubusercontent.com/1836362/122630443-8a4eb900-d078-11eb-9e7b-67080e9d4ce2.png)

[2021-06-19 04:04] Metroid-Prime commented on #40
Can confirm fix. Closing

[2021-06-19 04:04] #40 closed

[2021-06-19 04:04] Nomad-0 commented on #5
you can find out by killing FS with kill plugin

[2021-06-19 04:07] Metroid-Prime commented on #25
Thank you for going above & beyond and changing all of the IsEnabled to Enabled.

Confirming fix & closing!

[2021-06-19 04:07] #25 closed

[2021-06-19 04:08] Metroid-Prime commented on #12
Can confirm. Thank you!

[2021-06-19 04:08] #12 closed

[2021-06-19 04:08] Nomad-0 commented on #14
Agree with this. Or maybe the FS settings could be changed to options/preferences

[2021-06-19 04:10] Metroid-Prime commented on #13
@Nomad-0  @MakeshVineeth  Can either of you get this working?  I tried "settings" as suggested in the changelog but it didn't work.

[2021-06-19 04:12] Metroid-Prime commented on #52
@adirh3  I am able to replicate this!  It looks like you fixed it within the past few versions! Closing!

[2021-06-19 04:12] #52 closed

[2021-06-19 04:14] Nomad-0 commented on #13
I can open particular _settings_ from FS like, appearances, search. but can't find any option for settings only

[2021-06-19 04:15] Metroid-Prime commented on #2
@Nomad-0 @adirh3
I hope it's OK but I feel this should be closed. RSS works for email and it's not worth polluting FS's github with this minor request.

For those of you who want RSS w/ github - you can achieve this with Inoreader Pro

[2021-06-19 04:15] #2 closed

[2021-06-19 04:15] MakeshVineeth commented on #13
It is like this from my side, is this what you were expecting?

![2021-06-19](https://user-images.githubusercontent.com/19371684/122630641-e4846400-d0e2-11eb-925a-a417608b5179.png)

[2021-06-19 04:16] Nomad-0 commented on #68
I think this one's fixed? @Jaap-van-Hengstum @Metroid-Prime

[2021-06-19 04:22] Nomad-0 commented on #83
I think this is solved in recent updateds? @Metroid-Prime

[2021-06-19 04:25] Metroid-Prime commented on #5
Well, I think "killing" FS is unfair. I'd be fine with it not ghosting during proper closure during updating.
Not ghosting at all would be best, but I'm not sure how Adir is going to achieve that when the app is killed as it won't be running lol

[2021-06-19 04:28] Nomad-0 commented on #5
just found out it's the same if we kill other apps also. I think maybe it's something with OS?

[2021-06-19 04:38] MakeshVineeth opened #141 "Manage custom tags in FS Settings"
It would be awesome if we can manage the user created custom tags like renaming the existing tag, or deleting the tag etc. through FS Settings. Sometimes users might add custom tags with random names just for testing the feature as a new comer, or sometimes users may just mistype the word they wanted. In such scenarios, it can be bit irritating as there will be lot of wrong tags bloated into the S

[2021-06-19 04:49] Metroid-Prime commented on #13
I just redownloaded a portable version of FS and don't see that.  I thought for sure it was related to my settings.

@adirh3  any idea why I wouldn't see it?  It looks like it's implemented so I'll close it for good measure but hopefully you can let me know if it's settings based

[2021-06-19 04:55] Metroid-Prime commented on #19
Closing this with MV's blessing to prioritize other bugs & enhancements

[2021-06-19 04:55] #19 closed

[2021-06-19 04:56] Metroid-Prime commented on #20
Closing this with MV's blessing to prioritize other bugs & enhancements

[2021-06-19 04:56] #20 closed

[2021-06-19 04:59] Metroid-Prime commented on #13
Sorry Adir. Going to reopen this as it sounds like there's difficulty for others getting it to launch

[2021-06-19 05:00] Metroid-Prime commented on #5
yes I believe so.  I think this is not a request we can expect Adir to fix as it's a windows issue. I think the only time I would expect FS to NOT ghost is when it's reinstalling itself.

[2021-06-19 05:01] Metroid-Prime commented on #126
Closing for @haosmos

[2021-06-19 05:01] #126 closed

[2021-06-19 05:09] Metroid-Prime commented on #68
@Jaap-van-Hengstum
Here's what I see and I believe this fulfilled your request?  I am closing this, please validate when you're able
![image](https://user-images.githubusercontent.com/1836362/122631564-562bc600-d081-11eb-907e-3c7bc43424d4.png)

[2021-06-19 05:09] #68 closed

[2021-06-19 05:15] Metroid-Prime commented on #83
Still occurring
![image](https://user-images.githubusercontent.com/1836362/122631742-a48d9480-d082-11eb-821b-15199ea7d79c.png)

[2021-06-19 05:16] MakeshVineeth opened #142 "Two Separate Options: 1 to hide Taskbar Icon & 1 to hide Tray icon"
Whenever we launch the FS window, it will show a Taskbar icon like shown in the image below. It would be awesome if there is an option to hide it through FS Settings.

![2021-06-19 (2)](https://user-images.githubusercontent.com/19371684/122631709-1a2d4b00-d0eb-11eb-969a-99a9174a0da2.png)

Additionally, provide an option to hide the tray icon in FS Settings > Appearance.

[2021-06-19 05:20] Metroid-Prime commented on #142
@Nomad-0  and I support this request.

I would definitely turn off the taskbar one

[2021-06-19 05:21] Nomad-0 commented on #142
agree, I personally prefer not to have this one by default
![image](https://user-images.githubusercontent.com/76395594/122631834-64fd9180-d0f0-11eb-877c-92a4df2491d5.png)

[2021-06-19 05:23] Metroid-Prime commented on #142
Yes I agree with this true.  Default setting should be taskbar OFF, system ON.  This is a no-brainer as it's good interface

[2021-06-19 05:24] Metroid-Prime commented on #124
I'll leave it up to you if you want to delete the twitter changelogs from past so there's no confusion to users.

[2021-06-19 05:24] #124 closed

[2021-06-19 05:29] Metroid-Prime commented on #82
Whoops, I forgot to close this!

[2021-06-19 05:29] #82 closed

[2021-06-19 05:31] Metroid-Prime commented on #54
Replicated in v 0.9.8.85.75
![image](https://user-images.githubusercontent.com/1836362/122632027-dc95d700-d084-11eb-9387-ff22555cbcd4.png)

[2021-06-19 05:35] Metroid-Prime commented on #83
I'm reluctantly changing this to a low priority bug because Adir wants users to read changelog and this interfaces with that effort.

[2021-06-19 05:46] MakeshVineeth commented on #23
I think this should be a bug, it is displaying incorrect sizes in the first place. Please look at the screenshots below.

![2021-06-19 (3)](https://user-images.githubusercontent.com/19371684/122632316-ab9ebc00-d0ef-11eb-8534-be47b3239626.png)
![2021-06-19 (4)](https://user-images.githubusercontent.com/19371684/122632319-accfe900-d0ef-11eb-943f-adc194c7aaaf.png)

[2021-06-19 05:49] Nomad-0 commented on #23
tagging it as a bug as per MV's comment above and theghostofgoya's comment in discord https://discord.com/channels/740636963396124714/740636963836788818/855675982887649311

[2021-06-19 06:08] Metroid-Prime commented on #23
100% agree, this should be treated as a bug but didn't have the courage to ask others.

[2021-06-19 06:08] ltu00 commented on #110
when i launched FS on second screen , IME tips will shown on first screen.

[2021-06-19 07:07] kwanice commented on #71
yes for now seem to be ok, i just update and the icon seem ok, i will try to reboot now to check it :)

[2021-06-19 07:11] kwanice commented on #71
ok for me its good ^^
after reboot the icon still appear :p
good work ;)

[2021-06-19 08:01] kwanice opened #143 "TAG - when add a new tag, it keeps the last tag in memory"
**Describe the bug**
when we are using the adding tag feature with the + , if we already use the adding tag feature, the box appear for the new tag is not empty but it keep in memory the previous tag used

**To Reproduce**
Steps to reproduce the behavior:
1. open FS
2. make a search
3. use the + to add a tag
4. open FS again
5. make a search
6. use again the + feature to add tag

**Expected behavi

[2021-06-19 08:03] kwanice commented on #94
@Nomad-0 hey, on the last build .75 the problem came back...

can you check for u ?
![image](https://user-images.githubusercontent.com/14847187/122635667-96249480-d0e5-11eb-90b6-d2a218616ede.png)

[2021-06-19 08:08] Nomad-0 commented on #94
ok here
![image](https://user-images.githubusercontent.com/76395594/122635808-b5ccb480-d107-11eb-9244-a6692102a073.png)

[2021-06-19 10:52] adirh3 commented on #111
It is aligned, there is just differences in sizes between icons that I can't overcome.
Try looking at them with the selection line on them, that way you will see they're all aligned at the middle

[2021-06-19 10:54] adirh3 commented on #25
Definition of "going above & beyond" -
![image](https://user-images.githubusercontent.com/27368554/122640030-cf6cfc80-d105-11eb-81e1-3bef016ef570.png)

[2021-06-19 10:58] adirh3 commented on #14
@Metroid-Prime This is fixed IMO
To-Do not going to become plugin due to it breaking for users who uses it.

[2021-06-19 11:04] adirh3 commented on #13
@Metroid-Prime did you search for "settings"?

[2021-06-19 11:47] adirh3 commented on #5
I fixed it in the last version you will see it's clearing the icon the next update

[2021-06-19 14:50] Nomad-0 commented on #13
@Metroid-Prime I'm being able to find it now, it was way below the result that I couldn't find it previously I think

![image](https://user-images.githubusercontent.com/76395594/122646223-ea5c6280-d13f-11eb-91b6-ff1ecfcd6ba9.png)

[2021-06-19 15:10] Mr-Frankenstein commented on #114
This issue is fixed. You can close this issue now.

[2021-06-19 15:11] #114 closed

[2021-06-19 22:08] adirh3 commented on #67
This issue has been potentially fixed in version 0.9.85.80

[2021-06-19 22:08] adirh3 commented on #74
This issue has been potentially fixed in version 0.9.85.80

[2021-06-19 22:08] adirh3 commented on #105
This issue has been potentially fixed in version 0.9.85.80

[2021-06-19 22:16] Chance92 commented on #67
It is fixed indeed. Thank you!

[2021-06-19 22:16] #67 closed

[2021-06-19 22:41] Chance92 commented on #37
I am afraid the problem is back. The bottom pane keeps showing every time I invoke FS after a search, although the search results are hidden. I think the problem may be related to this one.
![bug](https://user-images.githubusercontent.com/85488695/122656954-1df6b700-d157-11eb-9f7b-d5ae4a175a1f.gif)

[2021-06-20 02:40] Nomad-0 commented on #74
I'm still facing it
![image](https://user-images.githubusercontent.com/76395594/122660397-1826c300-d1a3-11eb-9303-372acecc6728.png)

what about yours? @Metroid-Prime

[2021-06-20 02:42] Nomad-0 commented on #105
yes, fixed on my end. @kwanice, please confirm

[2021-06-20 02:44] Nomad-0 commented on #37
@Metroid-Prime can you reproduce as per @Chance92-s comment? I am not being able to reproduce it

[2021-06-20 05:31] Metroid-Prime commented on #37
No cannot replicate

[2021-06-20 05:31] Metroid-Prime commented on #105
Closing this as it's confirmed fixed by Nomad. @kwanice  if you're having the issue, please let us know and we can reopen

[2021-06-20 05:31] #105 closed

[2021-06-20 05:32] Metroid-Prime commented on #74
Same :(

[2021-06-20 05:34] Metroid-Prime commented on #13
Yes. See screenshot. I'm suspecting this has got to do with my settings. Is it dependent on any specific settings.
![image](https://user-images.githubusercontent.com/1836362/122663337-842b0c00-d14e-11eb-8a43-8e3ab9c3e53c.png)

[2021-06-20 05:39] Metroid-Prime commented on #5
I didn't see it this time.  @Nomad-0  what say yee? I'll close this and if we see it happening, reopen

[2021-06-20 05:39] #5 closed

[2021-06-20 05:41] Metroid-Prime commented on #14
TY @adirh3   I understand about Todo.

[2021-06-20 05:41] #14 closed

[2021-06-20 05:45] Metroid-Prime commented on #94
Works for me too
![image](https://user-images.githubusercontent.com/1836362/122663548-0e27a480-d150-11eb-9e04-7c67c7b116d7.png)

[2021-06-20 05:47] Metroid-Prime commented on #115
I continue to see this in the version before .80

[2021-06-20 05:50] Metroid-Prime commented on #4
I am reopening this issue as it's re-introduced from the right click "show" menu in v.80

[2021-06-20 07:04] kwanice commented on #105
@Metroid-Prime @Nomad-0
its fixed :)

[2021-06-20 10:23] kwanice commented on #94
yes now on last uptate its working again :)
thanks

[2021-06-20 11:23] Chance92 commented on #37
I reinstalled FS and I am still experiencing this bug. I hope I'm not the only one.

[2021-06-20 12:48] adirh3 commented on #74
@Nomad-0 the results with question mark are consistent? Or it changes randomly?

[2021-06-20 13:21] Nomad-0 commented on #74
It's random. Sometimes the results show question mark first and then change into the actual icon. Sometimes they don't

[2021-06-20 13:23] Nomad-0 commented on #37
could it be something on your settings? would you mind checking the issue with others on the discord server?

[2021-06-20 16:22] adirh3 commented on #13
Send me your settings please

[2021-06-20 17:14] Nomad-0 commented on #37
Ok, I think @Chance92 is right, I'm suddenly facing a glitch like this issue. When I invoke FS, the result window appears with it and closes (very very fast). It's not constant though, I tried multiple times and faced the glitch. However, in some instances, the window opens like the picture below when I invoke FS. It's not constant but reproducible with several tries.  I informed Adir, and the iss

[2021-06-20 20:31] adirh3 commented on #76
@hoshins Can you let me know how did you configure your proxy? Through Windows settings? FS should be using the default IE proxy

[2021-06-20 23:54] hoshins commented on #76
I just use proxy configuration by default IE proxy.

[2021-06-21 00:01] adirh3 commented on #36
This issue has been potentially fixed in version 0.9.85.85

[2021-06-21 00:01] adirh3 commented on #23
This issue has been potentially fixed in version 0.9.85.85

[2021-06-21 00:01] adirh3 commented on #74
This issue has been potentially fixed in version 0.9.85.85

[2021-06-21 00:01] adirh3 commented on #37
This issue has been potentially fixed in version 0.9.85.85

[2021-06-21 00:01] adirh3 commented on #115
This issue has been potentially fixed in version 0.9.85.85

[2021-06-21 03:12] Nomad-0 commented on #74
Seems like it is fixed!! @Metroid-Prime can you please check and confirm?

[2021-06-21 03:13] Nomad-0 commented on #37
@Chance92 `can you please check and confirm?

[2021-06-21 03:14] Nomad-0 commented on #23
yes, fixed on my end

[2021-06-21 03:23] Metroid-Prime commented on #36
Confirming & closing.
Looks beautiful
![image](https://user-images.githubusercontent.com/1836362/122702977-6d93bc00-d205-11eb-942b-9ed892d2bcb9.png)

[2021-06-21 03:23] #36 closed

[2021-06-21 03:24] Metroid-Prime commented on #74
Ugggggggh, no not fixed on my end :(
![image](https://user-images.githubusercontent.com/1836362/122703027-8a2ff400-d205-11eb-9d38-7ce73e6fdbde.png)

![image](https://user-images.githubusercontent.com/1836362/122703036-8ef4a800-d205-11eb-974a-98d13d4bda38.png)

[2021-06-21 03:26] Metroid-Prime commented on #23
Confirming fix & closing!

[2021-06-21 03:26] #23 closed

[2021-06-21 03:33] Metroid-Prime commented on #115
@adirh3  will need to wait until next version to confirm this has been fixed.

[2021-06-21 03:43] Nomad-0 commented on #74
I'm currently not facing it anymore. However, keeping it open for now

![image](https://user-images.githubusercontent.com/76395594/122704242-19282500-d275-11eb-9414-175a498a82be.png)

[2021-06-21 04:32] Metroid-Prime commented on #13
sent via discord PM @adirh3

[2021-06-21 04:54] MakeshVineeth opened #144 "Improve empty window of FS to be more productive"
When we have no processes opened and we try to launch FS without searching anything, it will display an empty window like this:

![2021-06-21](https://user-images.githubusercontent.com/19371684/122708471-e2084280-d279-11eb-88f5-c1f1468307d4.png)

But it is looking boring and it can be made more productive by including some useful information like the following:

- Display some useful tips at the *

[2021-06-21 05:18] MakeshVineeth opened #145 "Reduce tag description of chromium"
This is something that I and @Nomad-0 agreed upon. The tag description of chromium is too long and taking lot of space.

![2021-06-21 (1)](https://user-images.githubusercontent.com/19371684/122710101-3c56d280-d27d-11eb-82a0-a2d3ab12e45a.png)

**Tip:** Make it minimal like **"Search in Chromium Browsers"** or something along the lines. As @Nomad-0 have said, people will get used to `TAB` behavior e

[2021-06-21 05:23] MakeshVineeth opened #146 "Move Plugins window to FS Settings instead of separate window."
This is something I, @Nomad-0 and @Metroid-Prime agreed upon in our Discord chat earlier. As title says, it feels more consistent if the plugins window will be moved to FS Settings itself. You can name it something like **Plugins Manager**

[2021-06-21 05:32] Nomad-0 commented on #146
changing it to modification as it depends upon devs discretion

[2021-06-21 05:33] edenexposito commented on #144
Show Latest modified files and folders will be a GREAT improvement!

[2021-06-21 06:26] Nomad-0 commented on #144
yeah, this can be done when the window style is set to _full window_. Recent files can also be shown

[2021-06-21 07:55] adirh3 commented on #144
This is planned for next version

[2021-06-21 08:03] Chance92 commented on #37
Yes, it seems to be fixed in 0.9.85.85

[2021-06-21 09:42] christubuntu opened #147 "Use the same keyboard shortcut to show/hide preview"
**Is your feature request related to a problem? Please describe.**
Use same keyboard shortcut to show/hide preview.

**Describe the solution you'd like**
Ex. I use Ctrl+Enter to show preview, but I need to use Esc. to hide it. This requires shifting my fingers position.

**Describe alternatives you've considered**
If same shortcut was used, I wouldn't need to move fingers when previewing files.

[2021-06-21 09:50] hoshins opened #148 "Non english character broken in search bar (but ok in result)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate Fluent Search search bar
2. Enter non english character (eg. "한글" in Korean)
3. Entered character broken (displayed as square)

**Expected behavior**
Display non english character correctly.

**Screenshots**
I can't attach screenshot due to company's security poli

[2021-06-21 11:29] Nomad-0 commented on #148
Support for more languages will be added near/after release (version 1.0.0)

[2021-06-21 12:08] adirh3 commented on #76
Which parts of Fluent Search does not work for you? Updating version and plugins? Does the Translator plugin work for you?

[2021-06-21 12:30] hoshins commented on #76
Both are not work for me

[2021-06-21 12:58] MakeshVineeth opened #149 "Display File Indexer Status on FS Tray Icon"
It would be awesome if FS can display the File Indexer status on the FS Tray Icon.

- Indexer finished and ready to search: **Green** dot on the tray icon.
- Indexing is in progress: **Yellow** dot on the tray icon.

Just like Offline/Online status in Messengers. This can especially help users who deal with a lot of external storage devices on daily basis. We can get an overall idea just by lookin

[2021-06-21 17:15] adirh3 commented on #148
@hoshins Did you try changing the font to Korean font in Settings -> Appearance -> Font family?

[2021-06-21 17:45] Metroid-Prime commented on #149
I love this idea and support it wholeheartedly!!  I have a question and a suggestion:

Question:  how long does it take to index? It feels like FS does it within a few seconds.

Suggestion:
Indexer finished and ready to search: Green dot on the tray icon.
Indexing is in progress: Yellow dot on the tray icon.
Something went wrong with indexing (?):  Red dot on tray icon

[2021-06-21 17:49] Metroid-Prime commented on #146
As mentioned, I agree with this. Having plugins compartmentalized into the settings would be 1 less place for users to go.
I also recommend removing the plugins window and tiny menu icon altogether when or if it's embedded as plugins manager in FS settings.

Concur with @Nomad-0  that this is at @adirh3  's discretion but  I agree with @MakeshVineeth  that it's good design.

[2021-06-21 19:37] adirh3 commented on #146
The plan is to make the plugins eco system richer by having more plugin types like previews, workflows, custom files operations, etc.
I believe this will make people look for plugins much more, so opening the settings for them would be inefficient IMO.

[2021-06-21 20:32] Metroid-Prime commented on #146
Sounds good. Can't wait!  @MakeshVineeth  should we close this as wontfix?

[2021-06-21 20:43] hoshins commented on #148
I did it but not works

[2021-06-22 01:53] Nomad-0 commented on #148
@adirh3 should I label it as a bug?

[2021-06-22 02:00] Nomad-0 opened #150 "A minimize button on Settings window"
When I have FS as always on top, sometimes it's hard to do other things while keeping the settings open. I have to close the settings in this case. A minimize button on settings would be helpful for scenarios like this.

[2021-06-22 02:18] MakeshVineeth commented on #146
Sounds awesome, looking forward to it 😃 @Metroid-Prime Yes we can close this now.

[2021-06-22 02:18] #146 closed

[2021-06-22 02:21] MakeshVineeth commented on #149
Yes FS takes a few seconds. But I guess that depends on amount of storage and number of files too. Would be awesome to have this status on tray icon 👌

[2021-06-22 03:43] MakeshVineeth commented on #150
Nice, it's essential to have a **Minimize** button for such windows. Here's my upvote 👍

[2021-06-22 06:31] Metroid-Prime commented on #83
Still happening in latest version .85

![image](https://user-images.githubusercontent.com/1836362/122875161-bff9d900-d2e8-11eb-839d-ad9393498518.png)

[2021-06-22 06:43] Metroid-Prime commented on #16
Unfortunately this broke in .85. No changes were made to settings and it's no longer functioning. I can't even find the setting anymorre.

[2021-06-22 06:44] #16 closed

[2021-06-22 06:46] Metroid-Prime commented on #150
Can't believe we didn't think about this before. So much to do!
Have my upvote.

[2021-06-22 15:01] adirh3 commented on #148
There is no support for many languages, sometimes I forget which.
As you said the support will be added near version 1.0.0.

[2021-06-22 15:04] adirh3 commented on #4
This is intentional, I am going to change the name of the setting to reset search on hotkey and put it per hotkey setting.

[2021-06-22 15:04] #4 closed

[2021-06-22 16:13] Nomad-0 commented on #148
oh, I thought this one was added. I'm labeling it as enhancement then.

[2021-06-22 21:18] KibSquib48 opened #151 "Feature Request: Inline web search results preview"
I think it would be really nice to have web search engine results show up on the right side of the window, like how the current official windows search flyout does

[2021-06-23 03:08] Nomad-0 opened #152 "Prioritization might not be working"
**Describe the bug**
currently facing an issue that apps are below the file results though it is given more priority in settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up prioritization for a result type
2. search for the result

**Expected behavior**
the most prioritized result should show at the top if the context is matched

**Screenshots**
![image](https://user-images.githu

[2021-06-23 09:09] wxydejoy opened #153 "Search box cannot display Chinese"
![Snipaste_2021-06-23_17-07-26](https://user-images.githubusercontent.com/81625961/123069634-8985a080-d445-11eb-9657-22a9919fbe76.png)
In addition, I would like to have a Chinese version

[2021-06-23 09:12] wxydejoy commented on #153
In addition, I suggest that you can feedback suggestions in the software instead of the browser, which is more efficient

[2021-06-23 09:27] christubuntu opened #154 "Req. Drag and drop from preview window"
**Is your feature request related to a problem? Please describe.**
I would like a way to drag files/folders from the preview window

**Describe the solution you'd like**
Dragging a file/folder from the preview window onto another process (File Explorer, Website, etc.)

**Additional context**
I know I can simply open the containing folder and drag from Windows explorer, but I think doing so FS sear

[2021-06-23 13:08] Nomad-0 commented on #153
adding it as duplicate as it seems similar to issue #148 . Please check and let me know if you disagree.

[2021-06-23 18:17] adirh3 commented on #13
@Metroid-Prime Is your "Settings Search" active? In Settings -> Settings Search -> Enable Application?

[2021-06-23 19:07] adirh3 commented on #118
@Metroid-Prime It's by design, it's taking into account the height of the search results that will show, if you start searching you will see that it's opened in a position that it covered the least of the file dialog while not hiding any part of FS

[2021-06-23 19:17] Metroid-Prime commented on #74
I'm able to reproduce this on a second computer:
![image](https://user-images.githubusercontent.com/1836362/123155375-e7ea5900-d41c-11eb-8bd8-9dd489d22bcc.png)

However, it should be noted they both run LTSC 2019  (v1809  17763.1999) and have similar system configurations, but they are not clones.

[2021-06-23 19:22] Metroid-Prime commented on #13
This is working on a different computer with a non-tuned portable  install.

I wonder if it's because I have so many things with the name "settings" inside them that it's pushing it to the bottom (below 30th result) and that's why I'm not seeing it?

I'll check for that setting when I get home later.

[2021-06-23 19:34] adirh3 commented on #74
Oh, it's 1809, there is a known issue in that version.
Sorry I forgot Nomad created the issue.

Will update here once it's solved.

[2021-06-23 23:12] adirh3 commented on #73
This issue has been potentially fixed in version 0.9.86.1

[2021-06-24 02:11] Nomad-0 commented on #73
If I select a file, press `f2` to rename and after renaming, press enter- the file gets deleted!!

[2021-06-24 02:21] Nomad-0 commented on #73
I found the bug. after renaming, I have to press f2 again. If I press anything else the file either gets opened or deleted. Is it by design?

[2021-06-24 04:30] rsmyst opened #155 "[FR] Calculator plugin takes in standard characters like x for multiplication and so on"
Often time, when using fluent search for minor multiplications, I am forced to use symbols like * for multiplying values like in programming languages instead of the standard x which I use in the windows search bar and practically every other place.

The calculator plugin should automatically also consider values x to mean multiplication like every browser and search engines do.
Example screenshot

[2021-06-24 04:43] MakeshVineeth opened #156 "Display Web icon for Bookmarks/History when a default icon is not available."
Sometimes, Icons won't be available for some bookmarks/history items. Either it is can be a browser issue or the website itself is no more. In such scenarios, FS will display a <img src="https://docs.microsoft.com/en-us/windows/uwp/design/style/images/segoe-mdl/e9ce.png" height="20" align="center"></img> icon like below:

![2021-06-24](https://user-images.githubusercontent.com/19371684/123203145-8

[2021-06-24 06:08] Mr-Frankenstein opened #157 "Tag description shouldn't show when Minimal User Interface is turned on"
**Describe the bug**
 Tag description shouldn't show when Minimal User Interface is turned on.

**To Reproduce**
Steps to reproduce the behavior:
1. Search something
2. See Tag description

**Screenshots**
![image](https://user-images.githubusercontent.com/85425543/123210693-ff3e4a80-d4df-11eb-9dde-4a6a88875473.png)

**Desktop (please complete the following information):**
 - Windows 10 Version: 2

[2021-06-24 06:18] Mr-Frankenstein opened #158 "Web suggestions are not working"
**Describe the bug**
My web search suggestions are not working but sometimes when I'm typing the last letter of a word it shows. It's not constant.

**To Reproduce**
Steps to reproduce the behavior:
1. Use any web search tag.
2. Search something
3. See error

**Expected behavior**
Web suggestions should show.

**Screenshots**
![image](https://user-images.githubusercontent.com/85425543/123212148-09

[2021-06-24 07:16] Metroid-Prime commented on #156
Is this a duplicate or related to issue  #74?

[2021-06-24 07:43] kwanice opened #159 "Sort in order the FS result"
**Describe the solution you'd like**
would like to be able to sort in order, alphabetically for example or numeric maybe, the result of FS

thanks :)

[2021-06-24 08:56] rsmyst opened #160 "Occasional Lag spikes when using fluent search"
I attend classes all morning. So, when I have something like google meet running in the background and use fluent search, the typing kinda skips over some letters. I mean that all letters appear but some letters don't pop up continuosly. It just appears suddenly with the next letter instead of appearing individually letter by letter if you get what I mean.

**Expected behavior**
No lag spikes

**D

[2021-06-24 08:58] adirh3 commented on #160
@rsmyst Can you check if using "Disable instant search" fixes the issue?
In Settings -> In-app search

[2021-06-24 09:40] MakeshVineeth commented on #156
I don't think so, the issue you've linked is a bug in FS itself whereas the issue I've proposed is an enhancement to existing default behavior. As @adirh3 has mentioned previously, Fluent Search will take those website icons from Browser itself, and when it's not available, it will show that <img src="https://docs.microsoft.com/en-us/windows/uwp/design/style/images/segoe-mdl/e9ce.png" height="20"

[2021-06-24 09:49] MakeshVineeth commented on #160
I must say even I'm facing this, but didn't report it earlier, as I thought that lag is because of my potato system 😅 Looks like disabling instant search made it bit better but not perfect.

[2021-06-24 12:08] rsmyst commented on #160
I attended a zoom session and tried fluent search and would like to confirm that, it does in fact still lag then. It misses up to 4-6 characters
Something else I noticed was soon after I restarted, I waited for FS to open and elevate to admin.
After that, I launched it with the shortcut but after typing around 30-40 characters in quick succession, it just crashed.

[2021-06-24 12:14] scheduardo opened #161 "I can't open it"
**Describe the bug**
It crashes on starting.

**To Reproduce**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - Windows 10 Home Single Language 21H1
 - Fluent Search Version 0.9.86.0

**Additional context**
Nome do aplicati

[2021-06-24 12:15] adirh3 commented on #161
Thanks @scheduardo can you check if there is another event viewer entry please?

[2021-06-24 12:20] rsmyst commented on #160
That didn't help me, unfortunately.. Maybe marginally...

[2021-06-24 12:34] adirh3 commented on #160
@rsmyst @MakeshVineeth can you check if disabling Settings -> Processes -> Search in app content helps?
Thanks

[2021-06-24 12:50] scheduardo commented on #161
https://www.loom.com/share/f3dc10594cd448ff8708b2c548178e5b

[2021-06-24 14:05] adirh3 commented on #160
Upon launching Fluent Search for the first time or just opening it with default shortcut?

Also, I don't think the input delay issue is related to CPU spikes unless they're near the 100%, if Fluent Search causes CPU spikes when it's running in the background then something is wrong.

I will try checking with other users on Discord if any have similar issue and then we might find the root cause.

[2021-06-24 14:08] adirh3 commented on #161
OK got it thanks, this is something that's something that is already fixed in the nightly version and will be available for all soon.

If you'd like you can install the nightly version from here, it's very stable -
https://install.appcenter.ms/users/adirh3-gmail.com/apps/fluent-search-alpha/distribution_groups/exe

[2021-06-24 14:55] rsmyst commented on #160
Okay clarification. Opening it with shortcut and not for first time. It happens when opening it suddenly after a good amount of break since the last use of fluent search.
FS is not causing spikes while in Background. Only when using the shortcut and searching something.

[2021-06-24 15:11] MakeshVineeth commented on #160
Disabling process search doesn't help me much with speed. But it looks like the lags are caused only when FS has to generate different set of results. When I search using a specific tag e.g. settings or chromium, it doesn't seem to lag for me. @rsmyst Can you confirm the same?

[2021-06-24 16:12] rsmyst commented on #160
Yea I think I noticed something similar as well. I had previously chalked it up to random stutters but maybe it's generating new results that causes it. A massive cpu spike for 2 seconds

[2021-06-25 12:27] HobbesKo opened #162 "Operations Pane Closes on Mouse Over"
**Describe the bug**
The operations pane closes when the mouse pointer enters the operations pane and goes below the first item

**To Reproduce**
1. Move mouse pointer into operations pane
2. Move pointer below the first item ('Open')

**Expected behavior**
Operations pane stays open to allow selection of an operation

**Desktop (please complete the following information):**
 - Windows 10 Pro Vers

[2021-06-25 15:35] tranquilknight opened #163 "Opening Fluent Search opens a tiny transparent window"
**Describe the bug**
Opening the app creates a transparent window. Doesn't matter if it's from the tray or via the hotkey.

**To Reproduce**
It happened a couple of times randomly. I cannot pinpoint what triggered this, so I cannot reproduce it.

**Expected behavior**
I could not move or interact with the window. Clicking on it popped a thicker border at the top. This window stays above every othe

[2021-06-25 19:52] hpr1999 opened #164 "Setting Categories should not be deselectable"
## Summary
In the settings UI, it's possible to deselect the current category in the tree view, resulting in a state where there's no indication which category we're looking at on the left.

**Low-Priority.**

## To reproduce
1. Open FS
2. Open Settings ("Appearance is now selected by default")
3. Click Appearance while it's still active (indicator in accent color).
4. Now Appearance is still open

[2021-06-25 20:00] hpr1999 opened #165 "Settings-Search description disappears"
## Summary
On a Settings-Search result, the description disappears when changing focus to the "action-area".

## To Reproduce
Steps to reproduce the behavior:
1. Open FS
2. Search for a Settings-Item, example query "go to next process"
3. Hit right arrow key
4. The description vanishes

## Expected behavior
The description should stay visible.

## Screenshots
After 2):
![image](https://user-images

[2021-06-26 00:04] adirh3 commented on #160
@rsmyst Let me know if you notice any improvements in 0.9.87.0

[2021-06-26 04:33] rsmyst opened #166 "Option to disable screen search"
**Is your feature request related to a problem? Please describe.**
I would like for an option to disable the screen search to be implemented. I often time find myself opening the screen search accidentally and it gets annoying quickly. Thanks.

[2021-06-26 06:05] kwanice opened #167 "CLIPBOARD - deleted one item, restart FS and it appear again :)"
**Describe the bug**
When we close and restart FS, the item from the clipboard we have deleted, appear again

**Desktop (please complete the following information):**
 - Windows 10 Version: 21390
 - Fluent Search Version: 0.9.87

[2021-06-26 13:22] Nomad-0 commented on #166
Are you having trouble accidentally pressing the hotkeys? If that's the problem, you can just remove the hotkeys from settings>search applications>screen
![image](https://user-images.githubusercontent.com/76395594/123514246-c6ef6580-d6b3-11eb-9ed4-9447555a9fc2.png)

[2021-06-26 22:11] cannibalox opened #168 "[Preview] enable preview for audio files"
I would love to be able to preview audio files with the native previewer.
related formats : .wav, .mp3, .ogg , .aif/.aiff, .mid, .flac, .mpc, .ape

[2021-06-26 22:14] adirh3 commented on #161
@scheduardo It's been fixed on the latest version, you can download from here - https://fluentsearch.net
Let me if it's working for you, thanks!

[2021-06-27 01:43] cannibalox opened #169 "[0.9.88.0] Preview : images are scaled to fit the width causing them to be cropped"
in 0.9.88.0, the native preview scales images so that their width is filling the FS window.
This behavior makes images to be cropped and/or appear pixelated (for small images)

related pic:
![image](https://user-images.githubusercontent.com/4605693/123530374-c5e12700-d6f9-11eb-9203-461565e129c2.png)

expected behavior : images should entirely fit inside the FS window by default, with an appropriat

[2021-06-27 06:45] lucius346346 opened #170 "Chromium searches don't work"
Chromium searches don't seem to work for me at all. I've checked paths to both Chrome and Edge - they are correct.

 - Windows 10 Version: 20H1
 - Fluent Search Version 0.9.88.0 (same with previous version)

[2021-06-27 06:57] #73 closed

[2021-06-27 10:04] hpr1999 commented on #170
I think I used to have this issue when the profile I used wasn't Chromium's `Default` profile, but instead named something like "Profile 1" or whatever. Maybe you could add some information / screenshots of your Chromium paths and how the directories look so adir has a chance to check?

[2021-06-27 10:05] christubuntu opened #171 "clicking on "restart computer" cmd crashes FS"
**Describe the bug**
Clicking on "restart computer" cmd crashes FS

**To Reproduce**
Steps to reproduce the behavior:
1. Open FS
2. Search for "restart computer"
3. Pin the result by clicking on it or doing Alt+P
4. FS crashes and disappears from the system tray. You have to launch FS again.

**Expected behavior**
The result should be pinned

**Screenshots**

https://user-images.githubusercontent.

[2021-06-27 10:10] christubuntu opened #172 "Scroll bar masking the pin result icon"
**Describe the bug**
Pin result icon and scroll bar are too close together, making pinning results a little hard

**To Reproduce**
Steps to reproduce the behavior:
1. Open FS and input search keyword
2. Hover the mouse over the pin icon (go from right to left)
4. The scroll bar makes it hard to click on the pin icon

**Expected behavior**
The pin icon should be offset a little to the left

**Scree

[2021-06-27 10:23] lucius346346 commented on #170
It's C:\Users\lucius\AppData\Local\Microsoft\Edge\User Data\Default

I even clean installed Chrome, same result.

[2021-06-27 10:35] adirh3 commented on #170
Might be asking the obvious, but are the Chromium app and configurations enabled? (Look for the enable application and in the Chromium apps paths table there is Enabled column)

[2021-06-27 10:43] lucius346346 commented on #170
These are settings I'm using.
![Screenshot](https://user-images.githubusercontent.com/43910504/123541483-1fbb0e80-d745-11eb-927f-a6528f68488b.png)

[2021-06-27 19:43] #166 closed

[2021-06-27 19:57] adirh3 commented on #158
@Nomad-0 Can you reproduce it? @Mr-Frankenstein any chance is due to your internet?

[2021-06-27 20:12] adirh3 commented on #170
@lucius346346 Do you have "Send crash diagnostic" on in Settings -> System?
Also, can you check if it does not find anything when using either of the supported tags? `chromium` `history` `bookmarks`

[2021-06-27 22:43] tomasts248 opened #173 "Windows 7 support?"
Do note that running portable version in W7 may cause the process to replicate till eventually crashing Windows, well I managed to terminate all process with ProcessHacker before that happened. If no support for Windows 7 is planned/added at least there should be a warning and the program should terminate itself instead.

[2021-06-27 22:47] adirh3 commented on #173
@tomasts248
Sorry about the inconvenience, I will change it to not run in-case the OS version is not supported.
Support for Windows 7 got broken a few versions ago, I might bring it back if enough people will be interested in that.

[2021-06-27 22:54] MrFastZombie opened #174 "Double hotkeys no longer work after latest stable build"
**Describe the bug**
After updating it seems that hotkeys to open the search window like ctrl + ctrl no longer work, but something using differing keys such as ctrl+space works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Set search window hotkey to something like ctrl + ctrl
2. Try to open it with the hotkey

**Desktop (please complete the following information):**
 - Windows 10 Ve

[2021-06-27 23:03] tomasts248 commented on #173
Well I'm definitively interested and hope more people are as well, question may I download and older version then to try it out? which one should run on W7? I just find out about your app recently, been using Everything portable but as I read it has integration with it, which is great.

[2021-06-27 23:06] adirh3 commented on #173
I don't think I even got that version saved; I will see tomorrow if there is a quick way to make it work on Windows 7 again.
Note that even if it will run on Windows 7 it will miss some features that uses Win10 APIs.

[2021-06-27 23:13] tomasts248 commented on #173
Okey! thank you  ;-)

Which features may that be? more or less?

[2021-06-27 23:47] adirh3 commented on #165
This issue has been potentially fixed in version 0.9.88.1

[2021-06-27 23:47] adirh3 commented on #169
This issue has been potentially fixed in version 0.9.88.1

[2021-06-27 23:47] adirh3 commented on #172
This issue has been potentially fixed in version 0.9.88.1

[2021-06-27 23:47] adirh3 commented on #143
This issue has been potentially fixed in version 0.9.88.1

[2021-06-27 23:47] adirh3 commented on #171
This issue has been potentially fixed in version 0.9.88.1

[2021-06-27 23:47] adirh3 commented on #162
This issue has been potentially fixed in version 0.9.88.1

[2021-06-27 23:47] adirh3 commented on #174
This issue has been potentially fixed in version 0.9.88.1

[2021-06-28 00:30] Nomad-0 commented on #158
I tried, working fine in my end

[2021-06-28 00:33] Nomad-0 commented on #165
solved on my end, can you please validate? @hpr1999

[2021-06-28 00:34] Nomad-0 commented on #169
can you please validate? @cannibalox

[2021-06-28 00:35] Nomad-0 commented on #172
@christubuntu can you please confirm if the issue is solved?

[2021-06-28 00:36] Nomad-0 commented on #143
@kwanice can you please confirm if the issue is solved?

[2021-06-28 00:36] Nomad-0 commented on #162
@HobbesKo can you please confirm if the issue is solved?

[2021-06-28 00:36] Nomad-0 commented on #171
@christubuntu can you please confirm if the issue is solved?

[2021-06-28 00:37] Nomad-0 commented on #174
@MrFastZombie can you please confirm if the issue is solved?

[2021-06-28 00:49] Nomad-0 opened #175 "Search bar only settings keep showing Home screen"
While the new **Home Screen** is a great feature, it can be somewhat uneasy for minimalistic UI users. I think it would be great if the **Home Screen** is togglable or limited to **Full Window** style as that'll be more convenient to the name.

[2021-06-28 01:08] MrFastZombie commented on #174
Yes that seems to have fixed it. Thanks for the quick response!

[2021-06-28 01:08] #174 closed

[2021-06-28 02:04] cannibalox commented on #169
fixed in 0.9.88.1

[2021-06-28 02:04] #169 closed

[2021-06-28 02:10] cannibalox opened #176 "Quicklook Preview : doesn't auto update on file change"
**Describe the bug**
If the File Preview provider is set to Quicklook, when I invoke the preview windows (shift+enter or shift+space in my case), then use arrow u/d to select another file in the main FS window, the Quicklook preview doesn't show the newly selected file, it displays the first image that was selected.

the preview auto-updates to show the selected file when the File Preview Provider

[2021-06-28 05:17] hpr1999 commented on #165
I'll try to validate this evening.

[2021-06-28 06:28] lucius346346 commented on #170
It was turned off. I switched it on.

These tags shows nothing, but strangely I've noticed bookmarks and history finds "git.exe" from Program Files after I type "git".

Also, I've installed FS on my work machine. It also doesn't work. Same version of Windows.

[2021-06-28 07:54] #143 closed

[2021-06-28 08:05] christubuntu commented on #171
Fixed

[2021-06-28 08:05] #171 closed

[2021-06-28 08:07] christubuntu commented on #172
Fixed

[2021-06-28 08:07] #172 closed

[2021-06-28 08:56] lucius346346 opened #177 "App icons in results are too small"
Most app icons appear to be too smal. They are rendered as tiny dots.

![Screenshot_1](https://user-images.githubusercontent.com/43910504/123608688-42116280-d7ff-11eb-82af-b4c89eff0283.png)

[2021-06-28 09:44] HobbesKo commented on #162
Looking good my end. Nice one, thanks.

[2021-06-28 09:47] #162 closed

[2021-06-28 09:48] adirh3 commented on #162
Yes it should be possible, working on my machine.
If it's not for you can reopen this, thanks :)

[2021-06-28 09:59] Mr-Frankenstein commented on #158
This issue is fixed on the latest version.

[2021-06-28 10:03] adirh3 commented on #158
Nothing changed but it can fail due to it using the internet

[2021-06-28 10:03] #158 closed

[2021-06-28 10:07] adirh3 commented on #161
Closing it feel free to reopen if it's still not working

[2021-06-28 10:07] #161 closed

[2021-06-28 10:30] scheduardo commented on #161
It's working. Tks.

Em sáb., 26 de jun. de 2021 19:14, Lighto ***@***.***>
escreveu:

[2021-06-28 11:22] Nomad-0 commented on #177
issue confirmed. I guess it's related to software located on program files x86 folder

[2021-06-28 11:29] Nomad-0 opened #178 "Results are invisible on list"
**Describe the bug**
Sometimes the results don't appear on the result list. However, they are there as arrow keys can be moved and they are shown on the operations pane. It's not consistent but reporducable
![image](https://user-images.githubusercontent.com/76395594/123629424-18bff900-d836-11eb-84e5-dafef2942a2f.png)

**To Reproduce**
It's not constant. Simply searching causes it some times

**Exp

[2021-06-28 11:30] Mr-Frankenstein commented on #178
It happens to me too

[2021-06-28 11:38] lucius346346 commented on #178
In my case it happens only when grouping option is enabled.

[2021-06-28 14:45] MakeshVineeth opened #179 "Searched Text overlapping with Search Bar Icon"
**Bug Description**
The screenshot says it all. Occasionally, the searched text will be glitched and appear on top of the search icon. Maybe it is due to that huge line of tag description.

**Steps To Reproduce**
1. Try to search for a folder that has a very large file path.
2. The tag description should be really huge.
3. See the text and icon overlapping issues.

**Expected behavior**
The text s

[2021-06-28 14:46] HobbesKo commented on #178
I have this issue also.
Mouse over the operations pane shows the 'missing' results.

[2021-06-28 16:19] Mr-Frankenstein opened #180 "The Unpin action doesn't highlight"
**Describe the bug**
The Unpin in the home screen doesn't high like the other shortcuts.

**To Reproduce**
Steps to reproduce the behavior:
1. Pin a result to the home screen
2. Right-click on the result
3. Hover mouse over the Unpin action
4. See error

**Expected behavior**
Unpin should highlight like the others

**Screenshots**
https://user-images.githubusercontent.com/85425543/123670273-a8779e

[2021-06-28 18:14] hpr1999 commented on #165
I was a bit confused until switching to the nightly feed - can now confirm that this no longer occurs.

[2021-06-28 18:14] #165 closed

[2021-06-28 21:51] hpr1999 opened #181 "Supply Plugin-Developer-Documentation on Github via wiki or markdown file(s)"
These suggestions are obviously contingent on the fact, that the goal is even a real goal for @adirh3, which is something I don't know for sure.

### Goal
Increase the chance of open source contributions in the form of plugins.

### Current Situation
As far as I know, the only guidance to plugin development is [this blog post](https://fluentsearch.net/posts/c-plugins-developer-guide), which is als

[2021-06-28 21:53] hpr1999 commented on #181
Btw @adirh3, I didn't open this because I think your docs are so bad or because I think you're not putting enough effort into them, but because I thought it might be useful to have a way to collect possibilities for improvement in a structured way 😅

I think docs are always a long term issue

[2021-06-28 22:21] Gremious opened #182 "Jump to last-focused folder directory if a windows folder/file-selection dialogue is open"
**Is your feature request related to a problem? Please describe.**

Listary hijacks a select window dialogue a bit - when you click things like "save image" or "open file" in whatever app, and the generic Windows file/folder selection dialogue opens - if you focus a currently open explorer folder (e.g. alt-tab to it), then switch focus back to the dialogue, Listary automatically changes the dialog

[2021-06-29 01:55] Nomad-0 commented on #182
Hello, can you please go to settings>advanced>context and toggle the "**copy context to file dialogs**" on and see if that fulfills your need?

[2021-06-29 04:52] Mr-Frankenstein opened #183 "Increase start menu drag and drop area"
In the start menu, I can only drag and drop results on top of other pinned results.
(From **recent** to **pinned**)

https://user-images.githubusercontent.com/85425543/123739108-bad9f280-d8c3-11eb-97ea-e44b7186b817.mp4

I should be able to drag and drop on the right side of the pinned results.

[2021-06-29 04:54] Mr-Frankenstein opened #184 "Hotkeys for pinned results"
It would be great if there are hotkeys for pinned results in the start menu.

[2021-06-29 04:56] Nomad-0 commented on #184
Good idea

[2021-06-29 04:56] Mr-Frankenstein opened #185 "Result type should not show in Home Screen"
Result type should not show in the Home Screen when Minimal User Interface is turned on

[2021-06-29 05:39] samwzlim commented on #18
I separate my Windows machine into 2 user accounts, work and personal. It would be great to have an auto backup/sync feature so I don't have to manually make changes on each account whenever I switch between user accounts!

[2021-06-29 08:16] MakeshVineeth commented on #160
I'm still facing that text lag when I'm typing too fast i.e., each letter will appear with a delay as mentioned in OP. Version 0.9.88.1

[2021-06-29 08:21] adirh3 commented on #160
Can you check if this is related to a specific setting?
Try disabling each search app and see if it changes anything.
Also, do you have adaptive color on?

[2021-06-29 08:33] MakeshVineeth commented on #160
It seems like Files search is the one that's causing the text lag. After I disable it, and try to type fast, I no longer face that lag. Also, I don't have adaptive color on.

[2021-06-29 08:40] tranquilknight opened #186 "Some settings revert back to defaults after a reboot"
**Describe the bug**
After the recent app update (0.9.86 >0.9.87.1) from Microsoft Store. Some settings are reverting to defaults after a reboot. Closing the app does not affect these settings.

**To Reproduce**
Change hotkeys and, the option to start minimized at startup. These options revert to their original values.

**Expected behavior**
Changed settings should not revert after a reboot.

**De

[2021-06-29 09:06] HobbesKo opened #187 "Window Startup Position - Settings Window Not Behaving"
**Describe the bug**
Setting Window startup position to 'Last position' has the settings window open on the left of the screen, which is not where it last was.

**To Reproduce**
Steps to reproduce the behavior:
1. Set window startup position to 'Last position'
2. Open settings

**Expected behavior**
The settings window opens in the position it was last at.

**Desktop (please complete the following

[2021-06-29 10:37] lucius346346 commented on #170
Update: It doesn't work on Windows 11 either. Maybe it's related to system locale?

[2021-06-29 10:49] adirh3 commented on #170
Interesting, can you ping me on Discord later today?

[2021-06-29 11:20] rsmyst commented on #160
It doesn't seem too much smoother to me personally even in this version

[2021-06-29 11:22] rsmyst commented on #160
too bad we can't disable file search since that's the point of the app...
Good luck for fixing it! Take your time!

[2021-06-29 11:36] Gremious commented on #182
It does! This is exactly the functionality I was looking for
My appologies for not scouring the settings hard enough (=

[2021-06-29 11:36] #182 closed

[2021-06-29 12:25] adirh3 commented on #160
@rsmyst @mv you guys have SSD or HDD?

[2021-06-29 12:26] MakeshVineeth commented on #160
SSD

[2021-06-29 13:25] rsmyst commented on #160
512 gb SATA SSD

[2021-06-29 14:12] cannibalox opened #188 "the right info tip sometimes overlaps the searchterm and tag (when paths are long)"
**Describe the bug**

![FluentSearch_Fluent_Search_20210629_mVtQ8NX9aN](https://user-images.githubusercontent.com/4605693/123812511-7155cb80-d8f4-11eb-80d8-3682c93783db.png)
when the right info tip if too long due to long paths, it overlaps the search term and `pushes` the user-input over the tag

[2021-06-29 14:14] cannibalox opened #189 "issue with folder previews (fixed number of columns instead of reflow)"
the folder preview should reflow instead of having a fixed max number of columns (go from 5 to 1 column) ?

![20210629_NUC8_zbyslEEnTN](https://user-images.githubusercontent.com/4605693/123813196-fe008980-d8f4-11eb-8342-204b8db3f244.gif)

[2021-06-29 15:23] MakeshVineeth opened #190 "Fluent Search UI glitches occasionally"
**Describe the bug**
The screenshots says it all. The UI glitches in a weird manner. Even though it happens randomly, I faced it quite a number of times. Feel free to change the title of this issue to a suitable one, right now, I can't think of any suitable title.

**Probable Steps to Reproduce**
1. Make sure `Always clear search tags` option is **disabled**.
2. Enable `Hide when losing focus` and

[2021-06-29 15:33] MakeshVineeth commented on #160
@adirh3 Just now I faced something weird and thought I'd like to share. Looks like FS has caused massive CPU hikes. So much that rest of the system has become slower temporarily, even the typing has become slower in rest of the applications. This has happened to me twice today: Once when launching the FS for the first time, and once in the background. I did not check the Task Manager but I could t

[2021-06-29 15:48] adirh3 commented on #160
It's due to In-app search try disabling it.
On startup it's slow and it's a known issue, it will improve over time.

[2021-06-29 16:12] MakeshVineeth commented on #144
These are the combined suggestions for the new home screen feature. Posted by me, HPR and Najah on Discord. Just posting it here altogether for a quick overview.

- UI can be improved, right now, it looks bit too plain.
- Some of the results under Recent has Edit in the Right-Click Menu but it does nothing as of now. (Mainly Bookmarks)
- Microsoft Edge has no icon, I guess it's the old one that Mi

[2021-06-29 16:15] adirh3 commented on #173
@tomasts248
I have been trying for a few hours, but unfortunately it seems that will require more work, probably days to create a different version that can run on non-Windows 10/11.
This is mainly because I am using many frameworks built only for Windows 10 by Microsoft.

Sorry, but since there are more critical bugs to fix, this is not prioritized unless I see more users with this requirement.

[2021-06-29 16:55] Metroid-Prime commented on #173
7 > 8 > 10 > 11

We're about 4 versions behind with Windows 7, which was released in 2009!  Even Apple who is legendary for supporting old systems typically retires support for system software that old.    I don't see an easy fix to this as the frameworks are windows 10 based.

@tomasts248   I am closing it. If you have any comments or feel strongly, feel free to reopen.

[2021-06-29 16:55] #173 closed

[2021-06-29 17:36] adirh3 commented on #186
@MrparM does it happen for you when you close FS safely using the system tray icon?

I fixed a similar issue in `0.9.88.1` which is a nightly version.
If you'd like you can check it by using the portable/exe version (it won't interfere with the Store version)

[2021-06-29 17:56] MrparM commented on #186
No. It does not happen after closing from system tray. Only a reboot affected settings.

[2021-06-29 18:00] adirh3 commented on #186
When you reboot, do you force apps to close?
Fluent Search needs to close safely to save settings right now.

In the next version I changed it to save settings automatically when you change them.

[2021-06-29 18:01] Najah101 opened #191 "Max Search Results should not work on tags"
Max Search Results should not work when using a tag. I use group results, so I set my Max Search Results to 5 because if I don't the search results will get so cluttered. But when I use a tag there is a lot of empty space because of that.

![image](https://user-images.githubusercontent.com/85425543/123844711-f959c680-d930-11eb-8288-43fbb4e873b4.png)

I think this will be useful for people who use

[2021-06-29 18:08] MrparM commented on #186
Not really. Sometimes it is Steam, other than that there isn't anything.

[2021-06-29 18:10] adirh3 commented on #186
Ok thanks for the input, this will be improved in the next version.

[2021-06-29 19:26] adirh3 commented on #185
Seriously I don't understand how you guys understand what's what

[2021-06-29 19:30] adirh3 commented on #181
It's ok I KNOW the docs are bad.
I didn't see much engagement from developers yet, but I plan to eventually have a whole website/wiki dedicated for developers once I get the plugins implementation right.

[2021-06-29 19:47] hpr1999 commented on #181
No way of knowing for sure (and it's not like I have a ton of experience to back this up), but this might be a circular problem.
I suspect that widespread developer engagement depends on knowing that developer engagement is wanted, possible and convenient (in addition to the need for developers in the user base).

[2021-06-29 20:01] adirh3 commented on #177
@lucius346346 Does it not look like that in Explorer?

[2021-06-29 22:20] adirh3 commented on #138
I'd suggest you disabling "Top most" in settings

[2021-06-29 22:25] adirh3 commented on #118
@kwanice Closing this feel free to reopen if you have any suggestion

[2021-06-29 22:25] #118 closed

[2021-06-30 00:29] adirh3 commented on #185
This issue has been potentially fixed in version 0.9.88.2

[2021-06-30 00:29] adirh3 commented on #189
This issue has been potentially fixed in version 0.9.88.2

[2021-06-30 06:17] kwanice commented on #118
@adirh3 for me, the option `next to current process` should help us to get FS search engine with open box/save as box and all similar...
But if the size of FS is too big (with the recent and pin app etc...) it cant be showed properly.
If we reduce the size of FS to be showed at the bottom of the windows, the next time i open FS, the windows for the search will be too small.

So,
the size of FS sho

[2021-06-30 06:36] lucius346346 commented on #177
It seems that they look OK till medium setting in Explorer. They have this margin around them after that.
![Screenshot_1](https://user-images.githubusercontent.com/43910504/123913068-15d02000-d97e-11eb-9b0b-2a7c8853404b.png)
![Screenshot_2](https://user-images.githubusercontent.com/43910504/123913072-1668b680-d97e-11eb-8c51-0a74e1c3be8d.png)
![Screenshot_3](https://user-images.githubusercontent.co

[2021-06-30 12:16] cannibalox commented on #189
thank you for the fix !

[2021-06-30 12:16] #189 closed

[2021-06-30 13:51] cannibalox opened #193 "0.9.88.2 in preview mode, it's not possible to go up a folder with `backspace`"
**Describe the bug**
in preview mode, it's not possible to go up a folder with the keyboard, `backspace` takes me back to the `search input box`

win10 logseq 0.9.88.2

[2021-07-01 03:46] MakeshVineeth commented on #18
Not just Settings, but also the Machine Learning Profile. Since FS learns a lot from our usage using ML, it would be good to also backup the ML learning progress.

[2021-07-01 05:55] MakeshVineeth opened #194 "Removing custom tag folder from Home Screen doesn't remove it immediately."
**Describe the bug**
If we delete a custom tag folder from Home Screen by right-clicking on it and choose **Remove folder**. It removes only the results from the tag folder immediately, but not the tag itself. We have to restart the FS for the complete deletion.

**To Reproduce**
Steps to reproduce the behavior:
1. Add some results to a custom tag.
2. Check Home screen for the tag you created earl

[2021-07-01 10:05] adirh3 commented on #18
@Metroid-Prime Just wondering what do you mean by "sync"? for backup I understand its option to keep additional folder of settings/ml training.
Also @samwzlim I'd recommend you using the portable version since it will read settings from the directory it's already in, this will allow you to have the same settings/data for multiple accounts.

[2021-07-01 13:25] MakeshVineeth opened #195 "Ability to Switch System Theme right within Fluent Search"
Whenever we wanted to change the theme of Windows OS to Light/Dark Theme, we have to go all the way to System Settings > Personalization > Colors > Choose Theme from Drop Down Menu. That is a long way to just change a system theme. Instead, I would really like to have a shortcut `Switch System Theme` right within Fluent Search that changes the theme in few steps. Pressing Enter on that result shou

[2021-07-01 13:36] adirh3 commented on #195
@MakeshVineeth develop a plugin for it, it's should be relatively easy

[2021-07-01 13:57] MakeshVineeth commented on #195
Since it is a single shortcut, isn't it better to embed it in FS instead of having a separate plugin?

Because I felt changing setting something like System Theme is really common.

[2021-07-01 14:22] Nomad-0 commented on #195
I think having it in built-in commands would be really great

[2021-07-01 15:10] Mr-Frankenstein opened #196 "Pinned results navigation error"
**Describe the bug**
I have to press the right arrow key two times to go from the **first pinned result** to the **second one**

**To Reproduce**
Steps to reproduce the behavior:
1. Pin two results on the home screen
2. Trigger FS
3. Press the _down arrow key_
4. navigate to the **second pinned result** using the _right arrow_
5. see the error

**Expected behavior**
I should be able to navigate to

[2021-07-01 18:41] hpr1999 opened #197 "Allow FS to move windows to the current VD"
**Is your feature request related to a problem? Please describe.**
I use Virtual Desktops frequently and thus sometimes want to interact with a Window on another Desktop.
FS supports moving *to* a window open on another VD, but sometimes I would prefer the window to **come to me**, so to move to the current VD.

**Describe the solution you'd like**
I would like an option for Process-Search results

[2021-07-01 21:02] adirh3 commented on #177
@lucius346346 How does it show in the start menu?
Seems like this app developer made weird 256x256 icon, I can change all icons to 128x128 but then they all lose quality

[2021-07-01 22:36] Metroid-Prime commented on #18
@adirh3  I think @samwzlim  made the comment about sync.   Sam - what did you mean by that?

[2021-07-01 22:53] adirh3 commented on #13
@Metroid-Prime any update?

[2021-07-01 23:47] adirh3 commented on #150
This issue has been potentially fixed in version 0.9.88.3

[2021-07-01 23:47] adirh3 commented on #178
This issue has been potentially fixed in version 0.9.88.3

[2021-07-01 23:47] adirh3 commented on #190
This issue has been potentially fixed in version 0.9.88.3

[2021-07-02 02:06] Femtometer opened #198 "An option to stop FS automatically if OS version is not supported"
**Describe the bug**
When I run it, CPU usage increase to 100%.

![截屏_2021-07-02_09-07-29](https://user-images.githubusercontent.com/5461891/124209915-0fc47580-db1d-11eb-8af0-c989ae885922.png)

**Sorry, I didn't see that "Windows7 Not Supported". Please close this issue.**

[2021-07-02 02:17] Femtometer commented on #198
Would be better if it can verify the os version then stop when not supported.

[2021-07-02 02:25] Nomad-0 commented on #150
closing as the enhancement is implemented.

[2021-07-02 02:25] #150 closed

[2021-07-02 02:26] #178 closed

[2021-07-02 03:03] MakeshVineeth commented on #179
Also facing in plugins window:

![2021-07-02](https://user-images.githubusercontent.com/19371684/124214571-126c9e00-db10-11eb-9948-c17936c962be.png)

[2021-07-02 03:05] Nomad-0 commented on #196
@Mr-Frankenstein this issue is seemed to be solved, please check and close if it is.

[2021-07-02 06:31] lucius346346 commented on #177
It looks normal. Also in other apps like Wox. Shouldn't FW retrieve icon at whatever size it currently need? It seems this program has multiple icons 16x16, 32,32 and so on inside exetuable.

[2021-07-02 07:05] Mr-Frankenstein commented on #196
This issue is fixed. You can close it now

[2021-07-02 11:02] cannibalox opened #199 "preview window (fluent native) steals focus form the search bar"
**Describe the bug**
the preview window (fluent) is now stealing focus and in case it opens on a text file or binary, it will be in edit mode... I need to `alt tab` my way back to the search bar (or use the mouse)
if `preview > open with the search window` is on, that makes it very cumbersome to use FS :
 * one can inadvertently input text in the prevew area instead of making a search due to the w

[2021-07-02 11:13] cannibalox opened #200 "[preview window] (Quicklook) : will not auto close with FS, will not remember previous position"
**Describe the bug**
0.9.88.3 portable  :
preview / quicklook will not auto close with FS and `open at center: off` is not  working (preview/quicklook is always at the center)

**Repro**
`preview > open with search : on` and `open at center : off`
* press `alt ctrl` to invoke fs + preview :
     * search bar opens, preview opens in the center , diregarding `open at center : off`
* press `alt ctrl`

[2021-07-02 11:37] #196 closed

[2021-07-02 15:13] hpr1999 commented on #18
I can't say what @samwzlim meant, but personally, I could also see a lot of value in a way to optionally synchronize FS-settings via some kind of cloud service, or something like OneDrive/GDrive. Personally, I'm using FS on 3 devices now, which already makes manual synchronization a bit annoying.

A more manual way of doing that might be allowing the user to choose their settings-directory. (So th

[2021-07-02 15:36] MakeshVineeth commented on #18
Just sharing some options for cloud storage:

- Visual Studio Code and some extensions uses GitHub to synchronize data, it can also be an option. There can be no privacy risk here as a private repository/Gist will be created in user's own GitHub account and store data in it. Example: [Settings Sync](https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync) extension.
- OneDrive,

[2021-07-02 15:41] hpr1999 commented on #18
I agree with all of those.
I suppose some more privacy-centred people won't like any of those options, but then again, they will probably just _not_ enable the feature anyway.

[2021-07-02 15:45] MakeshVineeth commented on #145
Some overlapping issues:

![image](https://user-images.githubusercontent.com/19371684/124298958-817edc80-db7a-11eb-8842-7a180b77e8ea.png)

[2021-07-02 15:47] MakeshVineeth commented on #190
Confirming the fix. Closing.

[2021-07-02 15:48] MakeshVineeth commented on #18
Agreed, people can disable the Online Sync feature if not needed 👍

[2021-07-02 15:52] MakeshVineeth commented on #13
Works fine from my end.

![image](https://user-images.githubusercontent.com/19371684/124299861-87c18880-db7b-11eb-9e9a-30f2f811c5dd.png)

@Metroid-Prime @Nomad-0 Can you guys confirm this on latest version?

[2021-07-02 17:04] Nomad-0 commented on #13
I'm not being able to find it again, which I think because I limited the number of the _max search results_ to 30

![image](https://user-images.githubusercontent.com/76395594/124307020-04a72f00-db89-11eb-9601-c20387b84388.png)

I think the best would be to indicate fs settings as _**options**_ or _**preferences**_ or something like this, while keeping the _settings_ for system settings only

[2021-07-02 17:30] adirh3 commented on #13
Can you validate this is the issue by increasing the max results cap?

[2021-07-02 21:27] Chance92 opened #201 "Can't open folder after first search when invoking FS on desktop"
**Describe the bug**
Can't open folder after first search when invoking FS on desktop.

**To Reproduce**
1. Make sure you are on desktop;
2. Invoke FS, search for a folder and open it with Enter key;
3. Minimise the folder window, so that you are back to desktop;
4. Invoke FS, search for the same folder and open it with Enter key. Somehow the folder will stay minimised (bug1);
5. Make sure you are

[2021-07-02 21:36] Chance92 opened #202 "Option for disabling "Recent" in home screen"
**Is your feature request related to a problem? Please describe.**
The "Recent" panel in the home screen is very useful, but can be a problem during online meeting.

**Describe the solution you'd like**
I would like to have an option to disable the "Recent" and leave the search bar only.

[2021-07-02 22:53] adirh3 commented on #202
@Chance92 wouldn't that be Settings -> Appearance -> Search style -> SearchBarOnly?
Do you want only the recent to hide or pinned as well?

[2021-07-02 22:56] adirh3 commented on #200
@cannibalox There is no way currently to control QuickLook in any way AFAIK, it's API is only "Open {path}"

[2021-07-02 22:57] #185 closed

[2021-07-02 23:00] Chance92 commented on #202
@adirh3 Yes I would like to hide Recent. I am using search bar only, but I can still see recent when invoking FS:
![image](https://user-images.githubusercontent.com/85488695/124335081-01b03c80-db91-11eb-83d6-b0c7378b71c3.png)
Is "Recent" actually part of the search bar? I thought the search bar only consists of the input box on the top.

[2021-07-03 02:45] Nomad-0 commented on #202
It is temporary and will be solved once Home Screen is completely implemented, Then the **Search bar only** option will have only the search bar like before. Also, I believe the issue is the same as #175. So, closing it for now.

[2021-07-03 02:45] #202 closed

[2021-07-03 04:22] Metroid-Prime commented on #13
search tag only OFF, but I still don't see it.

I put the search results max to 500 and tried to scroll through hundreds of items, but I didn't see that gear icon. I'm still suffering from the ? Question mark icon issue.

Ideally the settings (like Listary) should be routed to the very top to avoid this.
![image](https://user-images.githubusercontent.com/1836362/124342806-8a23e280-db7b-11eb-8939-8

[2021-07-03 04:23] Metroid-Prime commented on #198
At the very least a very obvious warning on first startup saying Windows 7 is not supported and will not work properly.

I don't think we should stop people from using it just because they're on a specific system.

[2021-07-03 04:27] Metroid-Prime opened #203 "Display glitch in plugin search field"
![image](https://user-images.githubusercontent.com/1836362/124342879-26e68000-db7c-11eb-8fe5-5d1dbc199cfd.png)

The search magnifying glass runs into the plugin text. My Apologies & please close if this is a duplicate.

[2021-07-03 04:29] Metroid-Prime commented on #203
This has been reported in issue #179.  Closing

https://github.com/adirh3/Fluent-Search/issues/179

[2021-07-03 04:29] #203 closed

[2021-07-03 05:48] Nomad-0 commented on #198
Actually, FS lost the compatibility with Windows 7 after the implementation of some new features, thus, we added it on the front page of GitHub that FS no longer supports Windows 7. (The compatibility might come back in the future if enough users want it) (#173)

However, **Adir is working on FS not to run at all if the OS version is not supported**. I'd like to close the issue after the implement

[2021-07-03 12:47] adirh3 commented on #201
@Chance92 Thanks for the repro steps, much appreciated

[2021-07-03 17:20] adirh3 commented on #129
@ScarletKing-001 I believe this is fixed, if not reopen this

[2021-07-03 17:20] #129 closed

[2021-07-03 17:21] adirh3 commented on #122
Both settings section are now collapsed by default, closing this

[2021-07-03 17:21] #122 closed

[2021-07-03 18:02] #111 closed

[2021-07-03 18:18] adirh3 commented on #51
Duplicate with #6

[2021-07-03 18:18] #51 closed

[2021-07-03 22:58] adirh3 commented on #142
This issue has been potentially fixed in version 0.9.88.4

[2021-07-03 22:58] adirh3 commented on #145
This issue has been potentially fixed in version 0.9.88.4

[2021-07-03 22:58] adirh3 commented on #201
This issue has been potentially fixed in version 0.9.88.4

[2021-07-03 23:09] Chance92 commented on #201
Thanks. I just checked with 0.9.88.4. It seems bug1 and bug2 are fixed, but bug3 remains. Besides, when I try to open a different folder, FS will switch the current folder window, regardless of minimisation, to the new folder, instead of opening a new window. Is this intended behaviour?

[2021-07-04 00:24] Chance92 opened #204 "FS crashes when couldn't find results"
**Describe the bug**
FS would crash when the search term couldn't yield any results.

**To Reproduce**
Steps to reproduce the behaviour:
1. Invoke FS
2. Enter a search term that doesn't match anything on your computer, either meaningful words or something like adfybasefaiob
3. If FS couldn't find anything, it would crash after a few seconds.

**Expected behavior**
Not to crash.

**Screenshots**
![

[2021-07-04 02:29] Nomad-0 commented on #142
solved on my end

[2021-07-04 04:47] MakeshVineeth commented on #145
Confirming the fix. Closing.

[2021-07-04 04:47] #145 closed

[2021-07-04 04:50] MakeshVineeth commented on #142
Yes, works fine for me too. @Metroid-Prime Can you confirm the same?

[2021-07-04 05:00] MakeshVineeth commented on #181
@adirh3 I also feel that GitHub Wiki is much better way to have documentation instead of website blog as everyone can easily contribute it, frequent updates can be made as compared to website blog and GitHub Markdown is really good. As part of this suggestion, can you point the plugins guide link in your FS Plugins Window to here: https://github.com/adirh3/Fluent-Search/wiki/3.x-Plugins-Developer-

[2021-07-04 06:55] MakeshVineeth commented on #160
Facing the same text typing lag in 0.9.88.4; But I observed something: Setting the File Indexer to Windows Search seems to smoothen up the things a little bit.

[2021-07-04 07:58] adirh3 commented on #142
No need so many people confirming it.
If it does not work for anyone feel free to reopen this.

[2021-07-04 07:58] #142 closed

[2021-07-04 11:25] christubuntu opened #205 "Support drag and drop onto Freefilesync"
**Is your feature request related to a problem? Please describe.**
Drag and drop a folder onto Freefilesync (freefilesync.org/) doesn't work. Idk if it's a bug or not, so I filed this under Request

As seen in this recording, I can drag the directory from File Explorer to Freefilesync, but can't when dragging from FF

https://user-images.githubusercontent.com/55885756/124383175-417b3f00-dccb-11eb-

[2021-07-04 14:20] cannibalox commented on #200
but the behavior has changed in latest versions.
in former fluent, when the quicklook preview opened, it didn't steal the focus and it used to close with the main fs window.
Now it closes on the second shortcut.

[2021-07-05 17:35] Mr-Frankenstein opened #206 "Settings resizing error when maximizing"
**Describe the bug**
When FS settings is maximized, all the settings don't resize.

**To Reproduce**
Steps to reproduce the behavior:
1. Open FS settings
2. Click on the maximize icon
3. See error

**Expected behavior**
All the settings should resize.

**Screenshots**
![image](https://user-images.githubusercontent.com/85425543/124504266-bdb57580-dde4-11eb-87b5-0aca49c3f373.png)

**Desktop (please

[2021-07-06 10:54] meathrel opened #207 "Hotkey gets lost on Reboot"
**Describe the bug**
The hotkey on the files application gets lost after a reboot

**To Reproduce**
Steps to reproduce the behavior:
1. Set a shortcut key for the files application
2. Verify that the shortcut key works
3. Reboot
4. Use shortcut key and it will not open file search
5. Reset in app and it will then work until next reboot.

**Expected behavior**
Shortcut is retained after reboot

**D